.light-icon,
.home,
.multimedia,
.wash-machine {
    width: 24px;
    height: 24px;
}

.calc-form {
    * {
        font-size: 1rem;
    }

    &__string {
        &>*:first-child {
            flex: 0 0 38%;
            color: var(--bs-blue);
        }

        &>*:last-child {
            flex: 1 1 100%;
            color: var(--bs-blue);
        }

        &.headers * {
            color: #828c97;
        }

        &>p {
            @media (max-width: 768px) {
                font-size: 0.875rem;
            }
        }
    }

    &__description {
        font-size: 0.75rem;
    }

    .form-control {
        @media (max-width: 768px) {
            font-size: 0.875rem;
        }
    }
}

.calculator__result {
    max-width: 550px;

    @media (max-width: 550px) {
        border-radius: 0 !important;
    }
}

.calculator__text {
    @media (max-width: 550px) {
        font-size: 0.75rem;
    }
}

.patrol-calculator {
    &__block {
        background: var(--extra-light-background);

        h2 {
            font-size: 1.125rem;
        }

        p {
            @media (max-width: 992px) {
                color: var(--bs-blue);
            }
        }

        &>p {
            @media (max-width: 550px) {
                font-size: 10px;
            }
        }
    }
}