<section class="container reviews-page mt-md-8 mt-5 mb-md-10 pb-md-10 mb-9 pb-3">
  <h1 class="mb-0 vacancy-header">Видео</h1>

  <div class="reviews-page__filters d-flex gap-md-2 gap-1 align-items-center mt-md-4 mt-3 flex-wrap"
    bis_skin_checked="1">
    <button class="reviews-page__filter buy-page__filter lh-base py-1 fw-semibold px-md-4 px-3 active text-nowrap"
      data-category="about_product">Все</button>
    <button
      class="reviews-page__filter buy-page__filter lh-base py-1 fw-semibold px-md-4 px-3 text-nowrap">Инструкции</button>
    <button
      class="reviews-page__filter buy-page__filter lh-base py-1 fw-semibold px-md-4 px-3 text-nowrap">Обзоры</button>
    <button class="reviews-page__filter buy-page__filter lh-base py-1 fw-semibold px-md-4 px-3 text-nowrap">Полезные
      видео</button>
  </div>

  <div class="reviews-page__videos d-grid gap-md-6 gap-4 mt-lg-9 mt-md-8 mt-5">
    <div class="video-review rounded-md-6 rounded-4 overflow-hidden">
      <a href="#" id="video-page-6" data-iframe="true"
        data-src="https://rutube.ru/play/embed/85a6ab2db98dfda4735d247bd21fc0eb"
        class="position-relative overflow-hidden w-100 d-block video-review__video"
        data-lg-id="a5110d4b-b50a-46b6-9e69-b6f1e21cd6d9">
        <img src="https://rutube.ru/api/video/85a6ab2db98dfda4735d247bd21fc0eb/thumbnail/?redirect=1" alt="Rutube Video"
          class="object-fit-cover position-absolute w-100 h-100" />
        <svg class="position-absolute player top-50 start-50 translate-middle z-3">
          <use xlink:href="./img/svg/sprite.svg#player2"></use>
        </svg>
      </a>

      <div class="video-review__wrapper mt-4 px-md-6 pb-md-6 px-4 pb-4">
        <p class="semibold">Инструкция по эксплуатации дизельного генератора AKSA APD 145 - контроллер Datacom D500</p>
      </div>
    </div>
    <div class="video-review rounded-md-6 rounded-4 overflow-hidden">
      <a href="#" id="video-page-1" data-iframe="true"
        data-src="https://rutube.ru/play/embed/85a6ab2db98dfda4735d247bd21fc0eb"
        class="position-relative overflow-hidden w-100 d-block video-review__video"
        data-lg-id="a5110d4b-b50a-46b6-9e69-b6f1e21cd6d9">
        <img src="https://rutube.ru/api/video/85a6ab2db98dfda4735d247bd21fc0eb/thumbnail/?redirect=1" alt="Rutube Video"
          class="object-fit-cover position-absolute w-100 h-100" />
        <svg class="position-absolute player top-50 start-50 translate-middle z-3">
          <use xlink:href="./img/svg/sprite.svg#player2"></use>
        </svg>
      </a>

      <div class="video-review__wrapper mt-4 px-md-6 pb-md-6 px-4 pb-4">
        <p class="semibold">Какой моторесурс у генератора?</p>
      </div>
    </div>
    <div class="video-review rounded-md-6 rounded-4 overflow-hidden">
      <a href="#" id="video-page-2" data-iframe="true"
        data-src="https://rutube.ru/play/embed/85a6ab2db98dfda4735d247bd21fc0eb"
        class="position-relative overflow-hidden w-100 d-block video-review__video"
        data-lg-id="a5110d4b-b50a-46b6-9e69-b6f1e21cd6d9">
        <img src="https://rutube.ru/api/video/85a6ab2db98dfda4735d247bd21fc0eb/thumbnail/?redirect=1" alt="Rutube Video"
          class="object-fit-cover position-absolute w-100 h-100" />
        <svg class="position-absolute player top-50 start-50 translate-middle z-3">
          <use xlink:href="./img/svg/sprite.svg#player2"></use>
        </svg>
      </a>

      <div class="video-review__wrapper mt-4 px-md-6 pb-md-6 px-4 pb-4">
        <p class="semibold">Что такое дизель-генераторная установка (ДГУ)?</p>
      </div>
    </div>
    <div class="video-review rounded-md-6 rounded-4 overflow-hidden">
      <a href="#" id="video-page-3" data-iframe="true"
        data-src="https://rutube.ru/play/embed/85a6ab2db98dfda4735d247bd21fc0eb"
        class="position-relative overflow-hidden w-100 d-block video-review__video"
        data-lg-id="a5110d4b-b50a-46b6-9e69-b6f1e21cd6d9">
        <img src="https://rutube.ru/api/video/85a6ab2db98dfda4735d247bd21fc0eb/thumbnail/?redirect=1" alt="Rutube Video"
          class="object-fit-cover position-absolute w-100 h-100" />
        <svg class="position-absolute player top-50 start-50 translate-middle z-3">
          <use xlink:href="./img/svg/sprite.svg#player2"></use>
        </svg>
      </a>

      <div class="video-review__wrapper mt-4 px-md-6 pb-md-6 px-4 pb-4">
        <p class="semibold">Устройство автоматического ввода резерва</p>
      </div>
    </div>
    <div class="video-review rounded-md-6 rounded-4 overflow-hidden">
      <a href="#" id="video-page-4" data-iframe="true"
        data-src="https://rutube.ru/play/embed/85a6ab2db98dfda4735d247bd21fc0eb"
        class="position-relative overflow-hidden w-100 d-block video-review__video"
        data-lg-id="a5110d4b-b50a-46b6-9e69-b6f1e21cd6d9">
        <img src="https://rutube.ru/api/video/85a6ab2db98dfda4735d247bd21fc0eb/thumbnail/?redirect=1" alt="Rutube Video"
          class="object-fit-cover position-absolute w-100 h-100" />
        <svg class="position-absolute player top-50 start-50 translate-middle z-3">
          <use xlink:href="./img/svg/sprite.svg#player2"></use>
        </svg>
      </a>

      <div class="video-review__wrapper mt-4 px-md-6 pb-md-6 px-4 pb-4">
        <p class="semibold">Синхронизация дизельных генераторов</p>
      </div>
    </div>
    <div class="video-review rounded-md-6 rounded-4 overflow-hidden">
      <a href="#" id="video-page-5" data-iframe="true"
        data-src="https://rutube.ru/play/embed/85a6ab2db98dfda4735d247bd21fc0eb"
        class="position-relative overflow-hidden w-100 d-block video-review__video"
        data-lg-id="a5110d4b-b50a-46b6-9e69-b6f1e21cd6d9">
        <img src="https://rutube.ru/api/video/85a6ab2db98dfda4735d247bd21fc0eb/thumbnail/?redirect=1" alt="Rutube Video"
          class="object-fit-cover position-absolute w-100 h-100" />
        <svg class="position-absolute player top-50 start-50 translate-middle z-3">
          <use xlink:href="./img/svg/sprite.svg#player2"></use>
        </svg>
      </a>

      <div class="video-review__wrapper mt-4 px-md-6 pb-md-6 px-4 pb-4">
        <p class="semibold">Сравнение дизельных и бензиновых генераторов</p>
      </div>
    </div>
    <div class="video-review rounded-md-6 rounded-4 overflow-hidden">
      <a href="#" id="video-page-7" data-iframe="true"
        data-src="https://rutube.ru/play/embed/85a6ab2db98dfda4735d247bd21fc0eb"
        class="position-relative overflow-hidden w-100 d-block video-review__video"
        data-lg-id="a5110d4b-b50a-46b6-9e69-b6f1e21cd6d9">
        <img src="https://rutube.ru/api/video/85a6ab2db98dfda4735d247bd21fc0eb/thumbnail/?redirect=1" alt="Rutube Video"
          class="object-fit-cover position-absolute w-100 h-100" />
        <svg class="position-absolute player top-50 start-50 translate-middle z-3">
          <use xlink:href="./img/svg/sprite.svg#player2"></use>
        </svg>
      </a>

      <div class="video-review__wrapper mt-4 px-md-6 pb-md-6 px-4 pb-4">
        <p class="semibold">Какой расход топлива у дизельных генераторов?</p>
      </div>
    </div>
    <div class="video-review rounded-md-6 rounded-4 overflow-hidden">
      <a href="#" id="video-page-8" data-iframe="true"
        data-src="https://rutube.ru/play/embed/85a6ab2db98dfda4735d247bd21fc0eb"
        class="position-relative overflow-hidden w-100 d-block video-review__video"
        data-lg-id="a5110d4b-b50a-46b6-9e69-b6f1e21cd6d9">
        <img src="https://rutube.ru/api/video/85a6ab2db98dfda4735d247bd21fc0eb/thumbnail/?redirect=1" alt="Rutube Video"
          class="object-fit-cover position-absolute w-100 h-100" />
        <svg class="position-absolute player top-50 start-50 translate-middle z-3">
          <use xlink:href="./img/svg/sprite.svg#player2"></use>
        </svg>
      </a>

      <div class="video-review__wrapper mt-4 px-md-6 pb-md-6 px-4 pb-4">
        <p class="semibold">Инструкция по эксплуатации дизельного генератора AKSA APD200</p>
      </div>
    </div>
    <div class="video-review rounded-md-6 rounded-4 overflow-hidden">
      <a href="#" id="video-page-9" data-iframe="true"
        data-src="https://rutube.ru/play/embed/85a6ab2db98dfda4735d247bd21fc0eb"
        class="position-relative overflow-hidden w-100 d-block video-review__video"
        data-lg-id="a5110d4b-b50a-46b6-9e69-b6f1e21cd6d9">
        <img src="https://rutube.ru/api/video/85a6ab2db98dfda4735d247bd21fc0eb/thumbnail/?redirect=1" alt="Rutube Video"
          class="object-fit-cover position-absolute w-100 h-100" />
        <svg class="position-absolute player top-50 start-50 translate-middle z-3">
          <use xlink:href="./img/svg/sprite.svg#player2"></use>
        </svg>
      </a>

      <div class="video-review__wrapper mt-4 px-md-6 pb-md-6 px-4 pb-4">
        <p class="semibold">Инструкция по эксплуатации дизельного генератора Energo AD60-Т400С-S 60 кВа 400В 50</p>
      </div>
    </div>
  </div>
</section>