.city-slider {
  .container {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  &__item {
    min-height: 200px;

    img {
      top: 0;
      left: 0;
      opacity: 0.8;
      border-radius: 1.5rem;
    }
  }

  &__text {
    background: rgba(6, 27, 49, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(20px);
    color: var(--bs-white);

    @media (max-width: 768px) {
      font-size: 0.75rem;

      &:first-child {
        width: 60%;
      }
    }
  }

  &__wrapper {
    background: var(--bs-primary);
    border-radius: 1.5rem;
  }

  .slider-nav-visible {
    top: 30px;
    right: 48px;

    @media (max-width: 768px) {
      top: 20px;
      right: 20px;
    }
  }

  .slider-nav {
    background: transparent;
    border: 1px solid var(--bs-white);
    opacity: 1;

    &.active {
      background: var(--bs-yellow);
      border: 1px solid var(--bs-yellow);
    }

    @media (max-width: 768px) {
      padding: 8px 11px;
    }
  }

  &__buttons {
    gap: 19px;

    @media (max-width: 768px) {
      gap: 10px;
    }

    button {
      background: transparent;
      color: var(--bs-white);
      border: 1px solid var(--bs-white);
      transition: all 0.3s ease;
      font-size: 1.125rem;

      @media (max-width: 768px) {
        font-size: 0.75rem;
      }

      &:hover {
        background: var(--bs-yellow);
        color: var(--bs-black);
        border: 1px solid var(--bs-yellow);
      }

      &.active {
        background: var(--bs-yellow);
        color: var(--bs-black);
        border: 1px solid var(--bs-yellow);
      }
    }
  }
}