.price-arenda__wrapper {
  grid-template-columns: 1fr 1fr;

  @media (max-width: 992px) {
    grid-template-columns: 1fr;
  }
}

.small-title {
  font-size: 2rem;
  line-height: 1.25;

  &.modify {
    font-size: 1.95rem;
  }

  @media (max-width: 768px) {
    font-size: 1.25rem !important;
  }
}

.gray-text {
  line-height: 28px;
  opacity: 0.5;
}

.price-arenda__item img {
  @media (max-width: 992px) {
    max-width: 70%;
  }

  @media (max-width: 768px) {
    max-width: 100%;
  }
}