.questions__wrapper {
  grid-template-columns: 1fr auto;
  border: 1px solid #ffbc38;
  border-radius: 1.5rem;
}

.questions__phone {
  max-width: 448px;
  border-radius: 1.5rem;
  background: #f6f7f8;
}

.questions {
  &__phone-link {
    font-size: 2rem;
    color: var(--bs-yellow);
  }

  &__text {
    font-size: 18px;
  }
}
