.reviews {
  .container {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  & .swiffy-slider {
    --swiffy-slider-item-count: 2.98;

    @media (max-width: 992px) {
      --swiffy-slider-item-count: 2.5;
    }

    @media (max-width: 768px) {
      --swiffy-slider-item-count: 1.9;
      --swiffy-slider-item-gap: 10px;
    }

    @media (max-width: 550px) {
      --swiffy-slider-item-count: 1.05;
    }
  }

  &__slide {
    border: 1px solid #e4e4e4;
    border-radius: 1.5rem;
    background: transparent;
    transition: all 0.3s ease;

    &:hover {
      background: var(--bs-background);

      .reviews__image {
        &:after {
          opacity: 0.5;
          visibility: visible;
        }

        .zoom {
          opacity: 1;
          visibility: visible;
        }
      }
    }

    .reviews__image {
      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background: var(--bs-blue);
        opacity: 0;
        visibility: hidden;
        width: 100%;
        height: 100%;
        transition: all 0.3s ease;
      }

      .zoom {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 5;
        width: 36px;
        height: 36px;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease;
      }
    }
  }

  .indicators {
    li {
      background-color: #d0cece;
      width: 7px !important;
      height: 7px !important;
      transition: all 0.3s ease;
      border-radius: 40px !important;
      cursor: pointer;

      &.active {
        width: 48px !important;
        height: 7px !important;
        background-color: var(--bs-blue);
      }
    }
  }

  &__link {
    font-size: 1.125rem;

    &:hover {
      text-decoration: underline;
    }

    @media (max-width: 768px) {
      background: var(--bs-background);
    }
  }
}

.quotes {
  width: 30px;
  height: 23.75px;

  @media (max-width: 768px) {
    width: 22px;
    height: 18px;
  }
}