.reviews {
  .container {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  & .swiffy-slider {
    --swiffy-slider-item-count: 2.98;

    @media (max-width: 992px) {
      --swiffy-slider-item-count: 2.5;
    }

    @media (max-width: 768px) {
      --swiffy-slider-item-count: 1.9;
      --swiffy-slider-item-gap: 10px;
    }

    @media (max-width: 550px) {
      --swiffy-slider-item-count: 1.05;
    }
  }

  &__slide {
    border: 1px solid #e4e4e4;
    border-radius: 1.5rem;
    background: transparent;
    transition: all 0.3s ease;

    &:hover {
      background: var(--bs-background);

      .reviews__image {
        &:after {
          opacity: 0.5;
          visibility: visible;
        }

        .zoom {
          opacity: 1;
          visibility: visible;
        }
      }
    }

    .reviews__image {
      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background: var(--bs-blue);
        opacity: 0;
        visibility: hidden;
        width: 100%;
        height: 100%;
        transition: all 0.3s ease;
      }

      .zoom {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 5;
        width: 36px;
        height: 36px;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease;
      }
    }
  }

  .indicators {
    li {
      background-color: #d0cece;
      width: 7px !important;
      height: 7px !important;
      transition: all 0.3s ease;
      border-radius: 40px !important;
      cursor: pointer;

      &.active {
        width: 48px !important;
        height: 7px !important;
        background-color: var(--bs-blue);
      }
    }
  }

  &__link {
    font-size: 1.125rem;

    &:hover {
      text-decoration: underline;
    }

    @media (max-width: 768px) {
      background: var(--bs-background);
    }
  }
}

.quotes {
  width: 30px;
  height: 23.75px;

  @media (max-width: 768px) {
    width: 22px;
    height: 18px;
  }
}

.reviews__dublicates {
  --swiffy-slider-item-width: 408px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  display: grid;
  align-items: center;
  grid: auto/auto-flow -webkit-max-content;
  grid: auto/auto-flow max-content;
  grid-auto-rows: 100%;
  grid-auto-columns: var(--swiffy-slider-item-width);
  grid-auto-flow: column;
  grid-gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
  scrollbar-width: none;
  scrollbar-color: rgba(0, 0, 0, 0.4) rgba(0, 0, 0, var(--swiffy-slider-track-opacity));
  background-clip: padding-box;

  &>* {
    scroll-snap-align: start;
    opacity: 0.4;
    cursor: pointer;

    &.hide {
      opacity: 0;
      visibility: hidden;
    }

    &:first-child,
    &:last-child {
      border: none;
    }
  }
}

.reviews-dublicates-wrapper {
  transform: translate(0, -389px);
  width: 2000px;
  margin: 0 auto;

  @media (max-width: 1400px) {
    display: none;
  }
}