.tabs {
  .accordion-item {
    background-color: var(--extra-light-background);
    transition: all .3s ease;

    &:not(.active) {
      background-color: var(--bs-white);
    }

    &.active {
      border: 1px solid transparent !important;
    }
  }

  .accordion-button {
    box-shadow: none !important;
    background: transparent !important;
    font-size: 1.125rem !important;
    transition: all 0.3s ease;

    &:not(.collapsed)::after {
      background-color: #1F3246;
    }

    @media (max-width: 768px) {
      font-size: 1rem !important;
    }
  }

  .accordion-body {
    font-size: 1rem !important;

    @media (max-width: 768px) {
      font-size: 0.875rem !important;
    }
  }

  .accordion-button::after {
    min-height: 32px;
    min-width: 32px;
    display: block;
    border: 1px solid #e7e9eb;
    background-position: center;
    border-radius: 50%;
    background-color: var(--bs-white);
    transition: all 0.3s ease;

    @media (max-width: 768px) {
      min-width: 32px;
      min-height: 32px;
      background-size: 10px;
    }
  }

  .accordion-item {
    border-radius: 1.5rem;
  }
}