.to-page {
    @media (max-width: 768px) {
        h2 {
            font-size: 1.25rem !important;
        }

        .main-slider__title {
            font-size: 1.5rem !important;
            max-width: 100%;
        }
    }
}

.to-card {
    min-height: 0 !important;
    height: auto !important;

    &__wrapper {
        @media (max-width: 768px) {
            height: auto !important;
            min-height: 0 !important;

            &>p:first-child {
                font-size: 1rem !important;
            }
        }
    }

    &__title {
        font-size: 1.5rem !important;

        @media (max-width: 768px) {
            font-size: 1rem !important;
        }
    }

    &__description {
        @media (max-width: 768px) {
            font-size: 0.875rem;
        }
    }

    &__svg {
        @media (max-width: 768px) {
            width: 40px;
            height: 40px;
        }
    }
}

.variant-to {
    background: var(--extra-light-background);

    &__name {
        padding: 28px 15px;
        background: var(--bs-warning);

        @media (max-width: 768px) {
            padding: 0;
            width: 64px;
            font-size: 1.125rem !important;
            height: 64px;
        }
    }
}

@media (max-width: 768px) {
    .to-variants {
        flex-wrap: nowrap;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
        padding-bottom: 1rem;
    }

    .to-variants__variant {
        flex: 0 0 calc(50% - 1rem) !important;
        /* два элемента в видимой области */
        scroll-snap-align: start;
    }

    /* Скрываем полосу прокрутки для красоты */
    .to-variants::-webkit-scrollbar {
        display: none;
    }
}

.to-values.container {
    @media (max-width: 768px) {
        padding-right: 0 !important;
    }
}

.other_energy-color {
    color: #CDD1D6
}

.to-table {
    @media (max-width: 768px) {
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;

        th {
            font-size: 0.875rem !important;

            &:not(:first-child) {
                min-width: 90px;
            }

            &:first-child {
                min-width: 208px;
            }
        }
    }

    thead>*>* {
        background: #828C97 !important;
    }

    tbody>*>* {
        background: var(--light-background);
        border: transparent;

        @media (max-width: 768px) {
            font-size: 0.875rem;
        }
    }

    tbody>tr {
        border-bottom: 1px solid var(--bs-table-border-color);
    }

    tbody>tr:last-child {
        border: 1px solid transparent;
    }
}

.w-23 {
    width: 23%;
}

.bright-energy {
    color: #CDD1D6;
}

.to-table {
    border: 1px solid #E7E9EB
}

.to__small-title {
    font-size: 1.5rem;

    @media (max-width: 768px) {
        font-size: 1.125rem;
    }
}

.instruction-buy__icon {
    color: #828C97
}

.to__background-paddings {
    margin-top: 2.5rem;
    padding: 2.5rem 0;
}

.no-hyphens {
    hyphens: none;
}

.to-file-icon {
    @media (max-width: 768px) {
        width: 20px !important;
        height: 20px !important;
    }
}

.to-file-size {
    @media (max-width: 768px) {
        font-size: 0.875rem !important;
    }
}