.big-form__wrapper {
  background: #061b31;
  color: var(--bs-white);
  border-radius: 1.5rem;
}

input:focus::-webkit-input-placeholder {
  color: transparent !important;
}
input:focus:-moz-placeholder {
  color: transparent !important;
} /* FF 4-18 */
input:focus::-moz-placeholder {
  color: transparent !important;
} /* FF 19+ */
input:focus:-ms-input-placeholder {
  color: transparent !important;
} /* IE 10+ */

textarea:focus::-webkit-input-placeholder {
  color: transparent !important;
}
textarea:focus:-moz-placeholder {
  color: transparent !important;
} /* FF 4-18 */
textarea:focus::-moz-placeholder {
  color: transparent !important;
} /* FF 19+ */
textarea:focus:-ms-input-placeholder {
  color: transparent !important;
} /* IE 10+ */

.big-form {
  .container.px-0 {
    @media (max-width: 768px) {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }
  h2 span {
    color: var(--bs-yellow);
  }

  h2 {
    @media (max-width: 550px) {
      font-size: 1.25rem;
    }
  }

  &__description {
    color: rgba(255, 255, 255, 0.7);
    line-height: 1.4;

    &.small {
      font-size: 0.75rem;

      @media (max-width: 768px) {
        br {
          display: none;
        }

        width: 90%;
        margin: 0 auto;
      }
    }
  }

  &__background-image {
    opacity: 0.05;
  }

  &__person-image {
    bottom: 0;
    left: 0;

    @media (max-width: 1250px) {
      display: none;
    }
  }

  &__input {
    background: rgba(255, 255, 255, 0.2);
    color: var(--bs-white);
    border: none;
    outline: none;
    min-width: 298px;

    &.white {
      background: var(--bs-white);
      color: #7c8692;

      &::placeholder {
        color: #7c8692;
      }
    }

    @media (max-width: 992px) {
      min-width: 220px;
    }

    @media (max-width: 768px) {
      min-width: 100%;
    }

    &::placeholder {
      color: var(--bs-white);
    }
  }
}
