.generators {
  background: var(--bs-background);

  .tab-content {
    @media (max-width: 1300px) {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    @media (max-width: 992px) {
      padding: 0;
    }
  }
}

.tabs-header__button {
  font-size: 0.875rem;
  background: var(--bs-white);
  border: 1px solid #efefef;
  border-radius: 3rem;
  height: fit-content;

  @media (max-width: 768px) {
    border: 1px solid rgba(6, 27, 49, 0.2);
  }

  &.active {
    background: var(--bs-blue);
    border: 1px solid var(--bs-blue);
    color: var(--bs-white);
  }

  &:hover {
    background: var(--bs-blue);
    border: 1px solid var(--bs-blue);
    color: var(--bs-white);
  }
}

.tabs-header {
  ul {
    border-bottom: 1px solid rgba(6, 27, 49, 0.06);
  }

  @media (max-width: 768px) {
    ul {
      border-bottom: none;
    }

    .nav-link {
      font-weight: 700;
      font-size: 1.125rem;
      padding: 0;
      border-bottom: none !important;
    }
  }
}

.tab-cards {
  grid-template-columns: 1fr 1fr 1fr 1fr;

  &.type {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.type-generator-first {
  max-width: 280px;
}

.type-generator-second {
  max-width: 237px;
}

.type-generator-third {
  max-width: 233px;
}

.c-yellow {
  color: var(--bs-yellow) !important;
}

.tab-card {
  background: var(--bs-white);
  border: 2px solid #efefef;
  transition: all 0.3s ease;
  overflow: hidden;

  &__background-image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    object-fit: cover;
    pointer-events: none;
    opacity: 0;
    transition: all 0.3s ease;
  }

  &:not(.type):hover {
    background-color: var(--bs-blue);
    color: var(--bs-white);

    .tab-card__background-image {
      opacity: 0.15;
    }

    .tab-card__variants p a {
      color: var(--bs-white);
      transition: all .3s ease;

      &:hover {
        color: var(--bs-yellow);
        text-decoration: underline;
      }
    }
  }

  &__variants {
    grid-template-columns: 1fr 1fr;

    p {
      color: rgba(6, 27, 49, 0.7);
      transition: color 0.3s ease;
      word-break: break-word;
    }
  }
}

.energy {
  width: 14px;
  height: 20px;
}

@media (max-width: 992px) {
  .slider .xs-x-scroll>div {
    scroll-snap-align: center;
  }

  .xs-x-scroll.tab-cards {
    padding: 0 1rem;
  }

  .xs-x-scroll {
    overflow-x: auto;
    flex-direction: row;
    flex-wrap: nowrap;
    scroll-snap-type: x mandatory;
    scroll-padding: 0;
  }

  .xs-x-scroll>* {
    margin-bottom: 0 !important;
  }

  .xs-x-scroll>div {
    min-width: 95%;
    scroll-snap-align: start;
    padding: 0;
  }

  .xs-x-scroll>div:last-of-type {
    overflow-y: hidden;
  }

  .xs-x-scroll>div:not(:last-of-type) {
    overflow-y: hidden;
    flex-shrink: inherit;
    margin-right: 0.5rem;
  }

  .tab-cards.xs-x-scroll>div {
    min-width: 46%;
  }
}

@media (max-width: 768px) {
  .tab-cards.xs-x-scroll>div {
    min-width: 72%;
  }
}