:root {
  --disabled-color: rgba(6, 27, 49, 0.7);
  --mobile-icon-color: rgba(6, 27, 49, 0.5);
  --light-background: #fbfbfb;
  --extra-light-background: #f2f3f4;
  --border-gray: #cdd1d6;
  --border-light: #e7e9eb;
  --orange-color: #d97706;
  --yellow-color: #fbbf24;
  --player-yellow-color: #f59e0b;
}

body {
  font-family: "Overpass", "Adjusted Arial Fallback";
  font-size: 1rem;
  color: var(--bs-blue);
  line-height: 1.2;
  overflow-x: hidden;
}

p {
  hyphens: auto;
  margin: 0;
}

ul {
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: var(--container-width);
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  margin: 0 auto;

  &.slider {
    @media (max-width: 1300px) {
      padding-right: 0 !important;
      padding-left: 0 !important;

      &>.tabs-header,
      &>.title,
      &>.title-description {
        padding-right: 1rem !important;
        padding-left: 1rem !important;
      }
    }
  }
}

.border-bottom-dashed {
  border-bottom: 1px dashed var(--bs-yellow);
}

.semibold {
  font-weight: 600;
}

.item-arenda {
  &__title {
    font-size: 3rem;
    font-weight: 900;

    @media (max-width: 1200px) {
      font-size: 2rem;
    }

    @media (max-width: 768px) {
      font-size: 1.5rem;
    }
  }
}

.headers {
  z-index: 1000;
}

.article-slider.container {
  @media (max-width: 1350px) {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .about-wrapper__description {
    color: #51606f;

    &.date {
      font-size: 0.75rem;
      color: var(--bs-gray);
    }
  }
}

.center-arrow {
  background: #ffffff;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(6, 27, 49, 0.05),
    0px 16px 32px rgba(6, 27, 49, 0.1);
  height: 48px;
  width: 48px;
  top: 50%;
  transform: translateY(-75%);
  opacity: 1;

  &:after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--bs-blue);
    opacity: 0.5;
  }

  &.right:after {
    transform: translate(-25%, -45%) rotate(180deg) !important;
  }
}

.center-arrow.left {
  margin-left: 0.75rem !important;
}

.center-arrow.right {
  margin-right: 0.75rem !important;
}

.center-arrow.delivery.left {
  margin-left: -1.5rem !important;

  @media (max-width: 1450px) {
    margin-left: 0.75rem !important;
  }
}

.center-arrow.delivery.right {
  margin-right: -1.5rem !important;

  @media (max-width: 1450px) {
    margin-right: 0.75rem !important;
  }
}

.breadcrumbs {
  list-style-type: none !important;

  @media (max-width: 768px) {
    padding-right: 0 !important;
  }
}

br {
  @media (max-width: 768px) {
    display: none;
  }
}

.rounded-md-6 {
  @media (min-width: 768px) {
    border-radius: 1.5rem !important;
  }
}