:root {
  --disabled-color: rgba(6, 27, 49, 0.7);
  --mobile-icon-color: rgba(6, 27, 49, 0.5);
  --background: #f6f7f8;
}

body {
  font-family: "Overpass", "Adjusted Arial Fallback";
  font-weight: 400;
  font-size: 1rem;
  color: var(--bs-blue);
  line-height: 1.2;
  overflow-x: hidden;
}

p {
  hyphens: auto;
  margin: 0;
}

ul {
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: var(--container-width);
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  margin: 0 auto;

  &.slider {
    @media (max-width: 1300px) {
      padding-right: 0 !important;
      padding-left: 0 !important;

      & > .tabs-header,
      & > .title,
      & > .title-description {
        padding-right: 1rem !important;
        padding-left: 1rem !important;
      }
    }
  }
}

.border-bottom-dashed {
  border-bottom: 1px dashed var(--bs-yellow);
}

.semibold {
  font-weight: 600;
}

.item-arenda {
  &__title {
    font-size: 3rem;
    font-weight: 900;

    @media (max-width: 1200px) {
      font-size: 2rem;
    }

    @media (max-width: 768px) {
      font-size: 1.5rem;
    }
  }
}

.headers {
  z-index: 1000;
}
