.flag {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.blocks-manufacturers {
  grid-template-columns: 1fr 1fr 1fr 1fr;

  @media (max-width: 1100px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (max-width: 850px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }

  &__block {
    background: #f6f7f8;
    border-radius: 1.5rem;
    border: none;

    &:hover {
      border: none;

      & > img {
        opacity: 0.1;
      }
    }

    &:first-child {
      grid-column: span 2;

      @media (max-width: 768px) {
        grid-column: span 1;
      }
    }

    &.tab-card:hover {
      @media (max-width: 768px) {
        background: #f6f7f8;
        color: var(--bs-primary);
      }
    }
  }
}

.block-manufacturers {
  &__company {
    a {
      padding: 5px 10px;
      display: inline-block;
    }

    background: var(--bs-white);
    border-radius: 10px;
    color: rgba(6, 27, 49, 0.7);
    position: relative;
    z-index: 995;
    margin-right: 0.3rem;
    margin-top: -0.1rem;
  }

  &__companies {
    @media (max-width: 768px) {
      max-height: 0;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease;

      &.active {
        opacity: 1;
        visibility: visible;
        margin-top: 1rem !important;
      }
    }
  }
}

.manufacturers-arrow {
  transform: translate(0, 0) !important;
  transition: all 0.3s ease;

  &.active {
    transform: translate(0, 0) scale(-1) !important;
    color: var(--bs-yellow);
  }
}
