.news-slider {
  border-radius: 1.5rem !important;

  & > img {
    border-radius: 1.5rem;
  }
}

.news-slider__block {
  border-radius: 1.5rem;

  & > p:first-child {
    font-size: 18px;

    @media (max-width: 550px) {
      font-size: 1rem;
      line-height: 1.5;
    }
  }

  & > p:nth-child(2) {
    @media (max-width: 550px) {
      font-size: 14px;
    }
  }
}

.news-slider__date {
  color: rgba(6, 27, 49, 0.4);

  @media (max-width: 550px) {
    font-size: 0.75rem;
  }
}
