.projects {
  .popular-slider__block {
    border: 1px solid #e7e9eb;
  }

  .title {
    padding-left: 2.5rem !important;

    @media (max-width: 1300px) {
      padding: 0 !important;
    }
  }

  .popular-slider__arrows-wrapper {
    top: -1rem;
  }

  .swiffy-slider.projects-slider-wrapper {
    @media (max-width: 1350px) {
      --swiffy-slider-item-count: 2.5;
    }

    @media (max-width: 992px) {
      --swiffy-slider-item-count: 2.1;
    }

    @media (max-width: 650px) {
      --swiffy-slider-item-count: 1.8;
    }

    @media (max-width: 550px) {
      --swiffy-slider-item-count: 1.35;
    }
  }

  & .about-wrapper__description {
    @media (max-width: 768px) {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
    }
  }
}
