<nav class="container mt-md-8 mt-4 breadcrumbs">
  <ul class="d-flex ps-0 flex-wrap">
    <li class="article-breadcrumbs pe-5 lh-base"><a href="#">Главная</a></li>
    <li class="article-breadcrumbs pe-5 lh-base"><a href="#">Каталог</a></li>
    <li class="article-breadcrumbs pe-5 lh-base"><a href="#">Дизельные генераторы</a></li>
    <li class="article-breadcrumbs pe-5 lh-base"><a href="#">ZEUS</a></li>
    <li class="article-breadcrumbs pe-5 lh-base">Дизельный генератор ZEUS AD12-T400R в кожухе</li>
  </ul>
</nav>