<section class="container lists mb-10 pb-lg-10">
  <h1 class="mb-0 vacancy-header mt-md-8 mt-4">Калькуляторы</h1>

  <p class="mt-md-4 mt-3 vacancies__desc">
    Пример описания компания Энерджи Групп с 2015 года занимается организацией
    систем автономного снабжения любых объектов. Для этих и иных целей
    мы поставляем двигатели Yanmar и запчасти к ним на отечественный рынок.
  </p>

  <div class="calcs__cards d-grid gap-md-6 gap-4 mt-md-9 mt-5">
    <div class="card-calc rounded-md-6 rounded-4 d-grid p-md-6 p-4 gap-md-6 gap-3">
      <div class="card-calc__image">
        <img loading="lazy" decoding="async" src="./img/calcs/calc-energy.jpg" alt="calc1" />
      </div>
      <div class="card-calc__content">
        <p class="fw-bold">Расчет расхода топлива генератора</p>
        <div>
          <button class="btn btn-primary px-3 mt-4">Подробнее</button>
        </div>
      </div>
    </div>

    <div class="card-calc rounded-md-6 rounded-4 d-grid p-md-6 p-4 gap-md-6 gap-3">
      <div class="card-calc__image">
        <img loading="lazy" decoding="async" src="./img/calcs/calc-energy2.jpg" alt="calc2" />
      </div>
      <div class="card-calc__content">
        <p class="fw-bold">Расчет расхода топлива генератора</p>
        <div>
          <button class="btn btn-primary px-3 mt-4">Подробнее</button>
        </div>
      </div>
    </div>
  </div>
</section>