.montash {
    @media (max-width: 768px) {
        background: var(--light-background);
        padding: 2.5rem 0;
        margin-top: 2.5rem;
    }
}

.montash-card {
    background: var(--extra-light-background);

    &__title {
        color: #9BA4AD;
        font-size: 1rem;
    }

    &__item {
        padding: 8px 13px;
        background: var(--bs-white);
        border-radius: 3rem;
        font-size: 0.875rem;

        @media (max-width: 768px) {
            font-size: 0.75rem;
            padding: 7px 13px;
        }
    }
}