<section class="container vacancies vacancy tabs mt-6 mb-10 pb-lg-10">
  <h1 class="mb-0 vacancy-header">Вопросы и ответы</h1>

  <div class="reviews-page__filters d-flex gap-md-2 gap-1 align-items-center mt-md-4 mt-3 flex-wrap">
    <button class="reviews-page__filter buy-page__filter lh-base py-1 fw-semibold px-md-4 px-3 active text-nowrap"
      data-category="about_product">Все</button>
    <button
      class="reviews-page__filter buy-page__filter lh-base py-1 fw-semibold px-md-4 px-3 text-nowrap">Продажа</button>
    <button
      class="reviews-page__filter buy-page__filter lh-base py-1 fw-semibold px-md-4 px-3 text-nowrap">Аренда</button>
  </div>

  <div class="vacancies-grid d-grid gap-lg-6 mt-lg-7 mt-5 pt-lg-0">
    <div class="vacancies-grid__item">
      <div class="accordion" id="faqAccordion">
        <div class="accordion-item border border-1 py-md-6 px-md-3 py-5 px-4 active">
          <h2 class="accordion-header">
            <button class="accordion-button fw-semibold lh-base py-0 px-md-12 pe-md-12 p-0 gap-1" type="button"
              data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Какие возможны способы оплаты ?
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body py-0 px-md-12 px-0 mt-md-3 mt-2 lh-base">
              <p>Мы&nbsp;работаем по&nbsp;предоплате. Возможны варианты оплаты как с&nbsp;НДС, так
                и&nbsp;без НДС.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item border border-1 mt-md-3 mt-12 py-md-6 px-md-3 py-5 px-4">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed fw-semibold py-0 px-md-12 pe-md-12 p-0" type="button"
              data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
              В какие сроки осуществляется доставка генератора ?
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body py-0 px-md-12 px-0 mt-md-3 mt-2 lh-base">
              <p>Мы&nbsp;работаем по&nbsp;предоплате. Возможны варианты оплаты как с&nbsp;НДС, так
                и&nbsp;без НДС.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item border border-1 mt-md-3 mt-12 py-md-6 px-md-3 py-5 px-4">
          <h2 class="accordion-header">
            <button class="accordion-button fw-semibold lh-base py-0 px-md-12 pe-md-12 p-0 collapsed gap-1"
              type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true"
              aria-controls="collapseThree">
              Какие сопутствующие товары предоставляются вместе с генератором ?
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body py-0 px-md-12 px-0 mt-md-3 mt-2 lh-base">
              <p>Мы&nbsp;работаем по&nbsp;предоплате. Возможны варианты оплаты как с&nbsp;НДС, так
                и&nbsp;без НДС.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item border border-1 mt-md-3 mt-12 py-md-6 px-md-3 py-5 px-4">
          <h2 class="accordion-header">
            <button class="accordion-button fw-semibold lh-base py-0 px-md-12 pe-md-12 p-0 collapsed gap-1"
              type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true"
              aria-controls="collapseFour">
              Прилагается ли к генератору инструкция по его использованию ?
            </button>
          </h2>
          <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body py-0 px-md-12 px-0 mt-md-3 mt-2 lh-base">
              <p>Мы&nbsp;работаем по&nbsp;предоплате. Возможны варианты оплаты как с&nbsp;НДС, так
                и&nbsp;без НДС.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item border border-1 mt-md-3 mt-12 py-md-6 px-md-3 py-5 px-4">
          <h2 class="accordion-header">
            <button class="accordion-button fw-semibold lh-base py-0 px-md-12 pe-md-12 p-0 collapsed gap-1"
              type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="true"
              aria-controls="collapseFive">
              Что делать клиенту, если с генератором возникают какие-то проблемы ?
            </button>
          </h2>
          <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body py-0 px-md-12 px-0 mt-md-3 mt-2 lh-base">
              <p>Мы&nbsp;работаем по&nbsp;предоплате. Возможны варианты оплаты как с&nbsp;НДС, так
                и&nbsp;без НДС.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item border border-1 mt-md-3 mt-12 py-md-6 px-md-3 py-5 px-4">
          <h2 class="accordion-header">
            <button class="accordion-button fw-semibold lh-base py-0 px-md-12 pe-md-12 p-0 collapsed gap-1"
              type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="true"
              aria-controls="collapseSix">
              В каком исполнении ваши генераторы ?
            </button>
          </h2>
          <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body py-0 px-md-12 px-0 mt-md-3 mt-2 lh-base">
              <p>Мы&nbsp;работаем по&nbsp;предоплате. Возможны варианты оплаты как с&nbsp;НДС, так
                и&nbsp;без НДС.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item border border-1 mt-md-3 mt-12 py-md-6 px-md-3 py-5 px-4">
          <h2 class="accordion-header">
            <button class="accordion-button fw-semibold lh-base py-0 px-md-12 pe-md-12 p-0 collapsed gap-1"
              type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="true"
              aria-controls="collapseSeven">
              Возможна ли аренда с оператором?
            </button>
          </h2>
          <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body py-0 px-md-12 px-0 mt-md-3 mt-2 lh-base">
              <p>Мы&nbsp;работаем по&nbsp;предоплате. Возможны варианты оплаты как с&nbsp;НДС, так
                и&nbsp;без НДС.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item border border-1 mt-md-3 mt-12 py-md-6 px-md-3 py-5 px-4">
          <h2 class="accordion-header">
            <button class="accordion-button fw-semibold lh-base py-0 px-md-12 pe-md-12 p-0 collapsed gap-1"
              type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="true"
              aria-controls="collapseEight">
              На каком топливе работают станции?
            </button>
          </h2>
          <div id="collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body py-0 px-md-12 px-0 mt-md-3 mt-2 lh-base">
              <p>Мы&nbsp;работаем по&nbsp;предоплате. Возможны варианты оплаты как с&nbsp;НДС, так
                и&nbsp;без НДС.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item border border-1 mt-md-3 mt-12 py-md-6 px-md-3 py-5 px-4">
          <h2 class="accordion-header">
            <button class="accordion-button fw-semibold lh-base py-0 px-md-12 pe-md-12 p-0 collapsed gap-1"
              type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="true"
              aria-controls="collapseNine">
              Возможен ли самовывоз?
            </button>
          </h2>
          <div id="collapseNine" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body py-0 px-md-12 px-0 mt-md-3 mt-2 lh-base">
              <p>Мы&nbsp;работаем по&nbsp;предоплате. Возможны варианты оплаты как с&nbsp;НДС, так
                и&nbsp;без НДС.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item border border-1 mt-md-3 mt-12 py-md-6 px-md-3 py-5 px-4">
          <h2 class="accordion-header">
            <button class="accordion-button fw-semibold lh-base py-0 px-md-12 pe-md-12 p-0 collapsed gap-1"
              type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="true"
              aria-controls="collapseTen">
              Есть ли скидки постоянным клиентам?
            </button>
          </h2>
          <div id="collapseTen" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body py-0 px-md-12 px-0 mt-md-3 mt-2 lh-base">
              <p>Мы&nbsp;работаем по&nbsp;предоплате. Возможны варианты оплаты как с&nbsp;НДС, так
                и&nbsp;без НДС.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item border border-1 mt-md-3 mt-12 py-md-6 px-md-3 py-5 px-4">
          <h2 class="accordion-header">
            <button class="accordion-button fw-semibold lh-base py-0 px-md-12 pe-md-12 p-0 collapsed gap-1"
              type="button" data-bs-toggle="collapse" data-bs-target="#collapseEleven" aria-expanded="true"
              aria-controls="collapseEleven">
              Возможна ли аренда «под ключ»?
            </button>
          </h2>
          <div id="collapseEleven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body py-0 px-md-12 px-0 mt-md-3 mt-2 lh-base">
              <p>Мы&nbsp;работаем по&nbsp;предоплате. Возможны варианты оплаты как с&nbsp;НДС, так
                и&nbsp;без НДС.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item border border-1 mt-md-3 mt-12 py-md-6 px-md-3 py-5 px-4">
          <h2 class="accordion-header">
            <button class="accordion-button fw-semibold lh-base py-0 px-md-12 pe-md-12 p-0 collapsed gap-1"
              type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwelve" aria-expanded="true"
              aria-controls="collapseTwelve">
              Какой минимальный срок аренды?
            </button>
          </h2>
          <div id="collapseTwelve" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body py-0 px-md-12 px-0 mt-md-3 mt-2 lh-base">
              <p>Мы&nbsp;работаем по&nbsp;предоплате. Возможны варианты оплаты как с&nbsp;НДС, так
                и&nbsp;без НДС.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item border border-1 mt-md-3 mt-12 py-md-6 px-md-3 py-5 px-4">
          <h2 class="accordion-header">
            <button class="accordion-button fw-semibold lh-base py-0 px-md-12 pe-md-12 p-0 collapsed gap-1"
              type="button" data-bs-toggle="collapse" data-bs-target="#collapse13" aria-expanded="true"
              aria-controls="collapse13">
              Как осуществляется техническое обслуживание генератора во время его долгосрочной аренды?
            </button>
          </h2>
          <div id="collapse13" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body py-0 px-md-12 px-0 mt-md-3 mt-2 lh-base">
              <p>Мы&nbsp;работаем по&nbsp;предоплате. Возможны варианты оплаты как с&nbsp;НДС, так
                и&nbsp;без НДС.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item border border-1 mt-md-3 mt-12 py-md-6 px-md-3 py-5 px-4">
          <h2 class="accordion-header">
            <button class="accordion-button fw-semibold lh-base py-0 px-md-12 pe-md-12 p-0 collapsed gap-1"
              type="button" data-bs-toggle="collapse" data-bs-target="#collapse14" aria-expanded="true"
              aria-controls="collapse14">
              Проверяются ли дизельные генераторы перед отправкой клиенту?
            </button>
          </h2>
          <div id="collapse14" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body py-0 px-md-12 px-0 mt-md-3 mt-2 lh-base">
              <p>Мы&nbsp;работаем по&nbsp;предоплате. Возможны варианты оплаты как с&nbsp;НДС, так
                и&nbsp;без НДС.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="vacancies-grid__item mt-lg-0 mt-8 pt-lg-0 pt-2">
      <div
        class="vacancies-grid__form rounded-md-6 rounded-4 p-6 d-flex flex-column justify-content-center align-items-center">
        <img src="./img/vacancies/avatar.png" alt="avatar" />
        <p class="fw-bold mt-3 text-center">Не нашли нужный ответ?</p>
        <p class="text-center vacancy-desc mt-2">
          Задайте вопрос или свяжитесь с нами по телефону
          <a href="tel:88005117379" class="fw-bold">8 800 511-73-79</a>
        </p>
        <button class="btn mt-4 py-3 px-5 btn-warning fw-bold resume-show-popup">
          Задать вопрос
        </button>
      </div>
    </div>
  </div>
</section>