<section class="container payment mt-6 mb-10 pb-lg-10">
  <h1 class="mb-0 vacancy-header fw-extrabold">Сертификаты и награды</h1>

  <div class="reviews-page__filters d-flex gap-md-2 gap-1 align-items-center mt-md-4 mt-3 flex-wrap">
    <button class="reviews-page__filter buy-page__filter lh-base py-1 fw-semibold px-md-4 px-3 active text-nowrap"
      data-category="about_product">Сертификаты</button>
    <button
      class="reviews-page__filter buy-page__filter lh-base py-1 fw-semibold px-md-4 px-3 text-nowrap">Награды</button>
  </div>

  <div class="row gy-lg-6 gx-lg-6 gy-3 gx-3 mt-lg-8 mt-md-6 mt-2" id="animated-thumbnails">
    <div data-src="./img/certificates/cert1.jpg" data-lg-id="cdf671fb-6777-4145-9b1f-29ea0a2b166b"
      class="col-xl-3 col-lg-4 col-6 certificate">
      <div class="h-100 rounded-md-6 rounded-4 border border-1 text-center p-md-6 p-4">
        <div class="position-relative">
          <div class="gallery-icon p-3 bg-warning top-50 start-50 translate-middle position-absolute rounded-circle">
            <svg>
              <use href="./img/svg/sprite.svg#gallery-icon"></use>
            </svg>
          </div>
          <img src="./img/certificates/cert1.jpg" alt="cert1" class="w-100">
        </div>
        <p class="text-center fw-bold mt-6">Сертификат ЭГ Hyundai</p>
      </div>
    </div>
    <div data-src="./img/certificates/cert2.jpg" data-lg-id="cdf671fb-6777-4145-9b1f-29ea0a2b166b"
      class="col-xl-3 col-lg-4 col-6 certificate">
      <div class="h-100 rounded-md-6 rounded-4 border border-1 text-center p-md-6 p-4">
        <div class="position-relative">
          <div class="gallery-icon p-3 bg-warning top-50 start-50 translate-middle position-absolute rounded-circle">
            <svg>
              <use href="./img/svg/sprite.svg#gallery-icon"></use>
            </svg>
          </div>
          <img src="./img/certificates/cert2.jpg" alt="cert1" class="w-100">
        </div>
        <p class="text-center fw-bold mt-6">Сертификат ЭГ Emsa</p>
      </div>
    </div>
    <div data-src="./img/certificates/cert3.jpg" data-lg-id="cdf671fb-6777-4145-9b1f-29ea0a2b166b"
      class="col-xl-3 col-lg-4 col-6 certificate">
      <div class="h-100 rounded-md-6 rounded-4 border border-1 text-center p-md-6 p-4">
        <div class="position-relative">
          <div class="gallery-icon p-3 bg-warning top-50 start-50 translate-middle position-absolute rounded-circle">
            <svg>
              <use href="./img/svg/sprite.svg#gallery-icon"></use>
            </svg>
          </div>
          <img src="./img/certificates/cert3.jpg" alt="cert1" class="w-100">
        </div>
        <p class="text-center fw-bold mt-6">Сертификат ТСС</p>
      </div>
    </div>
    <div data-src="./img/certificates/cert10.jpg" data-lg-id="cdf671fb-6777-4145-9b1f-29ea0a2b166b"
      class="col-xl-3 col-lg-4 col-6 certificate">
      <div class="h-100 rounded-md-6 rounded-4 border border-1 text-center p-md-6 p-4">
        <div class="position-relative">
          <div class="gallery-icon p-3 bg-warning top-50 start-50 translate-middle position-absolute rounded-circle">
            <svg>
              <use href="./img/svg/sprite.svg#gallery-icon"></use>
            </svg>
          </div>
          <img src="./img/certificates/cert10.jpg" alt="cert1" class="w-100">
        </div>
        <p class="text-center fw-bold mt-6">Сертификат Энергоспецтехника</p>
      </div>
    </div>

    <div data-src="./img/certificates/cert4.jpg" data-lg-id="cdf671fb-6777-4145-9b1f-29ea0a2b166b"
      class="col-xl-3 col-lg-4 col-6 certificate">
      <div class="h-100 rounded-md-6 rounded-4 border border-1 text-center p-md-6 p-4">
        <div class="position-relative">
          <div class="gallery-icon p-3 bg-warning top-50 start-50 translate-middle position-absolute rounded-circle">
            <svg>
              <use href="./img/svg/sprite.svg#gallery-icon"></use>
            </svg>
          </div>
          <img src="./img/certificates/cert4.jpg" alt="cert1" class="w-100">
        </div>
        <p class="text-center fw-bold mt-6">Сертификат ЭГ ZEUS</p>
      </div>
    </div>
    <div data-src="./img/certificates/cert5.jpg" data-lg-id="cdf671fb-6777-4145-9b1f-29ea0a2b166b"
      class="col-xl-3 col-lg-4 col-6 certificate">
      <div class="h-100 rounded-md-6 rounded-4 border border-1 text-center p-md-6 p-4">
        <div class="position-relative">
          <div class="gallery-icon p-3 bg-warning top-50 start-50 translate-middle position-absolute rounded-circle">
            <svg>
              <use href="./img/svg/sprite.svg#gallery-icon"></use>
            </svg>
          </div>
          <img src="./img/certificates/cert5.jpg" alt="cert1" class="w-100">
        </div>
        <p class="text-center fw-bold mt-6">Сертификат ЭГ GMP</p>
      </div>
    </div>
    <div data-src="./img/certificates/cert6.jpg" data-lg-id="cdf671fb-6777-4145-9b1f-29ea0a2b166b"
      class="col-xl-3 col-lg-4 col-6 certificate">
      <div class="h-100 rounded-md-6 rounded-4 border border-1 text-center p-md-6 p-4">
        <div class="position-relative">
          <div class="gallery-icon p-3 bg-warning top-50 start-50 translate-middle position-absolute rounded-circle">
            <svg>
              <use href="./img/svg/sprite.svg#gallery-icon"></use>
            </svg>
          </div>
          <img src="./img/certificates/cert6.jpg" alt="cert1" class="w-100">
        </div>
        <p class="text-center fw-bold mt-6">Сертификат ЭГ Hertz</p>
      </div>
    </div>
    <div data-src="./img/certificates/cert11.jpg" data-lg-id="cdf671fb-6777-4145-9b1f-29ea0a2b166b"
      class="col-xl-3 col-lg-4 col-6 certificate">
      <div class="h-100 rounded-md-6 rounded-4 border border-1 text-center p-md-6 p-4">
        <div class="position-relative">
          <div class="gallery-icon p-3 bg-warning top-50 start-50 translate-middle position-absolute rounded-circle">
            <svg>
              <use href="./img/svg/sprite.svg#gallery-icon"></use>
            </svg>
          </div>
          <img src="./img/certificates/cert11.jpg" alt="cert1" class="w-100">
        </div>
        <p class="text-center fw-bold mt-6">Сертификат Импульс</p>
      </div>
    </div>
    <div data-src="./img/certificates/cert7.jpg" data-lg-id="cdf671fb-6777-4145-9b1f-29ea0a2b166b"
      class="col-xl-3 col-lg-4 col-6 certificate">
      <div class="h-100 rounded-md-6 rounded-4 border border-1 text-center p-md-6 p-4">
        <div class="position-relative">
          <div class="gallery-icon p-3 bg-warning top-50 start-50 translate-middle position-absolute rounded-circle">
            <svg>
              <use href="./img/svg/sprite.svg#gallery-icon"></use>
            </svg>
          </div>
          <img src="./img/certificates/cert7.jpg" alt="cert1" class="w-100">
        </div>
        <p class="text-center fw-bold mt-6">Сертификат CTG</p>
      </div>
    </div>
    <div data-src="./img/certificates/cert8.jpg" data-lg-id="cdf671fb-6777-4145-9b1f-29ea0a2b166b"
      class="col-xl-3 col-lg-4 col-6 certificate">
      <div class="h-100 rounded-md-6 rounded-4 border border-1 text-center p-md-6 p-4">
        <div class="position-relative">
          <div class="gallery-icon p-3 bg-warning top-50 start-50 translate-middle position-absolute rounded-circle">
            <svg>
              <use href="./img/svg/sprite.svg#gallery-icon"></use>
            </svg>
          </div>
          <img src="./img/certificates/cert8.jpg" alt="cert1" class="w-100">
        </div>
        <p class="text-center fw-bold mt-6">Сертификат ЭГ ЗТО</p>
      </div>
    </div>
    <div data-src="./img/certificates/cert9.jpg" data-lg-id="cdf671fb-6777-4145-9b1f-29ea0a2b166b"
      class="col-xl-3 col-lg-4 col-6 certificate">
      <div class="h-100 rounded-md-6 rounded-4 border border-1 text-center p-md-6 p-4">
        <div class="position-relative">
          <div class="gallery-icon p-3 bg-warning top-50 start-50 translate-middle position-absolute rounded-circle">
            <svg>
              <use href="./img/svg/sprite.svg#gallery-icon"></use>
            </svg>
          </div>
          <img src="./img/certificates/cert9.jpg" alt="cert1" class="w-100">
        </div>
        <p class="text-center fw-bold mt-6 text-break">Сертификат ЭГ ФасЭнергоМаш</p>
      </div>
    </div>
    <div data-src="./img/certificates/cert12.jpg" data-lg-id="cdf671fb-6777-4145-9b1f-29ea0a2b166b"
      class="col-xl-3 col-lg-4 col-6 certificate">
      <div class="h-100 rounded-md-6 rounded-4 border border-1 text-center p-md-6 p-4">
        <div class="position-relative">
          <div class="gallery-icon p-3 bg-warning top-50 start-50 translate-middle position-absolute rounded-circle">
            <svg>
              <use href="./img/svg/sprite.svg#gallery-icon"></use>
            </svg>
          </div>
          <img src="./img/certificates/cert12.jpg" alt="cert1" class="w-100">
        </div>
        <p class="text-center fw-bold mt-6">Сертификат СпецЭнергоТрейд</p>
      </div>
    </div>
  </div>
</section>