<section class="container lists mb-10 pb-lg-10">
  <h1 class="mb-0 vacancy-header mt-md-8 mt-4">Опросные листы</h1>

  <p class="mt-md-4 mt-3 vacancies__desc">
    Пример описания компания Энерджи Групп с 2015 года занимается организацией
    систем автономного снабжения любых объектов. Для этих и иных целей
    мы поставляем двигатели Yanmar и запчасти к ним на отечественный рынок.
  </p>

  <div class="lists-files mt-md-9 mt-5 d-flex flex-column gap-3">
    <a
      href="#"
      class="lists-files__item files-item p-md-6 p-4 d-flex justify-content-between align-items-center"
      download
    >
      <div
        class="files-item__wrapper d-flex align-items-md-center gap-md-4 gap-3 align-items-start"
      >
        <div class="files-item__svg p-md-3 p-2">
          <svg class="files-item__note">
            <use xlink:href="./img/svg/sprite.svg#note"></use>
          </svg>
        </div>
        <p class="fw-bold">
          Опросный лист на изготовление дизельной электростанции (ДГУ)
        </p>
      </div>

      <svg class="files-item__arrow d-md-block d-none">
        <use xlink:href="./img/svg/sprite.svg#arrow"></use>
      </svg>
    </a>
    <a
      href="#"
      class="lists-files__item files-item p-md-6 p-4 d-flex justify-content-between align-items-center"
      download
    >
      <div
        class="files-item__wrapper d-flex align-items-md-center gap-md-4 gap-3 align-items-start"
      >
        <div class="files-item__svg p-md-3 p-2">
          <svg class="files-item__note">
            <use xlink:href="./img/svg/sprite.svg#note"></use>
          </svg>
        </div>
        <p class="fw-bold">
          Опросный лист на изготовление газовой электростанции (ГПУ)
        </p>
      </div>

      <svg class="files-item__arrow d-md-block d-none">
        <use xlink:href="./img/svg/sprite.svg#arrow"></use>
      </svg>
    </a>
  </div>
</section>
