<section class="container payment mt-6 pb-lg-10">
  <h1 class="mb-0 vacancy-header fw-bold">Контакты</h1>

  <div class="row gy-md-0 gy-4 mt-md-8 mt-1">
    <div class="col-md-6 col-12">
      <div class="rounded-md-6 rounded-4 bg-extra-light d-flex flex-column justify-content-between p-md-6 p-4 h-100">
        <div>
          <img src="./img/contacts/point.png" alt="point">
        </div>
        <div class="mt-md-9 pt-md-2">
          <p class="contacts__address fw-bold lh-base mt-md-0 mt-6">125371, Москва, Волоколамское шоссе, д. 116,
            пом. 439</p>
          <p class="text-gray mt-md-4 mt-2 contacts__time">Режим работы Пн–Пт с 8:00 до 17:00</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-12">
      <div class="rounded-md-6 rounded-4 bg-extra-light d-flex flex-column gap-md-6 gap-4 p-md-6 p-4 h-100">
        <div class="contacts__contact d-flex gap-4 align-items-center">
          <div class="contacts__icon-wrapper rounded-2 bg-warning p-md-3 p-2">
            <svg class="solid-phone">
              <use href="./img/svg/sprite.svg#solid-phone"></use>
            </svg>
          </div>
          <p class="fw-semibold"><a href="tel:+78005117379">8 800 511-73-79</a></p>
        </div>
        <div class="contacts__contact d-flex gap-4 align-items-center">
          <div class="contacts__icon-wrapper rounded-2 bg-warning p-md-3 p-2">
            <svg class="mail-icon">
              <use href="./img/svg/sprite.svg#mail"></use>
            </svg>
          </div>
          <p class="fw-semibold"><a href="mailto:generator-energy.ru@ya.ru">generator-energy.ru@ya.ru</a></p>
        </div>
        <div class="contacts__contact d-flex gap-4 align-items-center">
          <div class="contacts__icon-wrapper rounded-2 bg-whatsapp p-md-3 p-2">
            <svg class="whatsapp text-white">
              <use href="./img/svg/sprite.svg#whatsapp"></use>
            </svg>
          </div>
          <p class="fw-semibold"><a href="#">Написать в WhatsApp*</a></p>
        </div>
        <div class="contacts__contact d-flex gap-4 align-items-center">
          <div class="contacts__icon-wrapper rounded-2 bg-info p-md-3 p-2">
            <svg class="telegram text-white">
              <use href="./img/svg/sprite.svg#telegram"></use>
            </svg>
          </div>
          <p class="fw-semibold"><a href="#">Написать в Telegram</a></p>
        </div>
      </div>
    </div>
  </div>

  <p class="mt-md-8 mt-4 text-gray patrol-calculator__description">*Мессенджер WhatsApp (принадлежит корпорации
    Meta, признана экстремистской
    организацией и
    запрещена в России)
  </p>
</section>