<section class="brends">
    <div class="container mt-md-7 mt-0 pt-5">
        <div class="d-grid brends-wrapper gap-md-6 gap-12">
            <div class="brends__item p-md-7 p-5 rounded-6">
                <h2 class="small-title fw-bold">
                    Среди предлагаемых брендов дизель-генераторов:
                </h2>
                <div class="d-grid gap-md-6 gap-3 main-slider__info item-arenda__list mt-md-6 mt-5 pt-md-1">
                    <div class="main-slider__item d-flex align-items-center gap-3">
                        <svg class="tick">
                            <use xlink:href="./img/sprite.svg#tick"></use>
                        </svg>
                        <span>Cummins</span>
                    </div>
                    <div class="main-slider__item d-flex align-items-center gap-3">
                        <svg class="tick">
                            <use xlink:href="./img/sprite.svg#tick"></use>
                        </svg>
                        <span>Onis Visa</span>
                    </div>
                    <div class="main-slider__item d-flex align-items-center gap-3">
                        <svg class="tick">
                            <use xlink:href="./img/sprite.svg#tick"></use>
                        </svg>
                        <span>Inmesol</span>
                    </div>
                    <div class="main-slider__item d-flex align-items-center gap-3">
                        <svg class="tick">
                            <use xlink:href="./img/sprite.svg#tick"></use>
                        </svg>
                        <span>AKSA</span>
                    </div>
                    <div class="main-slider__item d-flex align-items-center gap-3">
                        <svg class="tick">
                            <use xlink:href="./img/sprite.svg#tick"></use>
                        </svg>
                        <span>TSS и&nbsp;другие</span>
                    </div>
                </div>
                <p class="gray-text fw-light mt-md-8 mt-3">
                    Тем, кто самостоятельно рассчитывает мощность напоминаем, что допустимая нагрузка
                    ограничивается 80% от&nbsp;номинальной.
                    Необходимо учитывать реактивную составляющую мощности для приборов с&nbsp;высокими пусковыми
                    токами: электродвигателей,
                    насосов, сварочного оборудования.
                </p>
            </div>
            <div class="brends__item p-md-7 p-5 rounded-6">
                <h2 class="small-title fw-bold modify">
                    Компания «Энерджи Групп»
                    предлагает все услуги, связанные
                    с&nbsp;арендой ДГУ в&nbsp;Москве
                </h2>
                <div class="d-grid gap-md-6 gap-3 main-slider__info item-arenda__list mt-md-6 mt-5 pt-md-1">
                    <div class="main-slider__item d-flex align-items-center gap-3">
                        <svg class="tick">
                            <use xlink:href="./img/sprite.svg#tick"></use>
                        </svg>
                        <span>Доставка</span>
                    </div>
                    <div class="main-slider__item d-flex align-items-center gap-3">
                        <svg class="tick">
                            <use xlink:href="./img/sprite.svg#tick"></use>
                        </svg>
                        <span>Подключение</span>
                    </div>
                    <div class="main-slider__item d-flex align-items-center gap-3">
                        <svg class="tick">
                            <use xlink:href="./img/sprite.svg#tick"></use>
                        </svg>
                        <span>Предоставление силового кабеля, <br>
                            емкостей для топлива</span>
                    </div>
                    <div class="main-slider__item d-flex align-items-center gap-3">
                        <svg class="tick">
                            <use xlink:href="./img/sprite.svg#tick"></use>
                        </svg>
                        <span>Заправка ДТ</span>
                    </div>
                    <div class="main-slider__item d-flex align-items-center gap-3">
                        <svg class="tick">
                            <use xlink:href="./img/sprite.svg#tick"></use>
                        </svg>
                        <span>Дежурство оператора</span>
                    </div>
                </div>

                <p class="fw-bold p-4 mt-lg-9 mt-md-7 mt-5 brends__notification rounded-6 text-center">
                    Круглосуточно на&nbsp;дежурстве находится служба сервиса.
                </p>
            </div>
        </div>
    </div>
</section>