<section class="city-slider">
    <div class="container pt-md-6 mt-6 pt-5 px-0">
        <h2 class="title fw-bold mb-0 px-4 ms-md-0 ms-3">
            Города аренды
        </h2>

        <div class="usluga city-slider__wrapper overflow-hidden mt-lg-7 mt-5 mx-4">
            <div class="swiffy-slider slider-item-show1">
                <ul class="slider-container">
                    <li class="city-slider__item position-relative py-md-7 px-lg-9 px-md-7 p-12" data-mid="1">
                        <picture>
                            <source srcset="./img/arenda/city-slider/city1.webp" type="image/webp">
                            <img loading="lazy" decoding="async" src="./img/arenda/city-slider/city1.jpg" alt="city 1"
                                class="position-absolute object-fit-cover" width="100%" height="100%">
                        </picture>

                        <div class="d-flex gap-4">
                            <p class="city-slider__text py-3 px-4 rounded-3 d-inline-block">Аренда
                                дизельного
                                генератора
                                в Альметьевске</p>
                        </div>
                    </li>
                    <li class="city-slider__item position-relative py-md-7 px-lg-9 px-md-7 p-12" data-mid="2">
                        <img loading="lazy" decoding="async" src="./img/arenda/city-slider/city2.jpg" alt="city 1"
                            class="position-absolute object-fit-cover" width="100%" height="100%">

                        <div class="d-flex gap-4">
                            <p class="city-slider__text py-3 px-4 rounded-3 d-inline-block">Аренда
                                дизельного
                                генератора
                                в Набережных Челнах</p>
                        </div>
                    </li>
                    <li class="city-slider__item position-relative py-md-7 px-lg-9 px-md-7 p-12" data-mid="3">
                        <img loading="lazy" decoding="async" src="./img/arenda/city-slider/city3.jpg" alt="city 1"
                            class="position-absolute object-fit-cover" width="100%" height="100%">

                        <div class="d-flex gap-4">
                            <p class="city-slider__text py-3 px-4 rounded-3 d-inline-block">Аренда
                                дизельного
                                генератора
                                в Нижнекамске</p>
                        </div>
                    </li>
                    <li class="city-slider__item position-relative py-md-7 px-lg-9 px-md-7 p-12" data-mid="4">
                        <img loading="lazy" decoding="async" src="./img/arenda/city-slider/city4.jpg" alt="city 1"
                            class="position-absolute object-fit-cover" width="100%" height="100%">

                        <div class="d-flex gap-4">
                            <p class="city-slider__text py-3 px-4 rounded-3 d-inline-block">Аренда
                                дизельного
                                генератора
                                в Чистополе</p>
                        </div>
                    </li>
                    <li class="city-slider__item position-relative py-md-7 px-lg-9 px-md-7 p-12" data-mid="5">
                        <img loading="lazy" decoding="async" src="./img/arenda/city-slider/city5.jpg" alt="city 1"
                            class="position-absolute object-fit-cover" width="100%" height="100%">

                        <div class="d-flex gap-4">
                            <p class="city-slider__text py-3 px-4 rounded-3 d-inline-block">Аренда
                                дизельного
                                генератора
                                в Ульяновске</p>
                        </div>
                    </li>
                    <li class="city-slider__item position-relative py-md-7 px-lg-9 px-md-7 p-12" data-mid="6">
                        <img loading="lazy" decoding="async" src="./img/arenda/city-slider/city6.jpg" alt="city 1"
                            class="position-absolute object-fit-cover" width="100%" height="100%">

                        <div class="d-flex gap-4">
                            <p class="city-slider__text py-3 px-4 rounded-3 d-inline-block">Аренда
                                дизельного
                                генератора
                                в Йошкар-Оле</p>
                        </div>
                    </li>
                    <li class="city-slider__item position-relative py-md-7 px-lg-9 px-md-7 p-12" data-mid="7">
                        <img loading="lazy" decoding="async" src="./img/arenda/city-slider/city7.jpg" alt="city 1"
                            class="position-absolute object-fit-cover" width="100%" height="100%">

                        <div class="d-flex gap-4">
                            <p class="city-slider__text py-3 px-4 rounded-3 d-inline-block">Аренда
                                дизельного
                                генератора
                                в Чебоксарах</p>
                        </div>
                    </li>
                    <li class="city-slider__item position-relative py-md-7 px-lg-9 px-md-7 p-12" data-mid="8">
                        <img loading="lazy" decoding="async" src="./img/arenda/city-slider/city8.jpg" alt="city 1"
                            class="position-absolute object-fit-cover" width="100%" height="100%">

                        <div class="d-flex gap-4">
                            <p class="city-slider__text py-3 px-4 rounded-3 d-inline-block">Аренда
                                дизельного
                                генератора
                                в Нижнем Новгороде</p>
                        </div>
                    </li>
                    <li class="city-slider__item position-relative py-md-7 px-lg-9 px-md-7 p-12" data-mid="9">
                        <img loading="lazy" decoding="async" src="./img/arenda/city-slider/city9.jpg" alt="city 1"
                            class="position-absolute object-fit-cover" width="100%" height="100%">

                        <div class="d-flex gap-4">
                            <p class="city-slider__text py-3 px-4 rounded-3 d-inline-block">Аренда
                                дизельного
                                генератора
                                в Арзамасе</p>
                        </div>
                    </li>
                    <li class="city-slider__item position-relative py-md-7 px-lg-9 px-md-7 p-12" data-mid="10">
                        <img loading="lazy" decoding="async" src="./img/arenda/city-slider/city10.jpg" alt="city 1"
                            class="position-absolute object-fit-cover" width="100%" height="100%">

                        <div class="d-flex gap-4">
                            <p class="city-slider__text py-3 px-4 rounded-3 d-inline-block">Аренда
                                дизельного
                                генератора
                                в Перми</p>
                        </div>
                    </li>
                    <li class="city-slider__item position-relative py-md-7 px-lg-9 px-md-7 p-12" data-mid="11">
                        <img loading="lazy" decoding="async" src="./img/arenda/city-slider/city11.jpg" alt="city 1"
                            class="position-absolute object-fit-cover" width="100%" height="100%">

                        <div class="d-flex gap-4">
                            <p class="city-slider__text py-3 px-4 rounded-3 d-inline-block">Аренда
                                дизельного
                                генератора
                                в Ижевске</p>
                        </div>
                    </li>
                    <li class="city-slider__item position-relative py-md-7 px-lg-9 px-md-7 p-12" data-mid="12">
                        <img loading="lazy" decoding="async" src="./img/arenda/city-slider/city12.jpg" alt="city 1"
                            class="position-absolute object-fit-cover" width="100%" height="100%">

                        <div class="d-flex gap-4">
                            <p class="city-slider__text py-3 px-4 rounded-3 d-inline-block">Аренда
                                дизельного
                                генератора
                                в Уфе</p>
                        </div>
                    </li>
                    <li class="city-slider__item position-relative py-md-7 px-lg-9 px-md-7 p-12" data-mid="13">
                        <img loading="lazy" decoding="async" src="./img/arenda/city-slider/city13.jpg" alt="city 1"
                            class="position-absolute object-fit-cover" width="100%" height="100%">

                        <div class="d-flex gap-4">
                            <p class="city-slider__text py-3 px-4 rounded-3 d-inline-block">Аренда
                                дизельного
                                генератора
                                в Нефтекамске</p>
                        </div>
                    </li>
                    <li class="city-slider__item position-relative py-md-7 px-lg-9 px-md-7 p-12" data-mid="14">
                        <img loading="lazy" decoding="async" src="./img/arenda/city-slider/city14.jpg" alt="city 1"
                            class="position-absolute object-fit-cover" width="100%" height="100%">

                        <div class="d-flex gap-4">
                            <p class="city-slider__text py-3 px-4 rounded-3 d-inline-block">Аренда
                                дизельного
                                генератора
                                в Саранске</p>
                        </div>
                    </li>
                    <li class="city-slider__item position-relative py-md-7 px-lg-9 px-md-7 p-12" data-mid="15">
                        <img loading="lazy" decoding="async" src="./img/arenda/city-slider/city15.jpg" alt="city 1"
                            class="position-absolute object-fit-cover" width="100%" height="100%">

                        <div class="d-flex gap-4">
                            <p class="city-slider__text py-3 px-4 rounded-3 d-inline-block">Аренда
                                дизельного
                                генератора
                                в Пензе</p>
                        </div>
                    </li>
                    <li class="city-slider__item position-relative py-md-7 px-lg-9 px-md-7 p-12" data-mid="16">
                        <img loading="lazy" decoding="async" src="./img/arenda/city-slider/city16.jpg" alt="city 1"
                            class="position-absolute object-fit-cover" width="100%" height="100%">

                        <div class="d-flex gap-4">
                            <p class="city-slider__text py-3 px-4 rounded-3 d-inline-block">Аренда
                                дизельного
                                генератора
                                в Кирове</p>
                        </div>
                    </li>
                    <li class="city-slider__item position-relative py-md-7 px-lg-9 px-md-7 p-12" data-mid="17">
                        <img loading="lazy" decoding="async" src="./img/arenda/city-slider/city17.jpg" alt="city 1"
                            class="position-absolute object-fit-cover" width="100%" height="100%">

                        <div class="d-flex gap-4">
                            <p class="city-slider__text py-3 px-4 rounded-3 d-inline-block">Аренда
                                дизельного
                                генератора
                                в Тольятти</p>
                        </div>
                    </li>
                    <li class="city-slider__item position-relative py-md-7 px-lg-9 px-md-7 p-12" data-mid="18">
                        <img loading="lazy" decoding="async" src="./img/arenda/city-slider/city18.jpg" alt="city 1"
                            class="position-absolute object-fit-cover" width="100%" height="100%">

                        <div class="d-flex gap-4">
                            <p class="city-slider__text py-3 px-4 rounded-3 d-inline-block">Аренда
                                дизельного
                                генератора
                                в Самаре</p>
                        </div>
                    </li>
                </ul>

                <div class="slider-nav-visible position-absolute">
                    <div class="popular-slider__arrows d-flex align-items-center justify-content-center w-100">
                        <button type="button" class="slider-nav position-relative me-3"></button>
                        <button type="button" class="slider-nav slider-nav-next position-relative"></button>
                    </div>
                </div>
            </div>

            <div class="d-flex flex-wrap py-md-7 px-lg-9 px-md-7 p-12 pb-md-7 pb-5 city-slider__buttons mt-md-0 mt-12">
                <button class="p-12 rounded-3" data-slider-city="1">Альметьевск</button>
                <button class="p-12 rounded-3" data-slider-city="2">Набережные Челны</button>
                <button class="p-12 rounded-3" data-slider-city="3">Нижнекамск</button>
                <button class="p-12 rounded-3" data-slider-city="4">Чистополь</button>
                <button class="p-12 rounded-3" data-slider-city="5">Ульяновск</button>
                <button class="p-12 rounded-3" data-slider-city="6">Йошкар-Ола</button>
                <button class="p-12 rounded-3" data-slider-city="7">Чебоксары</button>
                <button class="p-12 rounded-3" data-slider-city="8">Нижний Новгород</button>
                <button class="p-12 rounded-3" data-slider-city="9">Арзамас</button>
                <button class="p-12 rounded-3" data-slider-city="10">Пермь</button>
                <button class="p-12 rounded-3" data-slider-city="11">Ижевск</button>
                <button class="p-12 rounded-3" data-slider-city="12">Уфа</button>
                <button class="p-12 rounded-3" data-slider-city="13">Нижнекамск</button>
                <button class="p-12 rounded-3" data-slider-city="14">Саранск</button>
                <button class="p-12 rounded-3" data-slider-city="15">Пенза</button>
                <button class="p-12 rounded-3" data-slider-city="16">Киров</button>
                <button class="p-12 rounded-3" data-slider-city="17">Тольятти</button>
                <button class="p-12 rounded-3" data-slider-city="18">Самара</button>
            </div>
        </div>
</section>