<section class="city-slider">
    <div class="container pt-md-6 mt-6 pt-5 px-0">
        <h2 class="title fw-bold mb-0 px-4 ms-md-0 ms-3">
            Города аренды
        </h2>

        <div class="usluga city-slider__wrapper overflow-hidden mt-lg-7 mt-5 mx-4">
            <div class="swiffy-slider slider-item-show1">
                <ul class="slider-container">
                    <li class="city-slider__item position-relative py-md-7 px-lg-9 px-md-7 p-12" data-mid="1">
                        <picture>
                            <source srcset="./img/arenda/city1.webp" type="image/webp">
                            <img loading="lazy" decoding="async" src="./img/arenda/city1.jpg" alt="city 1"
                                class="position-absolute object-fit-cover" width="100%" height="100%">
                        </picture>

                        <div class="d-flex gap-4">
                            <p class="city-slider__text py-3 px-4 rounded-3 d-inline-block"><a href="#"
                                    class="m-0">Аренда
                                    дизельного
                                    генератора
                                    в Казани</a></p>
                        </div>
                    </li>
                    <li class="city-slider__item position-relative py-md-7 px-lg-9 px-md-7 p-12" data-mid="2">
                        <picture>
                            <source srcset="./img/arenda/city1.webp" type="image/webp">
                            <img loading="lazy" decoding="async" src="./img/arenda/city1.jpg" alt="city 1"
                                class="position-absolute object-fit-cover" width="100%" height="100%">
                        </picture>

                        <div class="d-flex gap-4">
                            <p class="city-slider__text py-3 px-4 rounded-3 d-inline-block"><a href="#"
                                    class="m-0">Аренда
                                    дизельного
                                    генератора
                                    в Альметьевске</a></p>
                        </div>
                    </li>
                    <li class="city-slider__item position-relative py-md-7 px-lg-9 px-md-7 p-12" data-mid="3">
                        <img loading="lazy" decoding="async" src="./img/arenda/city1.jpg" alt="city 1"
                            class="position-absolute object-fit-cover" width="100%" height="100%">

                        <div class="d-flex gap-4">
                            <p class="city-slider__text py-3 px-4 rounded-3 d-inline-block"><a href="#"
                                    class="m-0">Аренда
                                    дизельного
                                    генератора
                                    в Набережных Челнах</a></p>
                        </div>
                    </li>
                    <li class="city-slider__item position-relative py-md-7 px-lg-9 px-md-7 p-12" data-mid="4">
                        <img loading="lazy" decoding="async" src="./img/arenda/city1.jpg" alt="city 1"
                            class="position-absolute object-fit-cover" width="100%" height="100%">

                        <div class="d-flex gap-4">
                            <p class="city-slider__text py-3 px-4 rounded-3 d-inline-block"><a href="#"
                                    class="m-0">Аренда
                                    дизельного
                                    генератора
                                    в Нижнекамске</a></p>
                        </div>
                    </li>
                    <li class="city-slider__item position-relative py-md-7 px-lg-9 px-md-7 p-12" data-mid="5">
                        <img loading="lazy" decoding="async" src="./img/arenda/city1.jpg" alt="city 1"
                            class="position-absolute object-fit-cover" width="100%" height="100%">

                        <div class="d-flex gap-4">
                            <p class="city-slider__text py-3 px-4 rounded-3 d-inline-block"><a href="#"
                                    class="m-0">Аренда
                                    дизельного
                                    генератора
                                    в Чистополе</a></p>
                        </div>
                    </li>
                    <li class="city-slider__item position-relative py-md-7 px-lg-9 px-md-7 p-12" data-mid="6">
                        <img loading="lazy" decoding="async" src="./img/arenda/city1.jpg" alt="city 1"
                            class="position-absolute object-fit-cover" width="100%" height="100%">

                        <div class="d-flex gap-4">
                            <p class="city-slider__text py-3 px-4 rounded-3 d-inline-block"><a href="#"
                                    class="m-0">Аренда
                                    дизельного
                                    генератора
                                    в Ульяновске</a></p>
                        </div>
                    </li>
                    <li class="city-slider__item position-relative py-md-7 px-lg-9 px-md-7 p-12" data-mid="7">
                        <img loading="lazy" decoding="async" src="./img/arenda/city1.jpg" alt="city 1"
                            class="position-absolute object-fit-cover" width="100%" height="100%">

                        <div class="d-flex gap-4">
                            <p class="city-slider__text py-3 px-4 rounded-3 d-inline-block"><a href="#"
                                    class="m-0">Аренда
                                    дизельного
                                    генератора
                                    в Йошкар-Оле</a></p>
                        </div>
                    </li>
                    <li class="city-slider__item position-relative py-md-7 px-lg-9 px-md-7 p-12" data-mid="8">
                        <img loading="lazy" decoding="async" src="./img/arenda/city1.jpg" alt="city 1"
                            class="position-absolute object-fit-cover" width="100%" height="100%">

                        <div class="d-flex gap-4">
                            <p class="city-slider__text py-3 px-4 rounded-3 d-inline-block"><a href="#"
                                    class="m-0">Аренда
                                    дизельного
                                    генератора
                                    в Чебоксарах</a></p>
                        </div>
                    </li>
                    <li class="city-slider__item position-relative py-md-7 px-lg-9 px-md-7 p-12" data-mid="9">
                        <img loading="lazy" decoding="async" src="./img/arenda/city1.jpg" alt="city 1"
                            class="position-absolute object-fit-cover" width="100%" height="100%">

                        <div class="d-flex gap-4">
                            <p class="city-slider__text py-3 px-4 rounded-3 d-inline-block"><a href="#"
                                    class="m-0">Аренда
                                    дизельного
                                    генератора
                                    в Нижнем Новгороде</a></p>
                        </div>
                    </li>
                    <li class="city-slider__item position-relative py-md-7 px-lg-9 px-md-7 p-12" data-mid="10">
                        <img loading="lazy" decoding="async" src="./img/arenda/city1.jpg" alt="city 1"
                            class="position-absolute object-fit-cover" width="100%" height="100%">

                        <div class="d-flex gap-4">
                            <p class="city-slider__text py-3 px-4 rounded-3 d-inline-block"><a href="#"
                                    class="m-0">Аренда
                                    дизельного
                                    генератора
                                    в Арзамасе</a></p>
                        </div>
                    </li>
                    <li class="city-slider__item position-relative py-md-7 px-lg-9 px-md-7 p-12" data-mid="11">
                        <img loading="lazy" decoding="async" src="./img/arenda/city1.jpg" alt="city 1"
                            class="position-absolute object-fit-cover" width="100%" height="100%">

                        <div class="d-flex gap-4">
                            <p class="city-slider__text py-3 px-4 rounded-3 d-inline-block"><a href="#"
                                    class="m-0">Аренда
                                    дизельного
                                    генератора
                                    в Перми</a></p>
                        </div>
                    </li>
                    <li class="city-slider__item position-relative py-md-7 px-lg-9 px-md-7 p-12" data-mid="12">
                        <img loading="lazy" decoding="async" src="./img/arenda/city1.jpg" alt="city 1"
                            class="position-absolute object-fit-cover" width="100%" height="100%">

                        <div class="d-flex gap-4">
                            <p class="city-slider__text py-3 px-4 rounded-3 d-inline-block"><a href="#"
                                    class="m-0">Аренда
                                    дизельного
                                    генератора
                                    в Удмуртии</a></p>
                        </div>
                    </li>
                    <li class="city-slider__item position-relative py-md-7 px-lg-9 px-md-7 p-12" data-mid="13">
                        <img loading="lazy" decoding="async" src="./img/arenda/city1.jpg" alt="city 1"
                            class="position-absolute object-fit-cover" width="100%" height="100%">

                        <div class="d-flex gap-4">
                            <p class="city-slider__text py-3 px-4 rounded-3 d-inline-block"><a href="#"
                                    class="m-0">Аренда
                                    дизельного
                                    генератора
                                    в Ижевске</a></p>
                        </div>
                    </li>
                    <li class="city-slider__item position-relative py-md-7 px-lg-9 px-md-7 p-12" data-mid="14">
                        <img loading="lazy" decoding="async" src="./img/arenda/city1.jpg" alt="city 1"
                            class="position-absolute object-fit-cover" width="100%" height="100%">

                        <div class="d-flex gap-4">
                            <p class="city-slider__text py-3 px-4 rounded-3 d-inline-block"><a href="#"
                                    class="m-0">Аренда
                                    дизельного
                                    генератора
                                    в Уфе</a></p>
                        </div>
                    </li>
                    <li class="city-slider__item position-relative py-md-7 px-lg-9 px-md-7 p-12" data-mid="15">
                        <img loading="lazy" decoding="async" src="./img/arenda/city1.jpg" alt="city 1"
                            class="position-absolute object-fit-cover" width="100%" height="100%">

                        <div class="d-flex gap-4">
                            <p class="city-slider__text py-3 px-4 rounded-3 d-inline-block"><a href="#"
                                    class="m-0">Аренда
                                    дизельного
                                    генератора
                                    в Нефтекамске</a></p>
                        </div>
                    </li>
                    <li class="city-slider__item position-relative py-md-7 px-lg-9 px-md-7 p-12" data-mid="16">
                        <img loading="lazy" decoding="async" src="./img/arenda/city1.jpg" alt="city 1"
                            class="position-absolute object-fit-cover" width="100%" height="100%">

                        <div class="d-flex gap-4">
                            <p class="city-slider__text py-3 px-4 rounded-3 d-inline-block"><a href="#"
                                    class="m-0">Аренда
                                    дизельного
                                    генератора
                                    в Саранске</a></p>
                        </div>
                    </li>
                    <li class="city-slider__item position-relative py-md-7 px-lg-9 px-md-7 p-12" data-mid="17">
                        <img loading="lazy" decoding="async" src="./img/arenda/city1.jpg" alt="city 1"
                            class="position-absolute object-fit-cover" width="100%" height="100%">

                        <div class="d-flex gap-4">
                            <p class="city-slider__text py-3 px-4 rounded-3 d-inline-block"><a href="#"
                                    class="m-0">Аренда
                                    дизельного
                                    генератора
                                    в Пензе</a></p>
                        </div>
                    </li>
                    <li class="city-slider__item position-relative py-md-7 px-lg-9 px-md-7 p-12" data-mid="18">
                        <img loading="lazy" decoding="async" src="./img/arenda/city1.jpg" alt="city 1"
                            class="position-absolute object-fit-cover" width="100%" height="100%">

                        <div class="d-flex gap-4">
                            <p class="city-slider__text py-3 px-4 rounded-3 d-inline-block"><a href="#"
                                    class="m-0">Аренда
                                    дизельного
                                    генератора
                                    в Кирове</a></p>
                        </div>
                    </li>
                    <li class="city-slider__item position-relative py-md-7 px-lg-9 px-md-7 p-12" data-mid="19">
                        <img loading="lazy" decoding="async" src="./img/arenda/city1.jpg" alt="city 1"
                            class="position-absolute object-fit-cover" width="100%" height="100%">

                        <div class="d-flex gap-4">
                            <p class="city-slider__text py-3 px-4 rounded-3 d-inline-block"><a href="#"
                                    class="m-0">Аренда
                                    дизельного
                                    генератора
                                    в Тольятти</a></p>
                        </div>
                    </li>
                    <li class="city-slider__item position-relative py-md-7 px-lg-9 px-md-7 p-12" data-mid="20">
                        <img loading="lazy" decoding="async" src="./img/arenda/city1.jpg" alt="city 1"
                            class="position-absolute object-fit-cover" width="100%" height="100%">

                        <div class="d-flex gap-4">
                            <p class="city-slider__text py-3 px-4 rounded-3 d-inline-block"><a href="#"
                                    class="m-0">Аренда
                                    дизельного
                                    генератора
                                    в Самаре</a></p>
                        </div>
                    </li>
                </ul>

                <div class="slider-nav-visible position-absolute">
                    <div class="popular-slider__arrows d-flex align-items-center justify-content-center w-100">
                        <button type="button" class="slider-nav position-relative me-3"></button>
                        <button type="button" class="slider-nav slider-nav-next position-relative"></button>
                    </div>
                </div>
            </div>

            <div class="d-flex flex-wrap py-md-7 px-lg-9 px-md-7 p-12 pb-md-7 pb-5 city-slider__buttons mt-md-0 mt-12">
                <button class="p-12 rounded-3 active" data-slider-city="1">Казань</button>
                <button class="p-12 rounded-3" data-slider-city="2">Альметьевск</button>
                <button class="p-12 rounded-3" data-slider-city="3">Набережные Челны</button>
                <button class="p-12 rounded-3" data-slider-city="4">Нижнекамск</button>
                <button class="p-12 rounded-3" data-slider-city="5">Чистополь</button>
                <button class="p-12 rounded-3" data-slider-city="6">Ульяновск</button>
                <button class="p-12 rounded-3" data-slider-city="7">Йошкар-Ола</button>
                <button class="p-12 rounded-3" data-slider-city="8">Чебоксары</button>
                <button class="p-12 rounded-3" data-slider-city="9">Нижний Новгород</button>
                <button class="p-12 rounded-3" data-slider-city="10">Арзамас</button>
                <button class="p-12 rounded-3" data-slider-city="11">Пермь</button>
                <button class="p-12 rounded-3" data-slider-city="12">Удмуртия</button>
                <button class="p-12 rounded-3" data-slider-city="13">Ижевск</button>
                <button class="p-12 rounded-3" data-slider-city="14">Уфа</button>
                <button class="p-12 rounded-3" data-slider-city="15">Нефтекамск</button>
                <button class="p-12 rounded-3" data-slider-city="16">Саранск</button>
                <button class="p-12 rounded-3" data-slider-city="17">Пенза</button>
                <button class="p-12 rounded-3" data-slider-city="18">Киров</button>
                <button class="p-12 rounded-3" data-slider-city="19">Тольятти</button>
                <button class="p-12 rounded-3" data-slider-city="20">Самара</button>
            </div>
        </div>
</section>