<section class="energy-section">
    <div class="container pt-md-9 mt-md-6 mt-8 pt-5 px-0 pb-lg-9 pb-5">
        <h2 class="title fw-bold mb-0">
            Энергия под ключ
        </h2>

        <div class="energy__wrapper d-grid gap-md-6 gap-12 mt-md-7 mt-5">
            <div class="energy__item py-8 px-5 d-flex flex-column gap-12">
                <div class="d-flex align-items-center gap-3 pt-md-2">
                    <svg class="gen1">
                        <use xlink:href="./img/svg/sprite.svg#gen1"></use>
                    </svg>
                    <p class="energy__title fw-bold mt-md-1">Мощный парк</p>
                </div>
                <p class="flex-fill mt-1">5 генераторов общей мощностью
                    8407 кВт для стабильной работы</p>
            </div>
            <div class="energy__item py-8 px-5 d-flex flex-column gap-12">
                <div class="d-flex align-items-center gap-3 pt-md-2">
                    <svg class="gen2">
                        <use xlink:href="./img/svg/sprite.svg#gen2"></use>
                    </svg>
                    <p class="energy__title fw-bold mt-md-1">Быстрая замена</p>
                </div>
                <p class="flex-fill mt-1">Подменный парк для оперативного восстановления работы оборудования</p>
            </div>
            <div class="energy__item py-8 px-5 d-flex flex-column gap-12">
                <div class="d-flex align-items-center gap-3 pt-md-2">
                    <svg class="gen3">
                        <use xlink:href="./img/svg/sprite.svg#gen3"></use>
                    </svg>
                    <p class="energy__title fw-bold mt-md-1">Тестирование перед стартом</p>
                </div>
                <p class="flex-fill mt-1">Все генераторы проходят нагрузочное испытание на стенде мощностью 500
                    кВт
                </p>
            </div>
            <div class="energy__item py-8 px-5 d-flex flex-column gap-12">
                <div class="d-flex align-items-center gap-3 pt-md-2">
                    <svg class="gen4">
                        <use xlink:href="./img/svg/sprite.svg#gen4"></use>
                    </svg>
                    <p class="energy__title fw-bold mt-md-1">Сервис 24/7</p>
                </div>
                <p class="flex-fill mt-1">Круглосуточная служба для оперативного обслуживания техники</p>
            </div>
            <div class="energy__item py-8 px-5 d-flex flex-column gap-12">
                <div class="d-flex align-items-center gap-3 pt-md-2">
                    <svg class="gen5">
                        <use xlink:href="./img/svg/sprite.svg#gen5"></use>
                    </svg>
                    <p class="energy__title fw-bold mt-md-1">Комплектация в подарок</p>
                </div>
                <p class="flex-fill mt-1">Бесплатное оснащение: силовой кабель, кубовик и насос для топлива</p>
            </div>
            <div class="energy__item py-8 px-5 d-flex flex-column gap-12">
                <div class="d-flex align-items-center gap-3 pt-md-2">
                    <svg class="gen6">
                        <use xlink:href="./img/svg/sprite.svg#gen6"></use>
                    </svg>
                    <p class="energy__title fw-bold mt-md-1">Обслуживание включено</p>
                </div>
                <p class="flex-fill mt-1">Техническое обслуживание нашими специалистами входит в стоимость
                    аренды</p>
            </div>
        </div>
    </div>
</section>