<section class="big-form pt-md-9 mt-md-6 mt-8">
    <div class="container px-lg-0">
        <div
            class="big-form__wrapper arenda-form position-relative overflow-hidden py-lg-10 py-md-7 py-5 px-md-5 px-12">
            <div class="arenda-form__wrapper">
                <img src="./img/generators_block.jpg" alt="form block"
                    class="big-form__background-image tab-card__background-image z-0">
                <h2 class="fw-bold small-title">Заявка на аренду дизельной электростанции</h2>

                <form action="#" class="d-grid gap-md-6 gap-3 mt-md-6 mt-5 position-relative">
                    <div>
                        <input type="text" class="big-form__input p-md-4 p-3 white rounded-3 w-100"
                            placeholder="Мощность, кВт">
                    </div>
                    <div>
                        <input type="text" class="big-form__input p-md-4 p-3 white rounded-3 w-100"
                            placeholder="Срок аренды, дней">
                    </div>
                    <div>
                        <input type="text" class="big-form__input p-md-4 p-3 white rounded-3 w-100"
                            placeholder="Регион / Город">
                    </div>
                    <div class="mt-md-0 mt-1">
                        <label class="custom-checkbox d-inline-flex align-items-start">
                            <input type="checkbox" class="d-none" />
                            <span class="checkmark position-relative me-12"></span>
                            <p class="checkbox-text">Предоставление оператора</p>
                        </label><label class="custom-checkbox mt-1 d-inline-flex align-items-start">
                            <input type="checkbox" class="d-none" />
                            <span class="checkmark position-relative me-12"></span>
                            <p class="checkbox-text">Доставка до объкта</p>
                        </label>
                    </div>
                    <div>
                        <label class="custom-checkbox d-inline-flex align-items-start">
                            <input type="checkbox" class="d-none" />
                            <span class="checkmark position-relative me-12"></span>
                            <p class="checkbox-text">Кабель силовой</p>
                        </label><label class="custom-checkbox mt-1 d-inline-flex align-items-start">
                            <input type="checkbox" class="d-none" />
                            <span class="checkmark position-relative me-12"></span>
                            <p class="checkbox-text">Емкость для топлива</p>
                        </label>
                    </div>
                    <div>
                        <label class="custom-checkbox d-inline-flex align-items-start">
                            <input type="checkbox" class="d-none" />
                            <span class="checkmark position-relative me-12"></span>
                            <p class="checkbox-text">Подвоз топлива</p>
                        </label><label class="custom-checkbox mt-1 d-inline-flex align-items-start">
                            <input type="checkbox" class="d-none" />
                            <span class="checkmark position-relative me-12"></span>
                            <p class="checkbox-text">Разгрузка на объекте</p>
                        </label>
                    </div>
                    <input type="text" class="big-form__input p-md-4 p-3 white rounded-3" placeholder="Ваше имя *">
                    <input type="tel" class="big-form__input p-md-4 p-3 white rounded-3" placeholder="Телефон *">
                    <label
                        class="d-block d-lg-none custom-checkbox d-inline-flex align-items-md-start align-items-center mt-md-0 mt-2">
                        <input type="checkbox" class="d-none" />
                        <span class="checkmark position-relative me-12"></span>
                        <span class="checkbox-text modify"><a href="#">Я согласен на передачу и обработку
                                персональных данных в соответствии с политикой конфиденциальности</a></span>
                    </label>

                    <button class="btn btn-warning py-md-4 py-3 px-9">Отправить</button>
                </form>
                <label class="d-none custom-checkbox mt-5 d-lg-inline-flex align-items-start">
                    <input type="checkbox" class="d-none" />
                    <span class="checkmark position-relative me-12"></span>
                    <span class="checkbox-text modify"><a href="#">Я согласен на передачу и обработку
                            персональных данных в соответствии с политикой конфиденциальности</a></span>
                </label>
            </div>
        </div>
    </div>
</section>