<section class="arenda-generators mt-0">
  <div class="container py-md-9 py-7">
    <div class="d-grid gap-md-6 gap-5 arenda-generators__wrapper mt-1">
      <div class="arenda-generators__item rounded-md-6 rounded-4 item-arenda px-5 pt-5 pb-7">
        <h1 class="item-arenda__title">Аренда дизельных генераторов</h1>
        <div class="d-grid gap-md-5 gap-4 main-slider__info item-arenda__list mt-lg-9 mt-md-7 mt-6">
          <div class="main-slider__item d-flex align-items-center gap-4">
            <svg class="tick">
              <use xlink:href="./img/sprite.svg#tick"></use>
            </svg>
            <span>Сервисная служба 24/7</span>
          </div>
          <div class="main-slider__item d-flex align-items-center gap-4">
            <svg class="tick">
              <use xlink:href="./img/sprite.svg#tick"></use>
            </svg>
            <span>Подача в течение 2-х часов</span>
          </div>
          <div class="main-slider__item d-flex align-items-center gap-4">
            <svg class="tick">
              <use xlink:href="./img/sprite.svg#tick"></use>
            </svg>
            <span>Генераторы от 30 до 500 кВт в наличии</span>
          </div>
          <div class="main-slider__item d-flex align-items-center gap-4">
            <svg class="tick">
              <use xlink:href="./img/sprite.svg#tick"></use>
            </svg>
            <span>Бесплатное обслуживание</span>
          </div>
        </div>
      </div>
      <div class="arenda-generators__item">
        <img loading="eager" fetchpriority="high" src="./img/arenda/arenda-section.jpg" alt="arenda-section"
          class="item-arenda__image rounded-md-6 rounded-4 object-fit-cover" width="100%" height="100%" />
      </div>
    </div>
  </div>
</section>