<header class="header pb-md-5">
  <div class="container header__wrapper">
    <div class="d-flex align-items-center justify-content-between">
      <a href="./" class="header__logo d-block me-md-2 me-0">
        <img
          loading="eager"
          fetchpriority="high"
          src="./img/svg/logo.svg"
          alt="logo"
          width="100%"
        />
      </a>
      <div
        class="d-none d-lg-block search-container position-relative py-3 pe-3"
      >
        <svg class="search-icon position-absolute">
          <use xlink:href="./img/sprite.svg#search"></use>
        </svg>
        <input type="text" class="search-input" placeholder="Поиск" />
      </div>
      <div class="header__contacts ms-lg-2 d-none d-md-block">
        <p class="header__contact">
          <a href="mail:generator-energy.ru@ya.ru">generator-energy.ru@ya.ru</a>
        </p>
        <p class="header__description disabled-color">Ответим в течение часа</p>
      </div>
      <div class="contacts-wrapper position-relative d-none d-md-block">
        <div class="contacts-wrapper__background position-absolute"></div>
        <div class="header__contacts ms-lg-1 d-none d-md-flex flex-column">
          <p
            class="header__contact d-flex align-items-center justify-content-between"
          >
            <a href="tel:88005117379">8 800 511-73-79</a>
            <svg class="arrow toggle-extra">
              <use xlink:href="./img/sprite.svg#arrow"></use>
            </svg>
          </p>
          <p class="header__description disabled-color">Бесплатный по РФ</p>
        </div>

        <div class="extra-phone position-absolute mt-2 px-1">
          <p
            class="header__contact d-flex align-items-center justify-content-between"
          >
            <a href="tel:88005117379">8 (855) 299-95-23</a>
          </p>
          <p class="header__description disabled-color">Москва</p>
          <div class="mt-3">
            <button
              class="btn btn-warning btn-popup semibold d-block w-100 py-2"
            >
              Вам перезвонить?
            </button>
          </div>
        </div>
      </div>

      <div class="header__socials d-md-flex gap-2 ms-lg-4 d-none">
        <a href="#" class="socials-header__whatsapp rounded-3 d-block">
          <svg class="whatsapp">
            <use xlink:href="./img/sprite.svg#whatsapp"></use>
          </svg>
        </a>
        <a href="#" class="socials-header__telegram rounded-3 d-block">
          <svg class="telegram">
            <use xlink:href="./img/sprite.svg#telegram"></use>
          </svg>
        </a>
      </div>

      <!-- mobile icons -->
      <div class="header__mobile-icons d-lg-none gap-3 d-flex">
        <svg class="place" role="button">
          <use xlink:href="./img/svg/sprite.svg#place"></use>
        </svg>
        <svg class="phone contacts d-block d-md-none" role="button">
          <use xlink:href="./img/svg/sprite.svg#phone"></use>
        </svg>
        <svg class="search" role="button">
          <use xlink:href="./img/svg/sprite.svg#search"></use>
        </svg>
        <svg class="burger" role="button">
          <use xlink:href="./img/svg/sprite.svg#burger"></use>
        </svg>
      </div>
    </div>
    <div
      class="header-menu-wrapper position-relative d-flex gap-lg-6 gap-4 align-items-lg-center mt-lg-4 mt-0 px-lg-0 py-lg-0 px-4 py-5"
    >
      <a
        href="#"
        class="d-none header__catalogue rounded-3 d-lg-flex gap-3 align-items-center"
      >
        <svg class="svg-catalogue">
          <use xlink:href="./img/sprite.svg#catalogue"></use>
        </svg>
        <span data-layout="0" data-initial-layout data-position="header"
          ><span>Каталог</span></span
        >
      </a>

      <div class="pt-5 w-100 position-absolute catalogue-header__overlay">
        <div class="d-flex py-5 justify-content-between">
          <div class="catalogue-header__item">
            <a
              href="#"
              class="catalogue-header__title pb-5 semibold d-inline-block"
              data-layout="0, 1"
              data-initial-layout
              data-position="element, header"
            >
              <span>Генераторы</span>
            </a>
            <div class="catalogue-header__block-wrapper d-flex pt-7">
              <div class="catalogue-header__block">
                <div class="catalogue-header__category">
                  <p
                    class="pb-3"
                    data-layout="1, 2"
                    data-position="element, header"
                  >
                    <span>Дизельные генераторы</span>
                  </p>
                  <ul class="p-0 catalogue-header__list">
                    <li>
                      <a
                        href="./product.html"
                        data-layout="2"
                        data-position="element"
                        ><span>Aksa</span></a
                      >
                    </li>
                    <li>
                      <a
                        href="./product.html"
                        data-layout="2"
                        data-position="element"
                        ><span>Atlas Copco</span></a
                      >
                    </li>
                    <li>
                      <a
                        href="./product.html"
                        data-layout="2"
                        data-position="element"
                        ><span>Cummins</span></a
                      >
                    </li>
                    <li>
                      <a
                        href="./product.html"
                        data-layout="2"
                        data-position="element"
                        ><span>Emsa</span></a
                      >
                    </li>
                    <li>
                      <a
                        href="./product.html"
                        data-layout="2"
                        data-position="element"
                        ><span>Fubag</span></a
                      >
                    </li>
                    <li>
                      <a
                        href="./product.html"
                        data-layout="2"
                        data-position="element"
                        ><span>Gesan</span></a
                      >
                    </li>
                    <li>
                      <a
                        href="./product.html"
                        data-layout="2"
                        data-position="element"
                        ><span>AGG</span></a
                      >
                    </li>
                    <li>
                      <a
                        href="./product.html"
                        data-layout="2"
                        data-position="element"
                        ><span>Motor</span></a
                      >
                    </li>
                    <li>
                      <a
                        href="./product.html"
                        data-layout="2"
                        data-position="element"
                        ><span>SDMO</span></a
                      >
                    </li>
                    <li>
                      <a
                        href="./product.html"
                        data-layout="2"
                        data-position="element"
                        ><span>Zeus</span></a
                      >
                    </li>
                    <li>
                      <a
                        href="./product.html"
                        data-layout="2"
                        data-position="element"
                        ><span>Азимут</span></a
                      >
                    </li>
                    <li>
                      <a
                        href="./product.html"
                        data-layout="2"
                        data-position="element"
                        ><span>ТСС</span></a
                      >
                    </li>
                    <li>
                      <a
                        href="./product.html"
                        data-layout="2"
                        data-position="element"
                        ><span>Фрегат</span></a
                      >
                    </li>
                    <li>
                      <a
                        href="./product.html"
                        data-layout="2"
                        data-position="element"
                        ><span>Все производители</span></a
                      >
                    </li>
                  </ul>
                </div>
              </div>
              <div class="catalogue-header__block">
                <div class="catalogue-header__category">
                  <p
                    class="pb-3"
                    data-layout="1, 3"
                    data-position="element, header"
                  >
                    <span>Бензиновые генераторы</span>
                  </p>
                  <ul class="p-0 catalogue-header__list">
                    <li>
                      <a
                        href="./product.html"
                        data-layout="3"
                        data-position="element"
                        ><span>Fubag</span></a
                      >
                    </li>
                    <li>
                      <a
                        href="./product.html"
                        data-layout="3"
                        data-position="element"
                        ><span>Geko</span></a
                      >
                    </li>
                    <li>
                      <a
                        href="./product.html"
                        data-layout="3"
                        data-position="element"
                        ><span>ТСС</span></a
                      >
                    </li>
                    <li>
                      <a
                        href="./product.html"
                        data-layout="3"
                        data-position="element"
                        ><span>Все производители</span></a
                      >
                    </li>
                  </ul>
                </div>
                <div class="catalogue-header__category mt-9">
                  <p
                    class="pb-3"
                    data-layout="1, 4"
                    data-position="element, header"
                  >
                    <span>Газовые генераторы</span>
                  </p>
                  <ul class="p-0 catalogue-header__list">
                    <li>
                      <a
                        href="./product.html"
                        data-layout="4"
                        data-position="element"
                        ><span>Generac</span></a
                      >
                    </li>
                    <li>
                      <a
                        href="./product.html"
                        data-layout="4"
                        data-position="element"
                        ><span>REG</span></a
                      >
                    </li>
                    <li>
                      <a
                        href="./product.html"
                        data-layout="4"
                        data-position="element"
                        ><span>Все производители</span></a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="catalogue-header__item">
            <a
              href="#"
              class="catalogue-header__title pb-5 semibold d-inline-block"
              data-initial-layout
              data-layout="0, 5"
              data-position="element, header"
            >
              <span>Источники бесперебойного питания</span>
            </a>
            <div class="catalogue-header__block-wrapper d-flex pt-7">
              <div class="catalogue-header__block">
                <div class="catalogue-header__category">
                  <ul class="p-0 catalogue-header__list">
                    <li>
                      <a
                        href="./product.html"
                        data-layout="5"
                        data-position="element"
                        ><span>Eaton</span></a
                      >
                    </li>
                    <li>
                      <a
                        href="./product.html"
                        data-layout="5"
                        data-position="element"
                        ><span>HIDEN</span></a
                      >
                    </li>
                    <li>
                      <a
                        href="./product.html"
                        data-layout="5"
                        data-position="element"
                        ><span>Импульс</span></a
                      >
                    </li>
                    <li>
                      <a
                        href="./product.html"
                        data-layout="5"
                        data-position="element"
                        ><span>Парус</span></a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="d-lg-none d-flex justify-content-between align-items-center contacts-header position-relative pb-5"
      >
        <div class="d-flex align-items-center gap-2">
          <svg class="arrow mobile-catalogue-arrow m-0">
            <use xlink:href="./img/svg/sprite.svg#arrow"></use>
          </svg>
          <p class="semibold mobile-menu-title">Меню</p>
        </div>
        <svg class="mobile-cross cross-menu">
          <use xlink:href="./img/svg/sprite.svg#mobile-cross"></use>
        </svg>
      </div>
      <div
        class="d-lg-none d-flex justify-content-between align-items-center gap-3"
      >
        <div class="search-container position-relative py-3 pe-3">
          <svg class="search-icon position-absolute">
            <use xlink:href="./img/sprite.svg#search"></use>
          </svg>
          <input type="text" class="search-input" placeholder="Поиск" />
        </div>
      </div>
      <nav class="header__nav navbar-nav overlay-menu">
        <ul class="header-menu d-flex gap-lg-8 ps-lg-3 ps-0">
          <li
            class="d-block d-lg-none header-menu__item nav-item mobile-catalogue"
          >
            <span
              class="nav-link py-lg-2 py-3 d-lg-block d-flex justify-content-between align-items-center"
            >
              <span>Каталог</span>
              <svg class="small-arrow d-lg-none d-block">
                <use xlink:href="./img/svg/sprite.svg#small-arrow"></use>
              </svg>
            </span>
          </li>
          <li
            class="header-menu__item nav-item menu__dropdown position-relative"
          >
            <span
              class="nav-link py-lg-2 py-3 d-lg-block d-flex justify-content-between align-items-center"
            >
              <span>Услуги</span>
              <svg class="small-arrow d-lg-none d-block">
                <use xlink:href="./img/svg/sprite.svg#small-arrow"></use>
              </svg>
            </span>
            <ul
              class="dropdown-menu position-absolute tab-list py-0 overflow-hidden"
            >
              <li class="dropdown-item">
                <a
                  href="#"
                  class="py-lg-3 py-2 d-block"
                  data-layout="1"
                  data-position="element"
                  ><span>Электроснабжение</span></a
                >
              </li>
              <li class="dropdown-item">
                <a
                  href="#"
                  class="py-lg-3 py-2 d-block"
                  data-layout="1"
                  data-position="element"
                  ><span>Ремонт и&nbsp;ТО</span></a
                >
              </li>
              <li class="dropdown-item">
                <a
                  href="#"
                  class="py-lg-3 py-2 d-block"
                  data-layout="1"
                  data-position="element"
                  ><span>Пуско-накладочные работы</span></a
                >
              </li>
              <li class="dropdown-item">
                <a
                  href="#"
                  class="py-lg-3 py-2 d-block"
                  data-layout="1"
                  data-position="element"
                  ><span>Расчёт мощности генератора</span></a
                >
              </li>
            </ul>
          </li>
          <li class="header-menu__item nav-item">
            <a href="./arenda.html" class="nav-link py-lg-2 py-3"
              ><span data-category="arenda">Аренда</span></a
            >
          </li>
          <li
            class="header-menu__item nav-item menu__dropdown position-relative"
          >
            <span
              class="nav-link py-lg-2 py-3 d-lg-block d-flex justify-content-between align-items-center"
            >
              <span>О компании</span>
              <svg class="small-arrow d-lg-none d-block">
                <use xlink:href="./img/svg/sprite.svg#small-arrow"></use>
              </svg>
            </span>
            <ul
              class="dropdown-menu position-absolute tab-list py-0 overflow-hidden"
            >
              <li class="dropdown-item">
                <a href="#" class="py-lg-3 py-2 d-block"
                  ><span>Вопрос-ответ</span></a
                >
              </li>
              <li class="dropdown-item">
                <a href="#" class="py-lg-3 py-2 d-block"><span>Статьи</span></a>
              </li>
              <li class="dropdown-item">
                <a href="#" class="py-lg-3 py-2 d-block"
                  ><span>Сертификаты и награды</span></a
                >
              </li>
              <li class="dropdown-item">
                <a href="#" class="py-lg-3 py-2 d-block"><span>Видео</span></a>
              </li>
              <li class="dropdown-item">
                <a href="#" class="py-lg-3 py-2 d-block"
                  ><span>Новости</span></a
                >
              </li>
              <li class="dropdown-item">
                <a href="#" class="py-lg-3 py-2 d-block"
                  ><span>Документы</span></a
                >
              </li>
              <li class="dropdown-item">
                <a href="./vacancies.html" class="py-lg-3 py-2 d-block"
                  ><span>Вакансии</span></a
                >
              </li>
            </ul>
          </li>
          <li class="header-menu__item nav-item">
            <a href="#" class="nav-link py-lg-2 py-3"
              ><span>Наши проекты</span></a
            >
          </li>
          <li class="header-menu__item nav-item">
            <a href="#" class="nav-link py-lg-2 py-3"><span>Отзывы</span></a>
          </li>
          <li class="header-menu__item nav-item">
            <a href="#" class="nav-link py-lg-2 py-3"
              ><span>Опросный лист</span></a
            >
          </li>
          <li class="header-menu__item nav-item">
            <a href="#" class="nav-link py-lg-2 py-3"><span>Контакты</span></a>
          </li>
        </ul>
      </nav>
      <div class="mobile-catalogue__content flex-fill d-none">
        <p class="mobile-catalogue__title semibold py-3">Каталог</p>
        <ul class="header-menu d-flex gap-lg-8 ps-lg-3 ps-0"></ul>
      </div>
      <div class="d-md-none mobile-header__contacts mt-4">
        <div class="header__contacts py-3">
          <p class="header__contact">
            <a href="mail:generator-energy.ru@ya.ru"
              >generator-energy.ru@ya.ru</a
            >
          </p>
          <p class="header__description disabled-color">
            Ответим в течение часа
          </p>
        </div>
        <div class="d-flex justify-content-between align-items-center">
          <div class="header__contacts py-3">
            <p class="header__contact">
              <a href="mail:generator-energy.ru@ya.ru">8 800 511-73-79</a>
            </p>
            <p class="header__description disabled-color">Бесплатный по РФ</p>
          </div>
          <div class="header__socials d-flex gap-2">
            <div class="socials-header__whatsapp rounded-3">
              <svg class="whatsapp">
                <use xlink:href="./img/sprite.svg#whatsapp"></use>
              </svg>
            </div>
            <div class="socials-header__telegram rounded-3">
              <svg class="telegram">
                <use xlink:href="./img/sprite.svg#telegram"></use>
              </svg>
            </div>
          </div>
        </div>
      </div>
      <button
        class="d-lg-none d-block mt-4 py-3 text-center btn btn-primary w-100"
      >
        Вам перезвонить?
      </button>
    </div>

    <div class="header__breadcrumbs mt-7">
      <div class="header-breadcrumbs-pc d-none d-md-block">
        <a href="#" class="header-breadcrumbs__item disabled">Главная</a> /
        <a href="#" class="header-breadcrumb__item"
          >Аренда дизельных генераторов</a
        >
      </div>
      <div
        class="header-breadcrumbs-mobile d-block d-md-none d-flex align-items-end gap-3 mb-12"
      >
        <div
          class="header-breadcrumbs__arrow rounded-1 d-flex align-items-center justify-content-center"
        >
          <svg>
            <use xlink:href="./img/svg/sprite.svg#arrow"></use>
          </svg>
        </div>
        <a href="#" class="header-breadcrumbs__text">Главная</a>
      </div>
    </div>

    <!-- overlays -->

    <div
      class="header-pc__overlay overlay-pc-address position-fixed p-9 rounded-4"
    >
      <div class="d-flex justify-content-between position-relative pb-5">
        <p class="semibold place-title">Укажите свой город</p>
        <svg class="mobile-cross cross-place">
          <use xlink:href="./img/svg/sprite.svg#mobile-cross"></use>
        </svg>
      </div>

      <ul class="d-grid p-0 city-list mt-4">
        <li data-city="Казань">Казань</li>
        <li data-city="Набережные Челны">Набережные Челны</li>
        <li data-city="Ульяновск">Ульяновск</li>
        <li data-city="Уфа">Уфа</li>
        <li data-city="Ижевск">Ижевск</li>
        <li data-city="Киров">Киров</li>
        <li data-city="Нижний Новгород">Нижний Новгород</li>
        <li data-city="Самара">Самара</li>
        <li data-city="Тольятти">Тольятти</li>
        <li data-city="Саратов">Саратов</li>
        <li data-city="Пермь">Пермь</li>
        <li data-city="Оренбург">Оренбург</li>
      </ul>
    </div>

    <div class="header-search__overlay overlay-search py-5 px-4">
      <div class="d-flex justify-content-between align-items-center gap-3">
        <div class="search-container position-relative py-3 pe-3">
          <svg class="search-icon position-absolute">
            <use xlink:href="./img/sprite.svg#search"></use>
          </svg>
          <input type="text" class="search-input" placeholder="Поиск" />
        </div>
        <svg class="mobile-cross cross-search">
          <use xlink:href="./img/svg/sprite.svg#mobile-cross"></use>
        </svg>
      </div>
    </div>

    <div class="header-search__overlay overlay-contacts pt-5 pb-4 px-4">
      <div
        class="d-flex justify-content-between align-items-center contacts-header position-relative pb-5"
      >
        <p class="semibold">Контакты</p>
        <svg class="mobile-cross cross-contact">
          <use xlink:href="./img/svg/sprite.svg#mobile-cross"></use>
        </svg>
      </div>
      <div class="mobile-header__contacts mt-4">
        <div class="header__contacts py-3">
          <p class="header__contact">
            <a href="mail:generator-energy.ru@ya.ru"
              >generator-energy.ru@ya.ru</a
            >
          </p>
          <p class="header__description disabled-color">
            Ответим в течение часа
          </p>
        </div>
        <div class="header__contacts py-3">
          <p class="header__contact">
            <a href="mail:generator-energy.ru@ya.ru">8 800 511-73-79</a>
          </p>
          <p class="header__description disabled-color">Бесплатный по РФ</p>
        </div>
        <div class="header__contacts py-3">
          <p class="header__contact">
            <a href="mail:generator-energy.ru@ya.ru">+7 (855) 299–95–23</a>
          </p>
          <p class="header__description disabled-color">Москва</p>
        </div>
        <div class="header__socials d-flex gap-2 pb-4">
          <div class="socials-header__whatsapp rounded-3">
            <svg class="whatsapp">
              <use xlink:href="./img/sprite.svg#whatsapp"></use>
            </svg>
          </div>
          <div class="socials-header__telegram rounded-3">
            <svg class="telegram">
              <use xlink:href="./img/sprite.svg#telegram"></use>
            </svg>
          </div>
        </div>
      </div>

      <button
        class="d-block mt-4 py-3 text-center btn btn-primary w-100 open-popup-recall"
      >
        Вам перезвонить?
      </button>
    </div>

    <div
      class="header-search__overlay overlay-place py-5 px-4 d-flex flex-column"
    >
      <div
        class="d-flex justify-content-between contacts-header position-relative pb-5"
      >
        <p class="semibold place-title">
          <span>Москва</span> <br />
          <span>ул. Волоколамское шоссе, д. 116, пом. 439</span>
        </p>
        <svg class="mobile-cross cross-place">
          <use xlink:href="./img/svg/sprite.svg#mobile-cross"></use>
        </svg>
      </div>
      <div class="header__contacts py-3 flex-fill">
        <p class="semibold my-3">Укажите свой город</p>
        <ul class="p-0">
          <li data-city="Казань">Казань</li>
          <li data-city="Набережные Челны">Набережные Челны</li>
          <li data-city="Ульяновск">Ульяновск</li>
          <li data-city="Уфа">Уфа</li>
          <li data-city="Ижевск">Ижевск</li>
          <li data-city="Киров">Киров</li>
          <li data-city="Нижний Новгород">Нижний Новгород</li>
          <li data-city="Самара">Самара</li>
          <li data-city="Тольятти">Тольятти</li>
          <li data-city="Саратов">Саратов</li>
          <li data-city="Пермь">Пермь</li>
          <li data-city="Оренбург">Оренбург</li>
        </ul>
      </div>
      <button class="d-block mt-4 py-3 text-center btn btn-primary w-100">
        Вам перезвонить?
      </button>
    </div>
  </div>
  <div class="background-popup"></div>
</header>
<div class="contacts-wrapper__black-background"></div>
