<section class="power">
    <div class="container pt-md-9 mt-md-6 mt-5 pt-2">
        <h2 class="title fw-bold">
            Выбор генератора по мощности
        </h2>

        <div class="power-cards d-flex flex-column gap-md-5 gap-3 mt-md-7 mt-5">
            <div class="power-card d-flex rounded-3 overflow-hidden flex-lg-row flex-column position-relative">
                <a href="#" class="stretched-link"></a>
                <div class="power-card__wrapper d-flex gap-md-7 gap-3 pe-lg-7 px-5 ps-lg-0 ps-5 flex-fill">
                    <div
                        class="power-card__energy rounded-3 d-lg-flex flex-column align-items-center p-6 d-none justify-content-center">
                        <div class="py-5">
                            <p class="power-card__energy-first semibold">100 кВт</p>
                            <p class="power-card__energy-second">120 кВа</p>
                        </div>
                    </div>
                    <div class="power-card__image py-lg-5 pt-md-5 pt-3">
                        <img loading="lazy" decoding="async" src="./img/arenda/power.jpg" alt="power"
                            class="object-fit-cover rounded-3 overflow-hidden ratio ratio-16x9" width="100%"
                            height="100%"">
                    </div>
                    <div
                        class=" power-card__params params-power d-flex flex-lg-row flex-column py-lg-5 pt-md-5 pt-3
                            align-items-lg-center align-items-start flex-fill">
                        <div
                            class="d-block d-lg-none power-card__energy rounded-3 d-flex flex-column pb-lg-0 pb-12 w-100">
                            <p class="power-card__energy-first semibold">100 кВт</p>
                            <p class="power-card__energy-second">120 кВа</p>
                        </div>
                        <div class="d-flex align-items-end gap-lg-9 gap-4">
                            <div class="params-power__block d-lg-grid d-flex flex-column power-params gap-md-12 gap-1">
                                <p class="d-none d-md-block">Мощность</p>
                                <p class="d-none d-md-block">80 кВт / 100 кВА</p>

                                <p class="d-none d-md-block">Габариты</p>
                                <p class="d-none d-md-block">195×77×148</p>

                                <p class="d-block d-md-none">Вес</p>
                                <p class="d-block d-md-none">1 108</p>

                                <p>Расход топлива</p>
                                <p>15 л/ч</p>
                            </div>
                            <div class="params-power__block d-lg-grid d-md-flex d-none flex-column power-params gap-12">
                                <p>Объем бака</p>
                                <p>30 Л</p>

                                <p>Вес</p>
                                <p>1 108</p>

                                <p>Уровень шума</p>
                                <p>66</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div
                    class="power-card__price d-flex flex-column justify-content-center gap-4 py-6 pe-lg-6 px-3 pb-md-6 pb-12 pt-md-6 pt-5 align-items-center ps-lg-8 ps-3">
                    <p class="power-card__price-text mb-lg-0 mb-12"><span class="semibold">от&nbsp;3500
                            руб</span> /
                        сутки</p>
                    <button
                        class="btn btn-warning py-3 w-100 open-popup-book d-block position-relative z-3">Арендовать</button>
                </div>
            </div>
            <div class="power-card d-flex rounded-3 overflow-hidden flex-lg-row flex-column position-relative">
                <a href="#" class="stretched-link"></a>

                <div class="power-card__wrapper d-flex gap-md-7 gap-3 pe-lg-7 px-5 ps-lg-0 ps-5 flex-fill">
                    <div
                        class="power-card__energy rounded-3 d-lg-flex flex-column align-items-center p-6 d-none justify-content-center">
                        <div class="py-5">
                            <p class="power-card__energy-first semibold">100 кВт</p>
                            <p class="power-card__energy-second">120 кВа</p>
                        </div>
                    </div>
                    <div class="power-card__image py-lg-5 pt-md-5 pt-3">
                        <img loading="lazy" decoding="async" src="./img/arenda/power.jpg" alt="power"
                            class="object-fit-cover rounded-3 overflow-hidden ratio ratio-16x9" width="100%"
                            height="100%"">
                    </div>
                    <div
                        class=" power-card__params params-power d-flex flex-lg-row flex-column py-lg-5 pt-md-5 pt-3
                            align-items-lg-center align-items-start flex-fill">
                        <div
                            class="d-block d-lg-none power-card__energy rounded-3 d-flex flex-column pb-lg-0 pb-12 w-100">
                            <p class="power-card__energy-first semibold">100 кВт</p>
                            <p class="power-card__energy-second">120 кВа</p>
                        </div>
                        <div class="d-flex align-items-end gap-lg-9 gap-4">
                            <div class="params-power__block d-lg-grid d-flex flex-column power-params gap-md-12 gap-1">
                                <p class="d-none d-md-block">Мощность</p>
                                <p class="d-none d-md-block">80 кВт / 100 кВА</p>

                                <p class="d-none d-md-block">Габариты</p>
                                <p class="d-none d-md-block">195×77×148</p>

                                <p class="d-block d-md-none">Вес</p>
                                <p class="d-block d-md-none">1 108</p>

                                <p>Расход топлива</p>
                                <p>15 л/ч</p>
                            </div>
                            <div class="params-power__block d-lg-grid d-md-flex d-none flex-column power-params gap-12">
                                <p>Объем бака</p>
                                <p>30 Л</p>

                                <p>Вес</p>
                                <p>1 108</p>

                                <p>Уровень шума</p>
                                <p>66</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div
                    class="power-card__price d-flex flex-column justify-content-center gap-4 py-6 pe-lg-6 px-3 pb-md-6 pb-12 pt-md-6 pt-5 align-items-center ps-lg-8 ps-5">
                    <p class="power-card__price-text mb-lg-0 mb-12"><span class="semibold">от&nbsp;3500
                            руб</span> /
                        сутки</p>
                    <button
                        class="btn btn-warning py-3 w-100 open-popup-book d-block position-relative z-3">Арендовать</button>
                </div>
            </div>
            <div class="power-card d-flex rounded-3 overflow-hidden flex-lg-row flex-column position-relative">
                <a href="#" class="stretched-link"></a>
                <div class="power-card__wrapper d-flex gap-md-7 gap-3 pe-lg-7 px-5 ps-lg-0 ps-5 flex-fill">
                    <div
                        class="power-card__energy rounded-3 d-lg-flex flex-column align-items-center p-6 d-none justify-content-center">
                        <div class="py-5">
                            <p class="power-card__energy-first semibold">100 кВт</p>
                            <p class="power-card__energy-second">120 кВа</p>
                        </div>
                    </div>
                    <div class="power-card__image py-lg-5 pt-md-5 pt-3">
                        <img loading="lazy" decoding="async" src="./img/arenda/power.jpg" alt="power"
                            class="object-fit-cover rounded-3 overflow-hidden ratio ratio-16x9" width="100%"
                            height="100%"">
                    </div>
                    <div
                        class=" power-card__params params-power d-flex flex-lg-row flex-column py-lg-5 pt-md-5 pt-3
                            align-items-lg-center align-items-start flex-fill">
                        <div
                            class="d-block d-lg-none power-card__energy rounded-3 d-flex flex-column pb-lg-0 pb-12 w-100">
                            <p class="power-card__energy-first semibold">100 кВт</p>
                            <p class="power-card__energy-second">120 кВа</p>
                        </div>
                        <div class="d-flex align-items-end gap-lg-9 gap-4">
                            <div class="params-power__block d-lg-grid d-flex flex-column power-params gap-md-12 gap-1">
                                <p class="d-none d-md-block">Мощность</p>
                                <p class="d-none d-md-block">80 кВт / 100 кВА</p>

                                <p class="d-none d-md-block">Габариты</p>
                                <p class="d-none d-md-block">195×77×148</p>

                                <p class="d-block d-md-none">Вес</p>
                                <p class="d-block d-md-none">1 108</p>

                                <p>Расход топлива</p>
                                <p>15 л/ч</p>
                            </div>
                            <div class="params-power__block d-lg-grid d-md-flex d-none flex-column power-params gap-12">
                                <p>Объем бака</p>
                                <p>30 Л</p>

                                <p>Вес</p>
                                <p>1 108</p>

                                <p>Уровень шума</p>
                                <p>66</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div
                    class="power-card__price d-flex flex-column justify-content-center gap-4 py-6 pe-lg-6 px-3 pb-md-6 pb-12 pt-md-6 pt-5 align-items-center ps-lg-8 ps-5">
                    <p class="power-card__price-text mb-lg-0 mb-12"><span class="semibold">от&nbsp;3500
                            руб</span> /
                        сутки</p>
                    <button
                        class="btn btn-warning py-3 w-100 open-popup-book d-block position-relative z-3">Арендовать</button>
                </div>
            </div>
            <div class="power-card d-flex rounded-3 overflow-hidden flex-lg-row flex-column position-relative">
                <a href="#" class="stretched-link"></a>
                <div class="power-card__wrapper d-flex gap-md-7 gap-3 pe-lg-7 px-5 ps-lg-0 ps-5 flex-fill">
                    <div
                        class="power-card__energy rounded-3 d-lg-flex flex-column align-items-center p-6 d-none justify-content-center">
                        <div class="py-5">
                            <p class="power-card__energy-first semibold">100 кВт</p>
                            <p class="power-card__energy-second">120 кВа</p>
                        </div>
                    </div>
                    <div class="power-card__image py-lg-5 pt-md-5 pt-3">
                        <img loading="lazy" decoding="async" src="./img/arenda/power.jpg" alt="power"
                            class="object-fit-cover rounded-3 overflow-hidden ratio ratio-16x9" width="100%"
                            height="100%"">
                    </div>
                    <div
                        class=" power-card__params params-power d-flex flex-lg-row flex-column py-lg-5 pt-md-5 pt-3
                            align-items-lg-center align-items-start flex-fill">
                        <div
                            class="d-block d-lg-none power-card__energy rounded-3 d-flex flex-column pb-lg-0 pb-12 w-100">
                            <p class="power-card__energy-first semibold">100 кВт</p>
                            <p class="power-card__energy-second">120 кВа</p>
                        </div>
                        <div class="d-flex align-items-end gap-lg-9 gap-4">
                            <div class="params-power__block d-lg-grid d-flex flex-column power-params gap-md-12 gap-1">
                                <p class="d-none d-md-block">Мощность</p>
                                <p class="d-none d-md-block">80 кВт / 100 кВА</p>

                                <p class="d-none d-md-block">Габариты</p>
                                <p class="d-none d-md-block">195×77×148</p>

                                <p class="d-block d-md-none">Вес</p>
                                <p class="d-block d-md-none">1 108</p>

                                <p>Расход топлива</p>
                                <p>15 л/ч</p>
                            </div>
                            <div class="params-power__block d-lg-grid d-md-flex d-none flex-column power-params gap-12">
                                <p>Объем бака</p>
                                <p>30 Л</p>

                                <p>Вес</p>
                                <p>1 108</p>

                                <p>Уровень шума</p>
                                <p>66</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div
                    class="power-card__price d-flex flex-column justify-content-center gap-4 py-6 pe-lg-6 px-3 pb-md-6 pb-12 pt-md-6 pt-5 align-items-center ps-lg-8 ps-5">
                    <p class="power-card__price-text mb-lg-0 mb-12"><span class="semibold">от&nbsp;3500
                            руб</span> /
                        сутки</p>
                    <button
                        class="btn btn-warning py-3 w-100 open-popup-book d-block position-relative z-3">Арендовать</button>
                </div>
            </div>
            <div class="power-card d-flex rounded-3 overflow-hidden flex-lg-row flex-column position-relative">
                <a href="#" class="stretched-link"></a>
                <div class="power-card__wrapper d-flex gap-md-7 gap-3 pe-lg-7 px-5 ps-lg-0 ps-5 flex-fill">
                    <div
                        class="power-card__energy rounded-3 d-lg-flex flex-column align-items-center p-6 d-none justify-content-center">
                        <div class="py-5">
                            <p class="power-card__energy-first semibold">100 кВт</p>
                            <p class="power-card__energy-second">120 кВа</p>
                        </div>
                    </div>
                    <div class="power-card__image py-lg-5 pt-md-5 pt-3">
                        <img loading="lazy" decoding="async" src="./img/arenda/power.jpg" alt="power"
                            class="object-fit-cover rounded-3 overflow-hidden ratio ratio-16x9" width="100%"
                            height="100%"">
                    </div>
                    <div
                        class=" power-card__params params-power d-flex flex-lg-row flex-column py-lg-5 pt-md-5 pt-3
                            align-items-lg-center align-items-start flex-fill">
                        <div
                            class="d-block d-lg-none power-card__energy rounded-3 d-flex flex-column pb-lg-0 pb-12 w-100">
                            <p class="power-card__energy-first semibold">100 кВт</p>
                            <p class="power-card__energy-second">120 кВа</p>
                        </div>
                        <div class="d-flex align-items-end gap-lg-9 gap-4">
                            <div class="params-power__block d-lg-grid d-flex flex-column power-params gap-md-12 gap-1">
                                <p class="d-none d-md-block">Мощность</p>
                                <p class="d-none d-md-block">80 кВт / 100 кВА</p>

                                <p class="d-none d-md-block">Габариты</p>
                                <p class="d-none d-md-block">195×77×148</p>

                                <p class="d-block d-md-none">Вес</p>
                                <p class="d-block d-md-none">1 108</p>

                                <p>Расход топлива</p>
                                <p>15 л/ч</p>
                            </div>
                            <div class="params-power__block d-lg-grid d-md-flex d-none flex-column power-params gap-12">
                                <p>Объем бака</p>
                                <p>30 Л</p>

                                <p>Вес</p>
                                <p>1 108</p>

                                <p>Уровень шума</p>
                                <p>66</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div
                    class="power-card__price d-flex flex-column justify-content-center gap-4 py-6 pe-lg-6 px-3 pb-md-6 pb-12 pt-md-6 pt-5 align-items-center ps-lg-8 ps-5">
                    <p class="power-card__price-text mb-lg-0 mb-12"><span class="semibold">от&nbsp;3500
                            руб</span> /
                        сутки</p>
                    <button
                        class="btn btn-warning py-3 w-100 open-popup-book d-block position-relative z-3">Арендовать</button>
                </div>
            </div>
            <div class="power-card d-flex rounded-3 overflow-hidden flex-lg-row flex-column position-relative">
                <a href="#" class="stretched-link"></a>
                <div class="power-card__wrapper d-flex gap-md-7 gap-3 pe-lg-7 px-5 ps-lg-0 ps-5 flex-fill">
                    <div
                        class="power-card__energy rounded-3 d-lg-flex flex-column align-items-center p-6 d-none justify-content-center">
                        <div class="py-5">
                            <p class="power-card__energy-first semibold">100 кВт</p>
                            <p class="power-card__energy-second">120 кВа</p>
                        </div>
                    </div>
                    <div class="power-card__image py-lg-5 pt-md-5 pt-3">
                        <img loading="lazy" decoding="async" src="./img/arenda/power.jpg" alt="power"
                            class="object-fit-cover rounded-3 overflow-hidden ratio ratio-16x9" width="100%"
                            height="100%"">
                    </div>
                    <div
                        class=" power-card__params params-power d-flex flex-lg-row flex-column py-lg-5 pt-md-5 pt-3
                            align-items-lg-center align-items-start flex-fill">
                        <div
                            class="d-block d-lg-none power-card__energy rounded-3 d-flex flex-column pb-lg-0 pb-12 w-100">
                            <p class="power-card__energy-first semibold">100 кВт</p>
                            <p class="power-card__energy-second">120 кВа</p>
                        </div>
                        <div class="d-flex align-items-end gap-lg-9 gap-4">
                            <div class="params-power__block d-lg-grid d-flex flex-column power-params gap-md-12 gap-1">
                                <p class="d-none d-md-block">Мощность</p>
                                <p class="d-none d-md-block">80 кВт / 100 кВА</p>

                                <p class="d-none d-md-block">Габариты</p>
                                <p class="d-none d-md-block">195×77×148</p>

                                <p class="d-block d-md-none">Вес</p>
                                <p class="d-block d-md-none">1 108</p>

                                <p>Расход топлива</p>
                                <p>15 л/ч</p>
                            </div>
                            <div class="params-power__block d-lg-grid d-md-flex d-none flex-column power-params gap-12">
                                <p>Объем бака</p>
                                <p>30 Л</p>

                                <p>Вес</p>
                                <p>1 108</p>

                                <p>Уровень шума</p>
                                <p>66</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div
                    class="power-card__price d-flex flex-column justify-content-center gap-4 py-6 pe-lg-6 px-3 pb-md-6 pb-12 pt-md-6 pt-5 align-items-center ps-lg-8 ps-5">
                    <p class="power-card__price-text mb-lg-0 mb-12"><span class="semibold">от&nbsp;3500
                            руб</span> /
                        сутки</p>
                    <button
                        class="btn btn-warning py-3 w-100 open-popup-book d-block position-relative z-3">Арендовать</button>
                </div>
            </div>
            <div class="power-card d-flex rounded-3 overflow-hidden flex-lg-row flex-column position-relative">
                <a href="#" class="stretched-link"></a>
                <div class="power-card__wrapper d-flex gap-md-7 gap-3 pe-lg-7 px-5 ps-lg-0 ps-5 flex-fill">
                    <div
                        class="power-card__energy rounded-3 d-lg-flex flex-column align-items-center p-6 d-none justify-content-center">
                        <div class="py-5">
                            <p class="power-card__energy-first semibold">100 кВт</p>
                            <p class="power-card__energy-second">120 кВа</p>
                        </div>
                    </div>
                    <div class="power-card__image py-lg-5 pt-md-5 pt-3">
                        <img loading="lazy" decoding="async" src="./img/arenda/power.jpg" alt="power"
                            class="object-fit-cover rounded-3 overflow-hidden ratio ratio-16x9" width="100%"
                            height="100%"">
                    </div>
                    <div
                        class=" power-card__params params-power d-flex flex-lg-row flex-column py-lg-5 pt-md-5 pt-3
                            align-items-lg-center align-items-start flex-fill">
                        <div
                            class="d-block d-lg-none power-card__energy rounded-3 d-flex flex-column pb-lg-0 pb-12 w-100">
                            <p class="power-card__energy-first semibold">100 кВт</p>
                            <p class="power-card__energy-second">120 кВа</p>
                        </div>
                        <div class="d-flex align-items-end gap-lg-9 gap-4">
                            <div class="params-power__block d-lg-grid d-flex flex-column power-params gap-md-12 gap-1">
                                <p class="d-none d-md-block">Мощность</p>
                                <p class="d-none d-md-block">80 кВт / 100 кВА</p>

                                <p class="d-none d-md-block">Габариты</p>
                                <p class="d-none d-md-block">195×77×148</p>

                                <p class="d-block d-md-none">Вес</p>
                                <p class="d-block d-md-none">1 108</p>

                                <p>Расход топлива</p>
                                <p>15 л/ч</p>
                            </div>
                            <div class="params-power__block d-lg-grid d-md-flex d-none flex-column power-params gap-12">
                                <p>Объем бака</p>
                                <p>30 Л</p>

                                <p>Вес</p>
                                <p>1 108</p>

                                <p>Уровень шума</p>
                                <p>66</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div
                    class="power-card__price d-flex flex-column justify-content-center gap-4 py-6 pe-lg-6 px-3 pb-md-6 pb-12 pt-md-6 pt-5 align-items-center ps-lg-8 ps-5">
                    <p class="power-card__price-text mb-lg-0 mb-12"><span class="semibold">от&nbsp;3500
                            руб</span> /
                        сутки</p>
                    <button
                        class="btn btn-warning py-3 w-100 open-popup-book d-block position-relative z-3">Арендовать</button>
                </div>
            </div>
            <div class="power-card d-flex rounded-3 overflow-hidden flex-lg-row flex-column position-relative">
                <a href="#" class="stretched-link"></a>
                <div class="power-card__wrapper d-flex gap-md-7 gap-3 pe-lg-7 px-5 ps-lg-0 ps-5 flex-fill">
                    <div
                        class="power-card__energy rounded-3 d-lg-flex flex-column align-items-center p-6 d-none justify-content-center">
                        <div class="py-5">
                            <p class="power-card__energy-first semibold">100 кВт</p>
                            <p class="power-card__energy-second">120 кВа</p>
                        </div>
                    </div>
                    <div class="power-card__image py-lg-5 pt-md-5 pt-3">
                        <img loading="lazy" decoding="async" src="./img/arenda/power.jpg" alt="power"
                            class="object-fit-cover rounded-3 overflow-hidden ratio ratio-16x9" width="100%"
                            height="100%"">
                    </div>
                    <div
                        class=" power-card__params params-power d-flex flex-lg-row flex-column py-lg-5 pt-md-5 pt-3
                            align-items-lg-center align-items-start flex-fill">
                        <div
                            class="d-block d-lg-none power-card__energy rounded-3 d-flex flex-column pb-lg-0 pb-12 w-100">
                            <p class="power-card__energy-first semibold">100 кВт</p>
                            <p class="power-card__energy-second">120 кВа</p>
                        </div>
                        <div class="d-flex align-items-end gap-lg-9 gap-4">
                            <div class="params-power__block d-lg-grid d-flex flex-column power-params gap-md-12 gap-1">
                                <p class="d-none d-md-block">Мощность</p>
                                <p class="d-none d-md-block">80 кВт / 100 кВА</p>

                                <p class="d-none d-md-block">Габариты</p>
                                <p class="d-none d-md-block">195×77×148</p>

                                <p class="d-block d-md-none">Вес</p>
                                <p class="d-block d-md-none">1 108</p>

                                <p>Расход топлива</p>
                                <p>15 л/ч</p>
                            </div>
                            <div class="params-power__block d-lg-grid d-md-flex d-none flex-column power-params gap-12">
                                <p>Объем бака</p>
                                <p>30 Л</p>

                                <p>Вес</p>
                                <p>1 108</p>

                                <p>Уровень шума</p>
                                <p>66</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div
                    class="power-card__price d-flex flex-column justify-content-center gap-4 py-6 pe-lg-6 px-3 pb-md-6 pb-12 pt-md-6 pt-5 align-items-center ps-lg-8 ps-5">
                    <p class="power-card__price-text mb-lg-0 mb-12"><span class="semibold">от&nbsp;3500
                            руб</span> /
                        сутки</p>
                    <button
                        class="btn btn-warning py-3 w-100 open-popup-book d-block position-relative z-3">Арендовать</button>
                </div>
            </div>
        </div>
    </div>
</section>