<section class="questions d-none d-lg-block">
    <div class="container pt-md-9 mt-md-6 mt-8 pt-5 px-0">
        <div class="p-4 d-grid questions__wrapper">
            <div class="d-flex flex-column justify-content-center px-12">
                <h2 class="small-title fw-bold mb-0">
                    Остались вопросы?
                </h2>
                <p class="mt-xl-5 mt-2 fw-light gray-text">
                    Мы&nbsp;поможем рассчитать мощность, подберем электростанцию в&nbsp;зависимости
                    от&nbsp;задачи.
                    Каждый
                    объект
                    имеет свои особенности,
                    поэтому подход к&nbsp;подбору оборудования, организации работ&nbsp;— индивидуальный.
                </p>
            </div>
            <div class="questions__phone p-xl-7 px-7 py-5">
                <p class="gray-text">Звоните нам по&nbsp;телефону:</p>
                <a href="tel:84951538929" class="questions__phone-link fw-bold">+7&nbsp;495&nbsp;153-89-29</a>
                <p class=" questions__text">Арендуйте надежное оборудование по
                    доступным ценам в&nbsp;компании Energy Group.</p>
            </div>
        </div>
    </div>
</section>