<section class="reviews position-relative">
    <div class="container pt-md-9 mt-md-6 mt-8 pt-5 px-0">
        <div class="d-flex align-items-center justify-content-between px-4">
            <h2 class="title fw-bold mb-0">
                Отзывы клиентов
            </h2>
            <a href="#" class="reviews__link d-none d-md-block">Читать все отзывы</a>
        </div>
    </div>

    <div class="swiffy-slider mt-lg-8 mt-5 pb-lg-9 pb-9 slider-nav-mousedrag">
        <ul class="slider-container">
            <li class="reviews__slide position-relative z-3" data-mid="1">
                <a href="#" class="stretched-link"></a>
                <div class="p-md-6 py-12 px-4">
                    <div class="d-flex justify-content-center mt-4">
                        <svg class="quotes">
                            <use xlink:href="./img/svg/sprite.svg#quotes"></use>
                        </svg>
                    </div>

                    <div class="reviews__image position-relative rounded-3 overflow-hidden mt-md-5 mt-12">
                        <img loading="lazy" decoding="async" src="./img/arenda/review1.jpg" alt="review 1"
                            class="d-block" width="100%">

                        <svg class="zoom">
                            <use xlink:href="./img/svg/sprite.svg#zoom-big"></use>
                        </svg>
                    </div>
                </div>
            </li>
            <li class="reviews__slide position-relative z-3" data-mid="2">
                <a href="#" class="stretched-link"></a>
                <div class="p-md-6 py-12 px-4">
                    <div class="d-flex justify-content-center mt-4">
                        <svg class="quotes">
                            <use xlink:href="./img/svg/sprite.svg#quotes"></use>
                        </svg>
                    </div>

                    <div class="reviews__image position-relative rounded-3 overflow-hidden mt-md-5 mt-12">
                        <img loading="lazy" decoding="async" src="./img/arenda/review2.jpg" alt="review 1"
                            class="d-block" width="100%">

                        <svg class="zoom">
                            <use xlink:href="./img/svg/sprite.svg#zoom-big"></use>
                        </svg>
                    </div>
                </div>
            </li>

            <li class="reviews__slide position-relative z-3" data-mid="3">
                <a href="#" class="stretched-link"></a>
                <div class="p-md-6 py-12 px-4">
                    <div class="d-flex justify-content-center mt-4">
                        <svg class="quotes">
                            <use xlink:href="./img/svg/sprite.svg#quotes"></use>
                        </svg>
                    </div>

                    <div class="reviews__image position-relative rounded-3 overflow-hidden mt-md-5 mt-12">
                        <img loading="lazy" decoding="async" src="./img/arenda/review3.jpg" alt="review 1"
                            class="d-block" width="100%">

                        <svg class="zoom">
                            <use xlink:href="./img/svg/sprite.svg#zoom-big"></use>
                        </svg>
                    </div>
                </div>
            </li>

            <li class="reviews__slide position-relative z-3" data-mid="4">
                <a href="#" class="stretched-link"></a>
                <div class="p-md-6 py-12 px-4">
                    <div class="d-flex justify-content-center mt-4">
                        <svg class="quotes">
                            <use xlink:href="./img/svg/sprite.svg#quotes"></use>
                        </svg>
                    </div>

                    <div class="reviews__image position-relative rounded-3 overflow-hidden mt-md-5 mt-12">
                        <img loading="lazy" decoding="async" src="./img/arenda/review1.jpg" alt="review 1"
                            class="d-block" width="100%">

                        <svg class="zoom">
                            <use xlink:href="./img/svg/sprite.svg#zoom-big"></use>
                        </svg>
                    </div>
                </div>
            </li>

            <li class="reviews__slide position-relative z-3" data-mid="5">
                <a href="#" class="stretched-link"></a>
                <div class="p-md-6 py-12 px-4">
                    <div class="d-flex justify-content-center mt-4">
                        <svg class="quotes">
                            <use xlink:href="./img/svg/sprite.svg#quotes"></use>
                        </svg>
                    </div>

                    <div class="reviews__image position-relative rounded-3 overflow-hidden mt-md-5 mt-12">
                        <img loading="lazy" decoding="async" src="./img/arenda/review2.jpg" alt="review 1"
                            class="d-block" width="100%">

                        <svg class="zoom">
                            <use xlink:href="./img/svg/sprite.svg#zoom-big"></use>
                        </svg>
                    </div>
                </div>
            </li>

            <li class="reviews__slide position-relative z-3" data-mid="6">
                <a href="#" class="stretched-link"></a>
                <div class="p-md-6 py-12 px-4">
                    <div class="d-flex justify-content-center mt-4">
                        <svg class="quotes">
                            <use xlink:href="./img/svg/sprite.svg#quotes"></use>
                        </svg>
                    </div>

                    <div class="reviews__image position-relative rounded-3 overflow-hidden mt-md-5 mt-12">
                        <img loading="lazy" decoding="async" src="./img/arenda/review3.jpg" alt="review 1"
                            class="d-block" width="100%">

                        <svg class="zoom">
                            <use xlink:href="./img/svg/sprite.svg#zoom-big"></use>
                        </svg>
                    </div>
                </div>
            </li>

            <li class="reviews__slide position-relative z-3" data-mid="7">
                <a href="#" class="stretched-link"></a>
                <div class="p-md-6 py-12 px-4">
                    <div class="d-flex justify-content-center mt-4">
                        <svg class="quotes">
                            <use xlink:href="./img/svg/sprite.svg#quotes"></use>
                        </svg>
                    </div>

                    <div class="reviews__image position-relative rounded-3 overflow-hidden mt-md-5 mt-12">
                        <img loading="lazy" decoding="async" src="./img/arenda/review1.jpg" alt="review 1"
                            class="d-block" width="100%">

                        <svg class="zoom">
                            <use xlink:href="./img/svg/sprite.svg#zoom-big"></use>
                        </svg>
                    </div>
                </div>
            </li>

        </ul>
        <ul class="slider-indicators indicators d-flex align-items-center justify-content-center">
            <li class="active"></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>

    <p class="d-md-none d-block mt-4"><a href="#"
            class="reviews__link w-100 py-3 d-flex justify-content-center text-decoration-underline">Читать все
            отзывы</a>
    </p>
</section>