<section class="tabs">
    <div class="container pt-md-9 mt-md-6 mt-8 pt-5 px-0">
        <h2 class="title fw-bold mb-0">
            Вопросы и ответы
        </h2>

        <div class="accordion mt-md-12 mt-5" id="accordionExample">
            <div class="accordion-item mt-md-6 mt-12 p-md-5 py-3 px-12">
                <h2 class="accordion-header">
                    <button class="accordion-button fw-semibold py-0 px-md-12 pe-md-12 p-0 gap-1" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true"
                        aria-controls="collapseOne">
                        Какие возможны способы оплаты ?
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                    <div class="accordion-body py-0 px-md-12 px-0 mt-md-0 mt-2">
                        <p>Мы&nbsp;работаем по&nbsp;предоплате. Возможны варианты оплаты как с&nbsp;НДС, так
                            и&nbsp;без НДС.</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item mt-md-6 mt-12 p-md-5 py-3 px-12">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed fw-semibold py-0 px-md-12 pe-md-12 p-0" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true"
                        aria-controls="collapseTwo">
                        В какие сроки осуществляется доставка генератора ?
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body py-0 px-md-12 px-0 mt-md-0 mt-2">
                        <p>Мы&nbsp;работаем по&nbsp;предоплате. Возможны варианты оплаты как с&nbsp;НДС, так
                            и&nbsp;без НДС.</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item mt-md-6 mt-12 p-md-5 py-3 px-12">
                <h2 class="accordion-header">
                    <button class="accordion-button fw-semibold py-0 px-md-12 pe-md-12 p-0 gap-1" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true"
                        aria-controls="collapseThree">
                        Какие сопутствующие товары предоставляются вместе с генератором ?
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body py-0 px-md-12 px-0 mt-md-0 mt-2">
                        <p>Мы&nbsp;работаем по&nbsp;предоплате. Возможны варианты оплаты как с&nbsp;НДС, так
                            и&nbsp;без НДС.</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item mt-md-6 mt-12 p-md-5 py-3 px-12">
                <h2 class="accordion-header">
                    <button class="accordion-button fw-semibold py-0 px-md-12 pe-md-12 p-0 gap-1" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true"
                        aria-controls="collapseFour">
                        Прилагается ли к генератору инструкция по его использованию ?
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body py-0 px-md-12 px-0 mt-md-0 mt-2">
                        <p>Мы&nbsp;работаем по&nbsp;предоплате. Возможны варианты оплаты как с&nbsp;НДС, так
                            и&nbsp;без НДС.</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item mt-md-6 mt-12 p-md-5 py-3 px-12">
                <h2 class="accordion-header">
                    <button class="accordion-button fw-semibold py-0 px-md-12 pe-md-12 p-0 gap-1" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="true"
                        aria-controls="collapseFive">
                        Что делать клиенту, если с генератором возникают какие-то проблемы ?
                    </button>
                </h2>
                <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body py-0 px-md-12 px-0 mt-md-0 mt-2">
                        <p>Мы&nbsp;работаем по&nbsp;предоплате. Возможны варианты оплаты как с&nbsp;НДС, так
                            и&nbsp;без НДС.</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item mt-md-6 mt-12 p-md-5 py-3 px-12">
                <h2 class="accordion-header">
                    <button class="accordion-button fw-semibold py-0 px-md-12 pe-md-12 p-0 gap-1" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="true"
                        aria-controls="collapseSix">
                        В каком исполнении ваши генераторы ?
                    </button>
                </h2>
                <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body py-0 px-md-12 px-0 mt-md-0 mt-2">
                        <p>Мы&nbsp;работаем по&nbsp;предоплате. Возможны варианты оплаты как с&nbsp;НДС, так
                            и&nbsp;без НДС.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>