<section class="usluga pb-5">
    <div class="container pt-md-9 mt-md-11 mt-8 pt-5 px-0 pb-lg-7">
        <h2 class="title fw-bold mb-0">
            Мы также оказываем сопутствующие услуги
        </h2>
        <div class="d-lg-grid d-none usluga-grid gap-5 mt-7 px-4">
            <a href="#"
                class="usluga-grid__item rounded-md-6 rounded-4 position-relative overflow-hidden d-flex align-items-end">
                <img loading="lazy" decoding="async" src="./img/arenda/usluga7.jpg" alt="usluga 7" width="100%"
                    height="100%">
                <p class="p-7 semibold">Дежурство оператора</p>
            </a>
            <a href="#"
                class="usluga-grid__item rounded-md-6 rounded-4 position-relative overflow-hidden d-flex align-items-end">
                <img loading="lazy" decoding="async" src="./img/arenda/usluga1.jpg" alt="usluga 7" width="100%"
                    height="100%">
                <p class="p-7 semibold">Предоставление
                    силового кабеля</p>
            </a>
            <a href="#"
                class="usluga-grid__item rounded-md-6 rounded-4 position-relative overflow-hidden d-flex align-items-end">
                <img loading="lazy" decoding="async" src="./img/arenda/usluga4.jpg" alt="usluga 7" width="100%"
                    height="100%">
                <p class="p-7 semibold">Ремонт и обслуживание
                    генераторов</p>
            </a>
            <a href="#"
                class="usluga-grid__item rounded-md-6 rounded-4 position-relative overflow-hidden d-flex align-items-end">
                <img loading="lazy" decoding="async" src="./img/arenda/usluga5.jpg" alt="usluga 7" width="100%"
                    height="100%">
                <p class="p-7 semibold">Заправка
                    генератора топливом</p>
            </a>
            <a href="#"
                class="usluga-grid__item rounded-md-6 rounded-4 position-relative overflow-hidden d-flex align-items-end">
                <img loading="lazy" decoding="async" src="./img/arenda/usluga6.jpg" alt="usluga 7" width="100%"
                    height="100%">
                <p class="p-7 semibold">Пуско-наладочные работы</p>
            </a>
            <a href="#"
                class="usluga-grid__item rounded-md-6 rounded-4 position-relative overflow-hidden d-flex align-items-end">
                <img loading="lazy" decoding="async" src="./img/arenda/usluga3.jpg" alt="usluga 7" width="100%"
                    height="100%">
                <p class="p-7 semibold">Предоставление
                    баков для топлива и насоса</p>
            </a>
            <a href="#"
                class="usluga-grid__item rounded-md-6 rounded-4 position-relative overflow-hidden d-flex align-items-end">
                <img loading="lazy" decoding="async" src="./img/arenda/usluga2.jpg" alt="usluga 7" width="100%"
                    height="100%">
                <p class="p-7 semibold">Доставка до объекта
                    и вывоз генератора</p>
            </a>
        </div>
        <div class="swiffy-slider d-lg-none slider-item-show3">
            <ul class="slider-container py-lg-9 py-5">
                <li data-mid="1">
                    <a href="#"
                        class="usluga-grid__item rounded-md-6 rounded-4 position-relative overflow-hidden d-flex align-items-end">
                        <img loading="lazy" decoding="async" src="./img/arenda/usluga7.jpg" alt="usluga 7" width="100%"
                            height="100%">
                        <p class="p-5 semibold">Дежурство оператора</p>
                    </a>
                </li>

                <li data-mid="2">
                    <a href="#"
                        class="usluga-grid__item rounded-md-6 rounded-4 position-relative overflow-hidden d-flex align-items-end">
                        <img loading="lazy" decoding="async" src="./img/arenda/usluga1.jpg" alt="usluga 7" width="100%"
                            height="100%">
                        <p class="p-5 semibold">Предоставление
                            силового кабеля</p>
                    </a>
                </li>
                <li data-mid="3">
                    <a href="#"
                        class="usluga-grid__item rounded-md-6 rounded-4 position-relative overflow-hidden d-flex align-items-end">
                        <img loading="lazy" decoding="async" src="./img/arenda/usluga4.jpg" alt="usluga 7" width="100%"
                            height="100%">
                        <p class="p-5 semibold">Ремонт и обслуживание
                            генераторов</p>
                    </a>
                </li>
                <li data-mid="4">
                    <a href="#"
                        class="usluga-grid__item rounded-md-6 rounded-4 position-relative overflow-hidden d-flex align-items-end">
                        <img loading="lazy" decoding="async" src="./img/arenda/usluga5.jpg" alt="usluga 7" width="100%"
                            height="100%">
                        <p class="p-5 semibold">Заправка
                            генератора топливом</p>
                    </a>
                </li>
                <li data-mid="5">
                    <a href="#"
                        class="usluga-grid__item rounded-md-6 rounded-4 position-relative overflow-hidden d-flex align-items-end">
                        <img loading="lazy" decoding="async" src="./img/arenda/usluga6.jpg" alt="usluga 7" width="100%"
                            height="100%">
                        <p class="p-5 semibold">Пуско-наладочные работы</p>
                    </a>
                </li>
                <li data-mid="6">
                    <a href="#"
                        class="usluga-grid__item rounded-md-6 rounded-4 position-relative overflow-hidden d-flex align-items-end">
                        <img loading="lazy" decoding="async" src="./img/arenda/usluga3.jpg" alt="usluga 7" width="100%"
                            height="100%">
                        <p class="p-5 semibold">Предоставление
                            баков для топлива и насоса</p>
                    </a>
                </li>
                <li data-mid="7">
                    <a href="#"
                        class="usluga-grid__item rounded-md-6 rounded-4 position-relative overflow-hidden d-flex align-items-end">
                        <img loading="lazy" decoding="async" src="./img/arenda/usluga2.jpg" alt="usluga 7" width="100%"
                            height="100%">
                        <p class="p-5 semibold">Доставка до объекта
                            и вывоз генератора</p>
                    </a>
                </li>
            </ul>

            <div class="slider-nav-visible">
                <div class="popular-slider__arrows d-flex align-items-center justify-content-center w-100">
                    <button type="button" class="slider-nav position-relative me-3"></button>
                    <button type="button" class="slider-nav slider-nav-next position-relative"></button>
                </div>
            </div>
        </div>
    </div>
</section>