.reviews-page {
  h1 {
    font-weight: 900;
  }

  &__filter {
    border-radius: 3rem;
    border: 1px solid var(--border-gray);
    background: var(--bs-white);
    transition: all .3s ease;
    color: var(--bs-primary);

    @media (max-width: 550px) {
      font-size: 0.875rem;
    }

    &.active {
      background: #1F3246;
      border: 1px solid #1F3246;
      color: var(--bs-white);
    }

    a {
      color: inherit;
    }

    span {
      background-color: var(--yellow-color);
      font-size: 0.75rem;
      padding: 1px 6px;
    }
  }

  &__videos {
    grid-template-columns: 1fr 1fr 1fr;

    @media (max-width: 992px) {
      grid-template-columns: 1fr 1fr;
    }

    @media (max-width: 700px) {
      grid-template-columns: 1fr;
    }
  }
}

.video-review {
  background: var(--bs-white);
  border: 1px solid var(--border-light);
  transition: all 0.3s ease;

  &__video {
    min-height: 225px;

    @media (max-width: 550px) {
      min-height: 184px;
    }

    .player {
      color: #1f3246;
      transition: all 0.3s ease;
    }
  }

  &:hover {
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);

    .player {
      color: var(--player-yellow-color);
    }
  }

  &__wrapper {
    p {
      line-height: 1.5;
    }

    p:first-child {
      font-size: 1.125rem;

      @media (max-width: 550px) {
        font-size: 1rem;
      }
    }

    & .about-wrapper__description {
      display: block;
      display: -webkit-box;
      max-width: 400px;
      -webkit-line-clamp: 3;
      /* количество строк */
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;

      @media (max-width: 550px) {
        font-size: 0.875rem;
        -webkit-line-clamp: 4;
      }

      &.date {
        @media (max-width: 550px) {
          font-size: 0.75rem;
        }
      }
    }
  }
}