<section class="container vacancies mt-6 mb-10 pb-lg-10">
  <h1 class="mb-0">Вакансии</h1>
  <p class="mt-md-4 mt-3 vacancies__desc">
    Пример описания компания Энерджи Групп с 2015 года занимается организацией
    систем автономного снабжения любых объектов. Для этих и иных целей
    мы поставляем двигатели Yanmar и запчасти к ним на отечественный рынок.
  </p>

  <div class="vacancies-grid d-grid mt-lg-9 mt-8 pt-lg-0 pt-2 mb-md-6 mb-1">
    <div
      class="vacancies-grid__wrapper d-flex justify-content-between align-items-center"
    >
      <div class="select-container custom-dropdown engine small-block">
        <div
          class="select-display custom-select py-md-3 ps-md-0 pe-6 ps-0 p-3 d-inline-flex align-items-center rounded-2 position-relative"
        >
          <span class="selected-value">Все города</span>
          <span class="select-arrow">
            <svg class="arrow">
              <use xlink:href="./img/svg/sprite.svg#arrow"></use>
            </svg>
          </span>
        </div>
        <div
          class="dropdown-container-wrapper vacancies__select mb-8 pb-4 position-absolute"
        >
          <div class="dropdown-container rounded-2">
            <div class="search-box p-2">
              <input
                type="text"
                class="search-input rounded-2 px-3 py-2 ps-1"
                placeholder="Ульяновск"
              />
            </div>
            <div class="dropdown-options mb-1">
              <div class="dropdown-option py-2 px-3" data-value="Все города">
                Все города
              </div>

              <div class="dropdown-option py-2 px-3" data-value="Казань">
                Казань
              </div>

              <div class="dropdown-option py-2 px-3" data-value="Набережные">
                Набережные Челны
              </div>

              <div class="dropdown-option py-2 px-3" data-value="Ульяновск">
                Ульяновск
              </div>

              <div class="dropdown-option py-2 px-3" data-value="Уфа">Уфа</div>

              <div class="dropdown-option py-2 px-3" data-value="Ижевск">
                Ижевск
              </div>

              <div class="dropdown-option py-2 px-3" data-value="Киров">
                Киров
              </div>

              <div
                class="dropdown-option py-2 px-3"
                data-value="Нижний Новгород"
              >
                Нижний Новгород
              </div>

              <div class="dropdown-option py-2 px-3" data-value="Самара">
                Самара
              </div>

              <div class="dropdown-option py-2 px-3" data-value="Тольятти">
                Тольятти
              </div>

              <div class="dropdown-option py-2 px-3" data-value="Саратов">
                Саратов
              </div>

              <div class="dropdown-option py-2 px-3" data-value="Пермь">
                Пермь
              </div>

              <div class="dropdown-option py-2 px-3" data-value="Оренбург">
                Оренбург
              </div>
            </div>
            <input type="hidden" name="engine" value="" />
          </div>
        </div>
      </div>
      <p class="vacancies__founded">Найдено: 5 вакансий</p>
    </div>
  </div>

  <div class="vacancies-grid d-grid gap-lg-6">
    <div class="vacancies-grid__item">
      <div class="vacancies-cards">
        <a href="./vacancy.html" class="vacancies-card d-block p-md-6 p-5">
          <p class="vacancies-card__title fw-bold">Электромонтёр в Казани</p>
          <p class="vacancies-card__description mt-2">
            Стабильная работа, достойная зарплата и официальное трудоустройство!
            Если ты мастер на все руки и разбираешься в электрике – ждём тебя!
          </p>

          <div
            class="vacancies-card__info d-flex gap-5 align-items-center mt-6"
          >
            <div class="vacancies-card__price d-flex gap-3 align-items-center">
              <svg class="ruble">
                <use xlink:href="./img/svg/sprite.svg#ruble"></use>
              </svg>
              <p class="fw-bold">80 000 ₽</p>
            </div>
            <div class="vacancies-card__city d-flex gap-3 align-items-center">
              <svg class="place">
                <use xlink:href="./img/svg/sprite.svg#place2"></use>
              </svg>
              <p>Казань</p>
            </div>
          </div>

          <button
            class="btn btn-warning py-md-3 py-2 px-md-5 px-3 mt-6 fw-bold resume-show-popup"
          >
            Отправить резюме
          </button>
        </a>
        <a
          href="./vacancy.html"
          class="vacancies-card d-block p-md-6 p-5 mt-lg-6 mt-4"
        >
          <p class="vacancies-card__title fw-bold">
            Продавец-консультант в Москве
          </p>
          <p class="vacancies-card__description mt-2">
            Стабильная работа, достойная зарплата и официальное трудоустройство!
            Если ты мастер на все руки и разбираешься в электрике – ждём тебя!
          </p>

          <div
            class="vacancies-card__info d-flex gap-5 align-items-center mt-6"
          >
            <div class="vacancies-card__price d-flex gap-3 align-items-center">
              <svg class="ruble">
                <use xlink:href="./img/svg/sprite.svg#ruble"></use>
              </svg>
              <p class="fw-bold">100 000 ₽</p>
            </div>
            <div class="vacancies-card__city d-flex gap-3 align-items-center">
              <svg class="place">
                <use xlink:href="./img/svg/sprite.svg#place2"></use>
              </svg>
              <p>Москва</p>
            </div>
          </div>

          <button
            class="btn btn-warning py-md-3 py-2 px-md-5 px-3 mt-6 fw-bold resume-show-popup"
          >
            Отправить резюме
          </button>
        </a>
        <a
          href="./vacancy.html"
          class="vacancies-card d-block p-md-6 p-5 mt-lg-6 mt-4"
        >
          <p class="vacancies-card__title fw-bold">
            Водитель категории C в Челнах
          </p>
          <p class="vacancies-card__description mt-2">
            Стабильная работа, достойная зарплата и официальное трудоустройство!
            Если ты мастер на все руки и разбираешься в электрике – ждём тебя!
          </p>

          <div
            class="vacancies-card__info d-flex gap-5 align-items-center mt-6"
          >
            <div class="vacancies-card__price d-flex gap-3 align-items-center">
              <svg class="ruble">
                <use xlink:href="./img/svg/sprite.svg#ruble"></use>
              </svg>
              <p class="fw-bold">100 000 ₽</p>
            </div>
            <div class="vacancies-card__city d-flex gap-3 align-items-center">
              <svg class="place">
                <use xlink:href="./img/svg/sprite.svg#place2"></use>
              </svg>
              <p>Набережные Челны</p>
            </div>
          </div>

          <button
            class="btn btn-warning py-md-3 py-2 px-md-5 px-3 mt-6 fw-bold resume-show-popup"
          >
            Отправить резюме
          </button>
        </a>
        <a
          href="./vacancy.html"
          class="vacancies-card d-block p-md-6 p-5 mt-lg-6 mt-4"
        >
          <p class="vacancies-card__title fw-bold">SMM-Маркетолог</p>
          <p class="vacancies-card__description mt-2">
            Стабильная работа, достойная зарплата и официальное трудоустройство!
            Если ты мастер на все руки и разбираешься в электрике – ждём тебя!
          </p>

          <div
            class="vacancies-card__info d-flex gap-5 align-items-center mt-6"
          >
            <div class="vacancies-card__price d-flex gap-3 align-items-center">
              <svg class="ruble">
                <use xlink:href="./img/svg/sprite.svg#ruble"></use>
              </svg>
              <p class="fw-bold">100 000 ₽</p>
            </div>
            <div class="vacancies-card__city d-flex gap-3 align-items-center">
              <svg class="place">
                <use xlink:href="./img/svg/sprite.svg#place2"></use>
              </svg>
              <p>Уфа</p>
            </div>
          </div>

          <button
            class="btn btn-warning py-md-3 py-2 px-md-5 px-3 mt-6 fw-bold resume-show-popup"
          >
            Отправить резюме
          </button>
        </a>
        <a
          href="./vacancy.html"
          class="vacancies-card d-block p-md-6 p-5 mt-lg-6 mt-4"
        >
          <p class="vacancies-card__title fw-bold">Водитель категории C</p>
          <p class="vacancies-card__description mt-2">
            Стабильная работа, достойная зарплата и официальное трудоустройство!
            Если ты мастер на все руки и разбираешься в электрике – ждём тебя!
          </p>

          <div
            class="vacancies-card__info d-flex gap-5 align-items-center mt-6"
          >
            <div class="vacancies-card__price d-flex gap-3 align-items-center">
              <svg class="ruble">
                <use xlink:href="./img/svg/sprite.svg#ruble"></use>
              </svg>
              <p class="fw-bold">100 000 ₽</p>
            </div>
            <div class="vacancies-card__city d-flex gap-3 align-items-center">
              <svg class="place">
                <use xlink:href="./img/svg/sprite.svg#place2"></use>
              </svg>
              <p>Оренбург</p>
            </div>
          </div>

          <button
            class="btn btn-warning py-md-3 py-2 px-md-5 px-3 mt-6 fw-bold resume-show-popup"
          >
            Отправить резюме
          </button>
        </a>
      </div>
    </div>
    <div class="vacancies-grid__item mt-lg-0 mt-4">
      <div
        class="vacancies-grid__form p-6 d-flex flex-column justify-content-center align-items-center"
      >
        <img src="./img/vacancies/avatar.png" alt="avatar" />
        <p class="fw-bold mt-3 text-center">Не нашли подходящую вакансию?</p>
        <button class="btn mt-4 py-3 px-5 btn-primary resume-show-popup">
          Напишите нам
        </button>
      </div>
    </div>
  </div>
</section>
