.ampers-checkbox {
    border: 1px solid var(--bs-semi-gray);
    transition: all .3s ease;
    cursor: pointer;
    font-size: 1rem;

    &.active {
        border: 1px solid #FBBF24;
    }

    @media (max-width: 768px) {
        font-size: 0.875rem !important;
    }
}

.ampers {
    @media (max-width: 768px) {
        .patrol-calculator__block>p {
            margin-bottom: 0.5rem !important;

            &:last-child {
                font-size: 10px !important;
            }
        }

        .patrol-calculator__block p {
            font-size: 1rem !important;
        }


        .result-description {
            font-size: 0.875rem !important;
        }
    }

    .form-check-input {
        margin-top: 0;
    }

    .form-check-label {
        margin-top: 2px;
    }
}