<section class="about">
    <div class="container pt-md-9 mt-md-6 mt-8 pt-2">
        <h2 class="title fw-bold mb-4">
            О компании Energy Group
        </h2>
        <p class="about-wrapper__description">Компания ООО «Энерджи Групп» с 2015 года представляет услуги
            по организации автономного электроснабжения
            и электромонтажу. В нашем парке генераторов имеются установки мощностью от 5 до 550 кВт. Наша компания
            обладает большим
            опытом по предоставлению комплексных услуг по автономному электроснабжению: от установки, заправки,
            эксплуатации
            генераторов, до монтажа временных электрических сетей, монтажа розеточных групп и систем освещения.
            Также мы занимаемся
            продажей дизельных, бензиновых и газовых генераторов, источников бесперебойного питания, предоставляем
            их в аренду,
            подключаем, ремонтируем и осуществляем техническое обслуживание.</p>

        <div class="about-wrapper d-grid gap-md-6 gap-4 mt-md-6 mt-4">
            <div
                class="about-wrapper__item p-md-6 rounded-md-6 rounded-4 p-4 d-flex flex-column justify-content-between">
                <p class="about-wrapper__title semibold">2015 год</p>
                <p class="about-wrapper__text pt-12 flex-fill">Старт нашего пути на рынке энергоснабжения</p>
            </div>
            <div
                class="about-wrapper__item p-md-6 rounded-md-6 rounded-4 p-4 d-flex flex-column justify-content-between">
                <p class="about-wrapper__title semibold">3 000 МВт</p>
                <p class="about-wrapper__text pt-12 flex-fill">Произвели энергии по всей России</p>
            </div>
            <div
                class="about-wrapper__item p-md-6 rounded-md-6 rounded-4 p-4 d-flex flex-column justify-content-between">
                <p class="about-wrapper__title semibold">5 000</p>
                <p class="about-wrapper__text pt-12 flex-fill">Благодарных клиентов</p>
            </div>
            <div
                class="about-wrapper__item p-md-6 rounded-md-6 rounded-4 p-4 d-flex flex-column justify-content-between">
                <p class="about-wrapper__title semibold">3 млрд ₽</p>
                <p class="about-wrapper__text pt-12 flex-fill">Годовой оборот компании</p>
            </div>
            <div
                class="about-wrapper__item p-md-6 rounded-md-6 rounded-4 p-4 d-flex flex-column justify-content-between">
                <p class="about-wrapper__title semibold">280</p>
                <p class="about-wrapper__text pt-12 flex-fill">Специалистов высшей категории</p>
            </div>
            <div
                class="about-wrapper__item p-md-6 rounded-md-6 rounded-4 p-4 d-flex flex-column justify-content-between">
                <p class="about-wrapper__title semibold">EPC-контрактор</p>
                <p class="about-wrapper__text pt-12 flex-fill">Генподряд СРО Инжиниринг</p>
            </div>
            <div
                class="about-wrapper__item p-md-6 rounded-md-6 rounded-4 p-4 d-flex flex-column justify-content-between">
                <p class="about-wrapper__title semibold">ISO 9001:2015</p>
                <p class="about-wrapper__text pt-12 flex-fill">Система менеджмента качества</p>
            </div>
            <div
                class="about-wrapper__item p-md-6 rounded-md-6 rounded-4 p-4 d-flex flex-column justify-content-between">
                <p class="about-wrapper__title semibold">0 ₽</p>
                <p class="about-wrapper__text pt-12 flex-fill">Чистая арбитражная история</p>
            </div>
        </div>
    </div>
</section>