<section class="projects blagodar popular-slider no-background">
    <div class="container pt-md-9 mt-md-6 mt-8 pt-2 slider">
        <h2 class="title fw-bold mb-md-6 mb-4">
            Благодарственные письма
        </h2>
        <div class="swiffy-slider popular-slider-wrapper slider-item-show4 slider-nav-mousedrag">
            <ul class="slider-container popular-slider py-lg-9 py-md-7 py-4" id="animated-thumbnails">
                <li
                    class="popular-slider__block rounded-md-6 rounded-4 d-flex flex-column gap-4 overflow-hidden news-slider rounded-md-6 rounded-4 p-4">
                    <div class="blagodar-image__wrapper position-relative rounded-3 overflow-hidden"
                        data-src="./img/blagodar.jpg">
                        <picture>
                            <source srcset="./img/blagodar.webp" type="image/webp">
                            <img loading="lazy" decoding="async" src="./img/blagodar.jpg" alt="blagodar"
                                class="object-fit-cover rounded-3" width="100%">
                        </picture>
                        <svg class="zoom position-absolute start-50 top-50 translate-middle z-3">
                            <use xlink:href="./img/svg/sprite.svg#zoom"></use>
                        </svg>
                    </div>

                    <p class="popular-slider__price semibold">Минсельхоз</p>
                </li>
                <li
                    class="popular-slider__block rounded-md-6 rounded-4 d-flex flex-column gap-4 overflow-hidden news-slider rounded-md-6 rounded-4 p-4">
                    <div class="blagodar-image__wrapper position-relative rounded-3 overflow-hidden"
                        data-src="./img/blagodar.jpg">
                        <picture>
                            <source srcset="./img/blagodar.webp" type="image/webp">
                            <img loading="lazy" decoding="async" src="./img/blagodar.jpg" alt="blagodar"
                                class="object-fit-cover rounded-3" width="100%">
                        </picture>
                        <svg class="zoom position-absolute start-50 top-50 translate-middle z-3">
                            <use xlink:href="./img/svg/sprite.svg#zoom"></use>
                        </svg>
                    </div>

                    <p class="popular-slider__price semibold">FIFA 2017</p>
                </li>
                <li
                    class="popular-slider__block rounded-md-6 rounded-4 d-flex flex-column gap-4 overflow-hidden news-slider rounded-md-6 rounded-4 p-4">

                    <div class="blagodar-image__wrapper position-relative rounded-3 overflow-hidden"
                        data-src="./img/blagodar.jpg">
                        <picture>
                            <source srcset="./img/blagodar.webp" type="image/webp">
                            <img loading="lazy" decoding="async" src="./img/blagodar.jpg" alt="blagodar"
                                class="object-fit-cover rounded-3" width="100%">
                        </picture>
                        <svg class="zoom position-absolute start-50 top-50 translate-middle z-3">
                            <use xlink:href="./img/svg/sprite.svg#zoom"></use>
                        </svg>
                    </div>

                    <p class="popular-slider__price semibold">Казань ЭКСПО</p>
                </li>
                <li
                    class="popular-slider__block rounded-md-6 rounded-4 d-flex flex-column gap-4 overflow-hidden news-slider rounded-md-6 rounded-4 p-4">

                    <div class="blagodar-image__wrapper position-relative rounded-3 overflow-hidden"
                        data-src="./img/blagodar.jpg">
                        <picture>
                            <source srcset="./img/blagodar.webp" type="image/webp">
                            <img loading="lazy" decoding="async" src="./img/blagodar.jpg" alt="blagodar"
                                class="object-fit-cover rounded-3" width="100%">
                        </picture>
                        <svg class="zoom position-absolute start-50 top-50 translate-middle z-3">
                            <use xlink:href="./img/svg/sprite.svg#zoom"></use>
                        </svg>
                    </div>

                    <p class="popular-slider__price semibold">Олимпиада в Сочи 2014</p>
                </li>
                <li
                    class="popular-slider__block rounded-md-6 rounded-4 d-flex flex-column gap-4 overflow-hidden news-slider rounded-md-6 rounded-4 p-4">


                    <div class="blagodar-image__wrapper position-relative rounded-3 overflow-hidden"
                        data-src="./img/blagodar.jpg">
                        <picture>
                            <source srcset="./img/blagodar.webp" type="image/webp">
                            <img loading="lazy" decoding="async" src="./img/blagodar.jpg" alt="blagodar"
                                class="object-fit-cover rounded-3" width="100%">
                        </picture>
                        <svg class="zoom position-absolute start-50 top-50 translate-middle z-3">
                            <use xlink:href="./img/svg/sprite.svg#zoom"></use>
                        </svg>
                    </div>

                    <p class="popular-slider__price semibold">Минсельхоз</p>
                </li>
            </ul>

            <div class="d-none d-lg-block position-absolute popular-slider__arrows-wrapper slider-nav-visible">
                <div class="popular-slider__arrows d-none d-md-flex">
                    <button type="button" class="slider-nav position-relative me-3"></button>
                    <button type="button" class="slider-nav slider-nav-next position-relative"></button>
                </div>
            </div>
        </div>
    </div>
</section>