<section class="generators mt-md-10">
    <div class="container pt-md-8 mt-md-6 mt-8 pt-2 pb-9 slider">
        <div
            class="tabs-header d-flex flex-md-row flex-column justify-content-md-between justify-content-start align-items-lg-start align-items-md-center align-items-start mt-5 gap-md-11 gap-6 px-0 mb-md-7 mb-6">
            <h2 class="title fw-bold mb-0">
                Дизельные электростанции
            </h2>

            <div class="tabs-header__buttons d-flex gap-2 align-items-center text-nowrap flex-md-nowrap flex-wrap">
                <button
                    class="btn tabs-header__button semibold py-md-12 px-md-4 px-3 d-inline-flex align-items-center active">По&nbsp;мощности</button>
                <button
                    class="btn tabs-header__button semibold py-md-12 px-md-4 px-3 d-inline-flex align-items-center">По
                    бренду</button>
                <button
                    class="btn tabs-header__button semibold py-md-12 px-md-4 px-3 d-inline-flex align-items-center">По
                    двигателю</button>
            </div>
        </div>
        <div class="tab-content">
            <div class="tab-pane show active">
                <div class="tab-cards d-lg-grid d-flex gap-lg-6 position-relative xs-x-scroll gap-1">
                    <div class="tab-card p-6 position-relative rounded-md-6 rounded-4">
                        <picture>
                            <source srcset="./img/generators_block.webp" type="image/webp">
                            <img loading="lazy" decoding="async" src="./img/generators_block.jpg" alt="generators"
                                class="tab-card__background-image" width="100%" height="100%">
                        </picture>
                        <p class="tab-card__title d-flex align-items-center gap-2">
                            <svg class="energy">
                                <use xlink:href="./img/svg/sprite.svg#energy"></use>
                            </svg>
                            <span class="semibold">До&nbsp;100&nbsp;кВт</span>
                        </p>
                        <div class="tab-card__variants mt-7 d-grid gap-md-4 gap-3">
                            <p><a href="#">12&nbsp;кВт</a></p>
                            <p><a href="#">15&nbsp;кВт</a></p>
                            <p><a href="#">16&nbsp;кВт</a></p>
                            <p><a href="#">20&nbsp;кВт</a></p>
                            <p><a href="#">24&nbsp;кВт</a></p>
                            <p><a href="#">25&nbsp;кВт</a></p>
                            <p><a href="#">30&nbsp;кВт</a></p>
                            <p><a href="#">35&nbsp;кВт</a></p>
                            <p><a href="#">40&nbsp;кВт</a></p>
                            <p><a href="#">45&nbsp;кВт</a></p>
                            <p><a href="#">48&nbsp;кВт</a></p>
                            <p><a href="#">50&nbsp;кВт</a></p>
                            <p><a href="#">60&nbsp;кВт</a></p>
                            <p><a href="#">70&nbsp;кВт</a></p>
                            <p><a href="#">75&nbsp;кВт</a></p>
                            <p><a href="#">80&nbsp;кВт</a></p>
                            <p><a href="#">100&nbsp;кВт</a></p>
                            <p><a href="#">75&nbsp;кВт</a></p>
                        </div>
                    </div>
                    <div class="tab-card p-6 position-relative rounded-md-6 rounded-4">
                        <picture>
                            <source srcset="./img/generators_block.webp" type="image/webp">
                            <img loading="lazy" decoding="async" src="./img/generators_block.jpg" alt="generators"
                                class="tab-card__background-image" width="100%" height="100%">
                        </picture>
                        <p class="tab-card__title d-flex align-items-center gap-2">
                            <span>
                                <svg class="energy">
                                    <use xlink:href="./img/svg/sprite.svg#energy"></use>
                                </svg>
                                <svg class="energy">
                                    <use xlink:href="./img/svg/sprite.svg#energy"></use>
                                </svg>
                            </span>
                            <span class="semibold">До&nbsp;300&nbsp;кВт</span>
                        </p>
                        <div class="tab-card__variants mt-7 d-grid gap-md-4 gap-3">
                            <p><a href="#">110&nbsp;кВт</a></p>
                            <p><a href="#">120&nbsp;кВт</a></p>
                            <p><a href="#">130&nbsp;кВт</a></p>
                            <p><a href="#">150&nbsp;кВт</a></p>
                            <p><a href="#">160&nbsp;кВт</a></p>
                            <p><a href="#">180&nbsp;кВт</a></p>
                            <p><a href="#">200&nbsp;кВт</a></p>
                            <p><a href="#">240&nbsp;кВт</a></p>
                            <p><a href="#">250&nbsp;кВт</a></p>
                            <p><a href="#">300&nbsp;кВт</a></p>
                        </div>
                    </div>
                    <div class="tab-card p-6 position-relative rounded-md-6 rounded-4">
                        <picture>
                            <source srcset="./img/generators_block.webp" type="image/webp">
                            <img loading="lazy" decoding="async" src="./img/generators_block.jpg" alt="generators"
                                class="tab-card__background-image" width="100%" height="100%">
                        </picture>
                        <p class="tab-card__title d-flex align-items-center gap-2">
                            <span>
                                <svg class="energy">
                                    <use xlink:href="./img/svg/sprite.svg#energy"></use>
                                </svg>
                                <svg class="energy">
                                    <use xlink:href="./img/svg/sprite.svg#energy"></use>
                                </svg><svg class="energy">
                                    <use xlink:href="./img/svg/sprite.svg#energy"></use>
                                </svg>
                            </span>
                            <span class="semibold">До&nbsp;1 000&nbsp;кВт</span>
                        </p>
                        <div class="tab-card__variants mt-7 d-grid gap-md-4 gap-3">
                            <p><a href="#">320&nbsp;кВт</a></p>
                            <p><a href="#">350&nbsp;кВт</a></p>
                            <p><a href="#">400&nbsp;кВт</a></p>
                            <p><a href="#">450&nbsp;кВт</a></p>
                            <p><a href="#">500&nbsp;кВт</a></p>
                            <p><a href="#">600&nbsp;кВт</a></p>
                            <p><a href="#">700&nbsp;кВт</a></p>
                            <p><a href="#">800&nbsp;кВт</a></p>
                            <p><a href="#">900&nbsp;кВт</a></p>
                            <p><a href="#">1000&nbsp;кВт</a></p>
                        </div>
                    </div>
                    <div class="tab-card p-6 position-relative rounded-md-6 rounded-4">
                        <picture>
                            <source srcset="./img/generators_block.webp" type="image/webp">
                            <img loading="lazy" decoding="async" src="./img/generators_block.jpg" alt="generators"
                                class="tab-card__background-image" width="100%" height="100%">
                        </picture>
                        <p class="tab-card__title d-flex align-items-center gap-2"><span>
                                <svg class="energy">
                                    <use xlink:href="./img/svg/sprite.svg#energy"></use>
                                </svg>
                                <svg class="energy">
                                    <use xlink:href="./img/svg/sprite.svg#energy"></use>
                                </svg><svg class="energy">
                                    <use xlink:href="./img/svg/sprite.svg#energy"></use>
                                </svg><svg class="energy">
                                    <use xlink:href="./img/svg/sprite.svg#energy"></use>
                                </svg>
                            </span>
                            <span class="semibold">До&nbsp;2 000&nbsp;кВт</span>
                        </p>
                        <div class="tab-card__variants mt-7 d-grid gap-md-4 gap-3">
                            <p><a href="#">1100&nbsp;кВт</a></p>
                            <p><a href="#">1200&nbsp;кВт</a></p>
                            <p><a href="#">1500&nbsp;кВт</a></p>
                            <p><a href="#">150&nbsp;кВт</a></p>
                            <p><a href="#">1600&nbsp;кВт</a></p>
                            <p><a href="#">2000&nbsp;кВт</a></p>
                            <p><a href="#">200&nbsp;кВт</a></p>
                        </div>
                    </div>
                </div>
                <div class="tab-cards d-none gap-lg-6 gap-1 position-relative xs-x-scroll brend">
                    <div class="tab-card p-6 position-relative rounded-md-6 rounded-4">
                        <p class="tab-card__title d-flex align-items-center gap-2">
                            <span class="semibold c-yellow">A C D E</span>
                        </p>
                        <div class="tab-card__variants mt-7 d-grid gap-md-4 gap-3">
                            <p><a href="#">AGG</a></p>
                            <p><a href="#">Airman</a></p>
                            <p><a href="#">Aksa</a></p>
                            <p><a href="#">Atlas Copco</a></p>
                            <p><a href="#">CTG</a></p>
                            <p><a href="#">Cummins</a></p>
                            <p><a href="#">Denyo</a></p>
                            <p><a href="#">Emsa</a></p>
                            <p><a href="#">Energo</a></p>
                        </div>
                    </div>
                    <div class="tab-card p-6 position-relative rounded-md-6 rounded-4">
                        <p class="tab-card__title d-flex align-items-center gap-2">
                            <span class="semibold c-yellow">F G</span>
                        </p>
                        <div class="tab-card__variants mt-7 d-grid gap-md-4 gap-3">
                            <p><a href="#">FG Wilson</a></p>
                            <p><a href="#">Firman</a></p>
                            <p><a href="#">Fogo</a></p>
                            <p><a href="#">Fubag</a></p>
                            <p><a href="#">Geko</a></p>
                            <p><a href="#">Genmac</a></p>
                            <p><a href="#">Gesan</a></p>
                        </div>
                    </div>
                    <div class="tab-card p-6 position-relative rounded-md-6 rounded-4">
                        <p class="tab-card__title d-flex align-items-center gap-2">
                            <span class="semibold c-yellow">H J K M O</span>
                        </p>
                        <div class="tab-card__variants mt-7 d-grid gap-md-4 gap-3">
                            <p><a href="#">Hertz</a></p>
                            <p><a href="#">Himoinsa</a></p>
                            <p><a href="#">JCB</a></p>
                            <p><a href="#">Kubota</a></p>
                            <p><a href="#">Mitsubishi</a></p>
                            <p><a href="#">Motor</a></p>
                            <p><a href="#">Onis VISA</a></p>
                        </div>
                    </div>
                    <div class="tab-card p-6 position-relative rounded-md-6 rounded-4">
                        <p class="tab-card__title d-flex align-items-center gap-2">
                            <span class="semibold c-yellow">P S T Y Z</span>
                        </p>
                        <div class="tab-card__variants mt-7 d-grid gap-md-4 gap-3">
                            <p><a href="#">PowerLink</a></p>
                            <p><a href="#">Pramac</a></p>
                            <p><a href="#">SDMO</a></p>
                            <p><a href="#">Toyo</a></p>
                            <p><a href="#">Yamaha</a></p>
                            <p><a href="#">Yanmar</a></p>
                            <p><a href="#">Zeus</a></p>
                        </div>
                    </div>
                    <div class="tab-card p-6 position-relative rounded-md-6 rounded-4">
                        <p class="tab-card__title d-flex align-items-center gap-2">
                            <span class="semibold c-yellow">А Т Ф</span>
                        </p>
                        <div class="tab-card__variants mt-7 d-grid gap-md-4 gap-3">
                            <p><a href="#">Азимут</a></p>
                            <p><a href="#">АМПЕРОС</a></p>
                            <p><a href="#">ТСС</a></p>
                            <p><a href="#">Фрегат</a></p>
                        </div>
                    </div>
                </div>
                <div class="tab-cards d-none gap-lg-6 gap-1 position-relative xs-x-scroll engine">
                    <div class="tab-card p-6 position-relative rounded-md-6 rounded-4">
                        <p class="tab-card__title d-flex align-items-center gap-2">
                            <span class="semibold c-yellow">A B C D</span>
                        </p>
                        <div class="tab-card__variants mt-7 d-grid gap-md-4 gap-3">
                            <p><a href="#">Aksa</a></p>
                            <p><a href="#">BOUDOUIN</a></p>
                            <p><a href="#">Cooper</a></p>
                            <p><a href="#">Cummins</a></p>
                            <p><a href="#">Deutz</a></p>
                            <p><a href="#">Doosan</a></p>
                        </div>
                    </div>
                    <div class="tab-card p-6 position-relative rounded-md-6 rounded-4">
                        <p class="tab-card__title d-flex align-items-center gap-2">
                            <span class="semibold c-yellow">H I J K L</span>
                        </p>
                        <div class="tab-card__variants mt-7 d-grid gap-md-4 gap-3">
                            <p><a href="#">Hino</a></p>
                            <p><a href="#">Isuzu</a></p>
                            <p><a href="#">IVECO</a></p>
                            <p><a href="#">Komatsu</a></p>
                            <p><a href="#">Kubota</a></p>
                            <p><a href="#">Lister Petter</a></p>
                            <p><a href="#">Lombardini</a></p>
                        </div>
                    </div>
                    <div class="tab-card p-6 position-relative rounded-md-6 rounded-4">
                        <p class="tab-card__title d-flex align-items-center gap-2">
                            <span class="semibold c-yellow">M P R S T W</span>
                        </p>
                        <div class="tab-card__variants mt-7 d-grid gap-md-4 gap-3">
                            <p><a href="#">Mitsubishi</a></p>
                            <p><a href="#">MTU</a></p>
                            <p><a href="#">Perkins</a></p>
                            <p><a href="#">Ricardo</a></p>
                            <p><a href="#">Scania</a></p>
                            <p><a href="#">SDEC</a></p>
                            <p><a href="#">TSS Diesel</a></p>
                            <p><a href="#">Weichai</a></p>
                            <p><a href="#">Weifang</a></p>
                        </div>
                    </div>
                    <div class="tab-card p-6 position-relative rounded-md-6 rounded-4">
                        <p class="tab-card__title d-flex align-items-center gap-2">
                            <span class="semibold c-yellow">Y М Я</span>
                        </p>
                        <div class="tab-card__variants mt-7 d-grid gap-md-4 gap-3">
                            <p><a href="#">YangDong</a></p>
                            <p><a href="#">Yanmar</a></p>
                            <p><a href="#">Yuchai</a></p>
                            <p><a href="#">MM3</a></p>
                            <p><a href="#">ЯМЗ</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>