<footer class="footer">
  <div class="container py-md-10 py-8">
    <a href="#" class="header__logo d-block mb-8">
      <img src="./img/svg/logo2.svg">
    </a>
    <div class="d-grid footer-wrapper gap-md-6 gap-4">
      <div class="footer__item item-footer">
        <p class="semibold item-footer__title mb-4">
          <span>Каталог</span>
          <svg class="d-none arrow manufacturers-arrow m-0">
            <use xlink:href="./img/svg/sprite.svg#arrow"></use>
          </svg>
        </p>
        <ul class="p-0 d-flex flex-column gap-2">
          <li><a href="#">Бензиновые генераторы</a></li>
          <li><a href="#">Дизельные генераторы</a></li>
          <li><a href="#">Газовые генераторы</a></li>
          <li><a href="#">ИБП</a></li>
        </ul>
      </div>
      <div class="footer__item item-footer">
        <p class="semibold item-footer__title mb-4">
          <span>Покупателям</span>
          <svg class="d-none arrow manufacturers-arrow m-0">
            <use xlink:href="./img/svg/sprite.svg#arrow"></use>
          </svg>
        </p>
        <ul class="p-0 d-flex flex-column gap-2">
          <li><a href="#">Оплата</a></li>
          <li><a href="#">Доставка</a></li>
          <li><a href="#">Рассчитать мощность</a></li>
          <li><a href="#">Рассчитать расход топлива</a></li>
        </ul>
      </div>
      <div class="footer__item item-footer">
        <p class="semibold item-footer__title mb-4">
          <span>О&nbsp;компании</span>
          <svg class="d-none arrow manufacturers-arrow m-0">
            <use xlink:href="./img/svg/sprite.svg#arrow"></use>
          </svg>
        </p>
        <ul class="p-0 d-flex flex-column gap-2">
          <li><a href="#">О&nbsp;компании</a></li>
          <li><a href="#">Сертификаты и&nbsp;награды</a></li>
          <li><a href="#">Отзывы</a></li>
          <li><a href="#">Контакты</a></li>
        </ul>
      </div>
      <div class="footer__item mt-md-0 mt-4">
        <p class="semibold white mb-md-0 mb-2 tel"><a href="#">+7&nbsp;(800-51)&nbsp;1-73-79</a></p>
        <p class="mt-1 semibold white mb-md-0 mb-2 tel"><a href="#">+7&nbsp;495&nbsp;153-86-96</a></p>
        <p class="mt-1 semibold mail tel"><a href="#">generator-energy.ru@ya.ru</a></p>
        <p class="footer-text mt-5">г. Москва, Волоколамское шоссе, д.&nbsp;116, пом. 439</p>
      </div>
    </div>
    <div class="d-grid footer-wrapper gap-md-6 gap-4 mt-lg-10 mt-5">
      <div class="footer__item">
        <div class="item-footer__socials d-flex gap-2">
          <a href="#" class="item-footer__social rounded-3 d-flex align-items-center justify-content-center">
            <svg class="whatsapp">
              <use xlink:href="./img/svg/sprite.svg#whatsapp"></use>
            </svg>
          </a>
          <a href="#" class="item-footer__social rounded-3 d-flex align-items-center justify-content-center">
            <svg class="telegram">
              <use xlink:href="./img/svg/sprite.svg#telegram"></use>
            </svg>
          </a>
          <a href="#" class="item-footer__social rounded-3 d-flex align-items-center justify-content-center">
            <svg class="youtube">
              <use xlink:href="./img/svg/sprite.svg#youtube"></use>
            </svg>
          </a>
          <a href="#" class="item-footer__social rounded-3 d-flex align-items-center justify-content-center">
            <svg class="vk">
              <use xlink:href="./img/svg/sprite.svg#vk"></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="footer__item d-none d-lg-block"></div>
      <div class="footer__item d-none d-lg-block"></div>
      <div class="footer__item"><button class="btn btn-warning py-3 px-5 semibold footer-button">Вам
          перезвонить?</button></div>
    </div>

    <div class="d-grid footer-wrapper mt-md-10 mt-md-5 mt-4 gap-md-6 gap-3">
      <div class="footer__item">
        <p class="footer-text"><a href="#">2015&nbsp;— 2025 © Energy GROUP</a></p>
      </div>
      <div class="footer__item">
        <p class="footer-text"><a href="#">Информация на&nbsp;сайте не&nbsp;является публичной офертой</a></p>
      </div>
      <div class="footer__item">
        <p class="footer-text"><a href="#">Политика конфиденциальности</a></p>
      </div>
      <div class="footer__item">
        <p class="footer-text"><a href="#">Карта сайта</a></p>
      </div>
    </div>
  </div>
</footer>