<header class="header">
  <div class="container header__wrapper position-relative">
    <div class="d-flex gap-xl-6 gap-2 align-items-center justify-content-lg-start justify-content-between">
      <p class="header__logo">
        <img src="./img/svg/logo.svg" />
      </p>
      <div class="d-none d-lg-block search-container position-relative py-3 pe-3">
        <svg class="search-icon position-absolute">
          <use xlink:href="./img/sprite.svg#search"></use>
        </svg>
        <input type="text" class="search-input" placeholder="Поиск">
      </div>
      <div class="header__contacts ms-lg-2 d-none d-md-block ">
        <p class="header__contact"><a href="mail:generator-energy.ru@ya.ru">generator-energy.ru@ya.ru</a></p>
        <p class="header__description disabled-color">Ответим в течение часа</p>
      </div>
      <div class="header__contacts ms-lg-1 d-none d-md-block ">
        <p class="header__contact d-flex align-items-center justify-content-between"><a
            href="tel:88005117379">8 800 511-73-79 </a>
          <svg class="arrow">
            <use xlink:href="./img/sprite.svg#arrow"></use>
          </svg>
        </p>
        <p class="header__description disabled-color">Бесплатный по РФ</p>
      </div>
      <div class="header__socials d-md-flex gap-2 ms-lg-4 d-none ">
        <div class="socials-header__whatsapp rounded-3">
          <svg class="whatsapp">
            <use xlink:href="./img/sprite.svg#whatsapp"></use>
          </svg>
        </div>
        <div class="socials-header__telegram rounded-3">
          <svg class="telegram">
            <use xlink:href="./img/sprite.svg#telegram"></use>
          </svg>
        </div>
      </div>

      <!-- mobile icons -->
      <div class="header__mobile-icons d-lg-none gap-3 d-flex">
        <svg class="place">
          <use xlink:href="./img/svg/sprite.svg#place"></use>
        </svg>
        <svg class="phone contacts d-block d-md-none">
          <use xlink:href="./img/svg/sprite.svg#phone"></use>
        </svg>
        <svg class="search">
          <use xlink:href="./img/svg/sprite.svg#search"></use>
        </svg>
        <svg class="burger">
          <use xlink:href="./img/svg/sprite.svg#burger"></use>
        </svg>
      </div>
    </div>
    <div class="d-lg-flex d-none gap-6 align-items-center mt-4">
      <a href="#" class="d-block header__catalogue rounded-3 py-4 d-flex gap-3">
        <svg class="svg-catalogue">
          <use xlink:href="./img/sprite.svg#catalogue"></use>
        </svg>
        <span>Каталог</span>
      </a>
      <nav class="header__nav navbar-nav">
        <ul class="header-menu d-flex gap-8 ps-3">
          <li class="header-menu__item nav-item menu__dropdown position-relative" data-initial-layout="true"
            data-layout="1" data-position="header"><span class="nav-link">Услуги</span>
            <ul class="dropdown-menu position-absolute tab-list py-0 overflow-hidden">
              <li class="dropdown-item">
                <a href="#" class="py-3 d-block" data-layout="1"
                  data-position="element"><span>Электроснабжение</span></a>
              </li>
              <li class="dropdown-item">
                <a href="#" class="py-3 d-block" data-layout="1" data-position="element"><span>Ремонт и ТО</span></a>
              </li>
              <li class="dropdown-item">
                <a href="#" class="py-3 d-block" data-layout="1" data-position="element"><span>Пуско-накладочные
                    работы</span></a>
              </li>
              <li class="dropdown-item">
                <a href="#" class="py-3 d-block" data-layout="1" data-position="element"><span>Расчёт мощности
                    генератора</span></a>
              </li>
            </ul>
          </li>
          <li class="header-menu__item nav-item"><a href="#" class="nav-link"
              data-initial-layout="true"><span>Аренда</span></a></li>
          <li class="header-menu__item nav-item menu__dropdown position-relative"><span class="nav-link"
              data-initial-layout="true" data-layout="2" data-position="header"><span>О
                компании</span></span>
            <ul class="dropdown-menu position-absolute tab-list py-0 overflow-hidden">
              <li class="dropdown-item">
                <a href="#" class="py-3 d-block" data-layout="2" data-position="element"><span>Вопрос-ответ</span></a>
              </li>
              <li class="dropdown-item">
                <a href="#" class="py-3 d-block" data-layout="2" data-position="element"><span>Статьи</span></a>
              </li>
              <li class="dropdown-item">
                <a href="#" class="py-3 d-block" data-layout="2" data-position="element"><span>Сертификаты и
                    награды</span></a>
              </li>
              <li class="dropdown-item">
                <a href="#" class="py-3 d-block" data-layout="2" data-position="element"><span>Видео</span></a>
              </li>
              <li class="dropdown-item">
                <a href="#" class="py-3 d-block" data-layout="2" data-position="element"><span>Новости</span></a>
              </li>
              <li class="dropdown-item">
                <a href="#" class="py-3 d-block" data-layout="2" data-position="element"><span>Документы</span></a>
              </li>
            </ul>
          </li>
          <li class="header-menu__item nav-item"><a href="#" class="nav-link" data-initial-layout="true"><span>Наши
                проекты</span></a></li>
          <li class="header-menu__item nav-item"><a href="#" class="nav-link"
              data-initial-layout="true"><span>Отзывы</span></a></li>
          <li class="header-menu__item nav-item"><a href="#" class="nav-link" data-initial-layout="true"><span>Опросный
                лист</span></a></li>
          <li class="header-menu__item nav-item"><a href="#" class="nav-link"
              data-initial-layout="true"><span>Контакты</span></a>
          </li>
        </ul>
      </nav>
    </div>

    <!-- overlays -->
    <div class="header-search__overlay overlay-search py-5 px-4">
      <div class="d-flex justify-content-between align-items-center gap-3">
        <div class="search-container position-relative py-3 pe-3">
          <svg class="search-icon position-absolute">
            <use xlink:href="./img/sprite.svg#search"></use>
          </svg>
          <input type="text" class="search-input" placeholder="Поиск">
        </div>
        <svg class="mobile-cross cross-search">
          <use xlink:href="./img/svg/sprite.svg#mobile-cross"></use>
        </svg>
      </div>
    </div>

    <div class="header-search__overlay overlay-contacts pt-5 pb-4 px-4">
      <div class="d-flex justify-content-between align-items-center contacts-header position-relative pb-5">
        <p class="semibold">Контакты</p>
        <svg class="mobile-cross cross-contact">
          <use xlink:href="./img/svg/sprite.svg#mobile-cross"></use>
        </svg>
      </div>
      <div class="mobile-header__contacts mt-4">
        <div class="header__contacts py-3">
          <p class=" header__contact"><a href="mail:generator-energy.ru@ya.ru">generator-energy.ru@ya.ru</a></p>
          <p class="header__description disabled-color">Ответим в течение часа</p>
        </div>
        <div class="header__contacts py-3">
          <p class=" header__contact"><a href="mail:generator-energy.ru@ya.ru">8 800 511-73-79</a></p>
          <p class="header__description disabled-color">Бесплатный по РФ</p>
        </div>
        <div class="header__contacts py-3">
          <p class=" header__contact"><a href="mail:generator-energy.ru@ya.ru">+7 (855) 299–95–23</a></p>
          <p class="header__description disabled-color">Москва</p>
        </div>
        <div class="header__socials d-flex gap-2 pb-4">
          <div class="socials-header__whatsapp rounded-3">
            <svg class="whatsapp">
              <use xlink:href="./img/sprite.svg#whatsapp"></use>
            </svg>
          </div>
          <div class="socials-header__telegram rounded-3">
            <svg class="telegram">
              <use xlink:href="./img/sprite.svg#telegram"></use>
            </svg>
          </div>
        </div>
      </div>

      <button class="d-block mt-4 py-3 text-center btn btn-primary w-100">
        Вам перезвонить?
      </button>
    </div>

    <div class="header-search__overlay overlay-menu pt-5 pb-4 px-4 d-flex flex-column">
      <div class="d-flex justify-content-between align-items-center contacts-header position-relative pb-5">
        <p class="semibold mobile-menu-title">Меню</p>
        <svg class="mobile-cross cross-menu">
          <use xlink:href="./img/svg/sprite.svg#mobile-cross"></use>
        </svg>
      </div>
      <ul class="overlay-menu__list p-0 flex-fill">
      </ul>
      <button class="d-block mt-4 py-3 text-center btn btn-primary w-100">
        Вам перезвонить?
      </button>
    </div>
  </div>
  <div class="background-popup"></div>
</header>