<section class="industry">
    <div class="container pt-md-5 mt-md-11 pt-5 mt-5">
        <h2 class="title fw-bold mb-md-7 mb-4 mt-md-7">
            Отраслевые решения
        </h2>
        <div class="industry__blocks blocks-industry d-grid gap-md-6 gap-3">
            <a href="#"
                class="blocks-industry__block block-industry p-md-6 p-4 d-flex position-relative overflow-hidden flex-column justify-content-between">
                <img src="./img/industry/02.jpg" alt="industry one" class="position-absolute">
                <div>
                    <span class="block-industry__count position-relative z-3 py-2 px-4 d-inline-block">109
                        проектов</span>
                </div>
                <p class="block-industry__text position-relative z-3">Бизнес-центры</p>
            </a>
            <a href="#"
                class="blocks-industry__block block-industry p-md-6 p-4 d-flex position-relative overflow-hidden flex-column justify-content-between">
                <img src="./img/industry/04.jpg" alt="industry one" class="position-absolute">
                <div>
                    <span class="block-industry__count position-relative z-3 py-2 px-4 d-inline-block">47
                        проектов</span>
                </div>
                <p class="block-industry__text position-relative z-3">Гостиницы и&nbsp;базы отдыха</p>
            </a>
            <a href="#"
                class="blocks-industry__block block-industry p-md-6 p-4 d-flex position-relative overflow-hidden flex-column justify-content-between">
                <img src="./img/industry/06.jpg" alt="industry one" class="position-absolute">
                <div>
                    <span class="block-industry__count position-relative z-3 py-2 px-4 d-inline-block">60
                        проектов</span>
                </div>
                <p class="block-industry__text position-relative z-3">Медицинские учреждения</p>
            </a>
            <a href="#"
                class="blocks-industry__block block-industry p-md-6 p-4 d-flex position-relative overflow-hidden flex-column justify-content-between">
                <img src="./img/industry/08.jpg" alt="industry one" class="position-absolute">
                <div>
                    <span class="block-industry__count position-relative z-3 py-2 px-4 d-inline-block">114
                        проектов</span>
                </div>
                <p class="block-industry__text position-relative z-3">Строительство</p>
            </a>
            <a href="#"
                class="blocks-industry__block block-industry p-md-6 p-4 d-flex position-relative overflow-hidden flex-column justify-content-between">
                <img src="./img/industry/01.jpg" alt="industry one" class="position-absolute">
                <div>
                    <span class="block-industry__count position-relative z-3 py-2 px-4 d-inline-block">142
                        проектов</span>
                </div>
                <p class="block-industry__text position-relative z-3">Горная добыча</p>
            </a>
            <a href="#"
                class="blocks-industry__block block-industry p-md-6 p-4 d-flex position-relative overflow-hidden flex-column justify-content-between">
                <img src="./img/industry/03.jpg" alt="industry one" class="position-absolute">
                <div>
                    <span class="block-industry__count position-relative z-3 py-2 px-4 d-inline-block">99
                        проектов</span>
                </div>
                <p class="block-industry__text position-relative z-3">Нефтегаз</p>
            </a>
            <a href="#"
                class="blocks-industry__block block-industry p-md-6 p-4 d-flex position-relative overflow-hidden flex-column justify-content-between">
                <img src="./img/industry/05.jpg" alt="industry one" class="position-absolute">
                <div>
                    <span class="block-industry__count position-relative z-3 py-2 px-4 d-inline-block">245
                        проектов</span>
                </div>
                <p class="block-industry__text position-relative z-3">Промышленность</p>
            </a>
            <a href="#"
                class="blocks-industry__block block-industry p-md-6 p-4 d-flex position-relative overflow-hidden flex-column justify-content-between">
                <img src="./img/industry/07.jpg" alt="industry one" class="position-absolute">
                <div>
                    <span class="block-industry__count position-relative z-3 py-2 px-4 d-inline-block">91
                        проектов</span>
                </div>
                <p class="block-industry__text position-relative z-3">ЦОДы</p>
            </a>
        </div>
    </div>
</section>