<section class="manufacturers">
    <div class="container pt-md-9 mt-md-6 mt-8 pt-2">
        <h2 class="title fw-bold mb-md-7 mb-4">
            Производители
        </h2>
        <div class="manufacturers__blocks blocks-manufacturers d-grid gap-md-6 gap-2">
            <div
                class="blocks-manufacturers__block border-0 rounded-md-6 rounded-4 d-flex flex-column p-md-6 p-4 position-relative tab-card rounded-md-6 rounded-4">
                <picture>
                    <source srcset="./img/manufacturers_block.webp" type="image/webp">
                    <img loading="lazy" decoding="async" src="./img/manufacturers_block.jpg" alt="generators"
                        class="tab-card__background-image d-none d-md-block" width="100%" height="100%">
                </picture>
                <div class="d-flex flex-md-column flex-row gap-md-0 gap-3 align-items-md-start align-items-center">
                    <svg class="flag">
                        <use xlink:href="./img/svg/sprite.svg#russia"></use>
                    </svg>
                    <p class="semibold mt-md-3 mt-0 flex-md-auto flex-fill">Российские генераторы</p>
                    <svg class="arrow d-md-none d-block manufacturers-arrow m-0">
                        <use xlink:href="./img/svg/sprite.svg#arrow"></use>
                    </svg>
                </div>

                <div class="block-manufacturers__companies d-flex gap-3 mt-md-4 mt-0 flex-wrap">
                    <p class="block-manufacturers__company"><a href="#">Gazvolt</a></p>
                    <p class="block-manufacturers__company"><a href="#">Genese</a></p>
                    <p class="block-manufacturers__company"><a href="#">Motor</a></p>
                    <p class="block-manufacturers__company"><a href="#">REG</a></p>
                    <p class="block-manufacturers__company"><a href="#">Азимут</a></p>
                    <p class="block-manufacturers__company"><a href="#">Амперос</a></p>
                    <p class="block-manufacturers__company"><a href="#">Вепрь</a></p>
                    <p class="block-manufacturers__company"><a href="#">Дизель</a></p>
                    <p class="block-manufacturers__company"><a href="#">Добрыня</a></p>
                    <p class="block-manufacturers__company"><a href="#">Исток</a></p>
                    <p class="block-manufacturers__company"><a href="#">Старт</a></p>
                    <p class="block-manufacturers__company"><a href="#">ТСС</a></p>
                    <p class="block-manufacturers__company"><a href="#">ФАС</a></p>
                    <p class="block-manufacturers__company"><a href="#">Фрегат</a></p>
                </div>
            </div>
            <div
                class="blocks-manufacturers__block border-0 rounded-md-6 rounded-4 d-flex flex-column p-md-6 p-4 position-relative tab-card rounded-md-6 rounded-4">
                <picture>
                    <source srcset="./img/manufacturers_block.webp" type="image/webp">
                    <img loading="lazy" decoding="async" src="./img/manufacturers_block.jpg" alt="generators"
                        class="tab-card__background-image d-none d-md-block" width="100%" height="100%">
                </picture>
                <div class="d-flex flex-md-column flex-row gap-md-0 gap-3 align-items-md-start align-items-center">
                    <svg class="flag">
                        <use xlink:href="./img/svg/sprite.svg#china"></use>
                    </svg>
                    <p class="semibold mt-md-3 mt-0 flex-md-auto flex-fill">Китайские генераторы</p>
                    <svg class="arrow d-md-none d-block manufacturers-arrow m-0">
                        <use xlink:href="./img/svg/sprite.svg#arrow"></use>
                    </svg>
                </div>

                <div class="block-manufacturers__companies d-flex gap-3 mt-md-4 mt-0 flex-wrap">
                    <p class="block-manufacturers__company"><a href="#">AGG</a></p>
                    <p class="block-manufacturers__company"><a href="#">CTG</a></p>
                    <p class="block-manufacturers__company"><a href="#">Firman</a></p>
                    <p class="block-manufacturers__company"><a href="#">MingPowers</a></p>
                    <p class="block-manufacturers__company"><a href="#">PowerLink</a></p>
                    <p class="block-manufacturers__company"><a href="#">Toyo</a></p>
                </div>
            </div>
            <div
                class="blocks-manufacturers__block border-0 rounded-md-6 rounded-4 d-flex flex-column p-md-6 p-4 position-relative tab-card rounded-md-6 rounded-4">
                <picture>
                    <source srcset="./img/manufacturers_block.webp" type="image/webp">
                    <img loading="lazy" decoding="async" src="./img/manufacturers_block.jpg" alt="generators"
                        class="tab-card__background-image d-none d-md-block" width="100%" height="100%">
                </picture>
                <div class="d-flex flex-md-column flex-row gap-md-0 gap-3 align-items-md-start align-items-center">
                    <svg class="flag">
                        <use xlink:href="./img/svg/sprite.svg#turkey"></use>
                    </svg>
                    <p class="semibold mt-md-3 mt-0 flex-md-auto flex-fill">Турецкие генераторы</p>
                    <svg class="arrow d-md-none d-block manufacturers-arrow m-0">
                        <use xlink:href="./img/svg/sprite.svg#arrow"></use>
                    </svg>
                </div>

                <div class="block-manufacturers__companies d-flex gap-3 mt-md-4 mt-0 flex-wrap">
                    <p class="block-manufacturers__company"><a href="#">Aksa</a></p>
                    <p class="block-manufacturers__company"><a href="#">EMSA</a></p>
                    <p class="block-manufacturers__company"><a href="#">Hertz</a></p>
                    <p class="block-manufacturers__company"><a href="#">Zeus</a></p>
                </div>
            </div>
            <div
                class="blocks-manufacturers__block border-0 rounded-md-6 rounded-4 d-flex flex-column p-md-6 p-4 position-relative tab-card rounded-md-6 rounded-4">
                <picture>
                    <source srcset="./img/manufacturers_block.webp" type="image/webp">
                    <img loading="lazy" decoding="async" src="./img/manufacturers_block.jpg" alt="generators"
                        class="tab-card__background-image d-none d-md-block" width="100%" height="100%">
                </picture>
                <div class="d-flex flex-md-column flex-row gap-md-0 gap-3 align-items-md-start align-items-center">
                    <svg class="flag">
                        <use xlink:href="./img/svg/sprite.svg#japan"></use>
                    </svg>
                    <p class="semibold mt-md-3 mt-0 flex-md-auto flex-fill">Японские генераторы</p>
                    <svg class="arrow d-md-none d-block manufacturers-arrow m-0">
                        <use xlink:href="./img/svg/sprite.svg#arrow"></use>
                    </svg>
                </div>

                <div class="block-manufacturers__companies d-flex gap-3 mt-md-4 mt-0 flex-wrap">
                    <p class="block-manufacturers__company"><a href="#">Airman</a></p>
                    <p class="block-manufacturers__company"><a href="#">Denyo</a></p>
                    <p class="block-manufacturers__company"><a href="#">Kubota</a></p>
                    <p class="block-manufacturers__company"><a href="#">Mitsubishi</a></p>
                    <p class="block-manufacturers__company"><a href="#">Yamaha</a></p>
                    <p class="block-manufacturers__company"><a href="#">Yanmar</a></p>
                </div>
            </div>
            <div
                class="blocks-manufacturers__block border-0 rounded-md-6 rounded-4 d-flex flex-column p-md-6 p-4 position-relative tab-card rounded-md-6 rounded-4">
                <picture>
                    <source srcset="./img/manufacturers_block.webp" type="image/webp">
                    <img loading="lazy" decoding="async" src="./img/manufacturers_block.jpg" alt="generators"
                        class="tab-card__background-image d-none d-md-block" width="100%" height="100%">
                </picture>
                <div class="d-flex flex-md-column flex-row gap-md-0 gap-3 align-items-md-start align-items-center">
                    <svg class="flag">
                        <use xlink:href="./img/svg/sprite.svg#usa"></use>
                    </svg>
                    <p class="semibold mt-md-3 mt-0 flex-md-auto flex-fill">Американские генераторы</p>
                    <svg class="arrow d-md-none d-block manufacturers-arrow m-0">
                        <use xlink:href="./img/svg/sprite.svg#arrow"></use>
                    </svg>
                </div>

                <div class="block-manufacturers__companies d-flex gap-3 mt-md-4 mt-0 flex-wrap">
                    <p class="block-manufacturers__company"><a href="#">Briggs & Stratton</a></p>
                    <p class="block-manufacturers__company"><a href="#">Chicago Pneumatic</a></p>
                    <p class="block-manufacturers__company"><a href="#">Cummins</a></p>
                    <p class="block-manufacturers__company"><a href="#">Generac</a></p>
                    <p class="block-manufacturers__company"><a href="#">Honeywell</a></p>
                    <p class="block-manufacturers__company"><a href="#">Mirkon Energy</a></p>
                </div>
            </div>
            <div
                class="blocks-manufacturers__block border-0 rounded-md-6 rounded-4 d-flex flex-column p-md-6 p-4 position-relative tab-card rounded-md-6 rounded-4">
                <picture>
                    <source srcset="./img/manufacturers_block.webp" type="image/webp">
                    <img loading="lazy" decoding="async" src="./img/manufacturers_block.jpg" alt="generators"
                        class="tab-card__background-image d-none d-md-block" width="100%" height="100%">
                </picture>
                <div class="d-flex flex-md-column flex-row gap-md-0 gap-3 align-items-md-start align-items-center">
                    <svg class="flag">
                        <use xlink:href="./img/svg/sprite.svg#italian"></use>
                    </svg>
                    <p class="semibold mt-md-3 mt-0 flex-md-auto flex-fill">Итальянские генераторы</p>
                    <svg class="arrow d-md-none d-block manufacturers-arrow m-0">
                        <use xlink:href="./img/svg/sprite.svg#arrow"></use>
                    </svg>
                </div>

                <div class="block-manufacturers__companies d-flex gap-3 mt-md-4 mt-0 flex-wrap">
                    <p class="block-manufacturers__company"><a href="#">ELCOS</a></p>
                    <p class="block-manufacturers__company"><a href="#">FPT</a></p>
                    <p class="block-manufacturers__company"><a href="#">Genmac</a></p>
                    <p class="block-manufacturers__company"><a href="#">GMGen</a></p>
                    <p class="block-manufacturers__company"><a href="#">Onis Visa</a></p>
                    <p class="block-manufacturers__company"><a href="#">Pramac</a></p>
                </div>
            </div>
            <div
                class="blocks-manufacturers__block border-0 rounded-md-6 rounded-4 d-flex flex-column p-md-6 p-4 position-relative tab-card rounded-md-6 rounded-4">
                <picture>
                    <source srcset="./img/manufacturers_block.webp" type="image/webp">
                    <img loading="lazy" decoding="async" src="./img/manufacturers_block.jpg" alt="generators"
                        class="tab-card__background-image d-none d-md-block" width="100%" height="100%">
                </picture>
                <div class="d-flex flex-md-column flex-row gap-md-0 gap-3 align-items-md-start align-items-center">
                    <svg class="flag">
                        <use xlink:href="./img/svg/sprite.svg#germany"></use>
                    </svg>
                    <p class="semibold mt-md-3 mt-0 flex-md-auto flex-fill">Немецкие генераторы</p>
                    <svg class="arrow d-md-none d-block manufacturers-arrow m-0">
                        <use xlink:href="./img/svg/sprite.svg#arrow"></use>
                    </svg>
                </div>

                <div class="block-manufacturers__companies d-flex gap-3 mt-md-4 mt-0 flex-wrap">
                    <p class="block-manufacturers__company"><a href="#">Fubag</a></p>
                    <p class="block-manufacturers__company"><a href="#">Geko</a></p>
                    <p class="block-manufacturers__company"><a href="#">Henkelhausen</a></p>
                    <p class="block-manufacturers__company"><a href="#">RID</a></p>
                </div>
            </div>
            <div
                class="blocks-manufacturers__block border-0 rounded-md-6 rounded-4 d-flex flex-column p-md-6 p-4 position-relative tab-card rounded-md-6 rounded-4">
                <picture>
                    <source srcset="./img/manufacturers_block.webp" type="image/webp">
                    <img loading="lazy" decoding="async" src="./img/manufacturers_block.jpg" alt="generators"
                        class="tab-card__background-image d-none d-md-block" width="100%" height="100%">
                </picture>
                <div class="d-flex flex-md-column flex-row gap-md-0 gap-3 align-items-md-start align-items-center">
                    <svg class="flag">
                        <use xlink:href="./img/svg/sprite.svg#english"></use>
                    </svg>
                    <p class="semibold mt-md-3 mt-0 flex-md-auto flex-fill">Английские генераторы</p>
                    <svg class="arrow d-md-none d-block manufacturers-arrow m-0">
                        <use xlink:href="./img/svg/sprite.svg#arrow"></use>
                    </svg>
                </div>

                <div class="block-manufacturers__companies d-flex gap-3 mt-md-4 mt-0 flex-wrap">
                    <p class="block-manufacturers__company"><a href="#">FG Wilson</a></p>
                    <p class="block-manufacturers__company"><a href="#">JCB</a></p>
                </div>
            </div>
            <div
                class="blocks-manufacturers__block border-0 rounded-md-6 rounded-4 d-flex flex-column p-md-6 p-4 position-relative tab-card rounded-md-6 rounded-4">
                <picture>
                    <source srcset="./img/manufacturers_block.webp" type="image/webp">
                    <img loading="lazy" decoding="async" src="./img/manufacturers_block.jpg" alt="generators"
                        class="tab-card__background-image d-none d-md-block" width="100%" height="100%">
                </picture>
                <div class="d-flex flex-md-column flex-row gap-md-0 gap-3 align-items-md-start align-items-center">
                    <svg class="flag">
                        <use xlink:href="./img/svg/sprite.svg#belgian"></use>
                    </svg>
                    <p class="semibold mt-md-3 mt-0 flex-md-auto flex-fill">Бельгийские генераторы</p>
                    <svg class="arrow d-md-none d-block manufacturers-arrow m-0">
                        <use xlink:href="./img/svg/sprite.svg#arrow"></use>
                    </svg>
                </div>

                <div class="block-manufacturers__companies d-flex gap-3 mt-md-4 mt-0 flex-wrap">
                    <p class="block-manufacturers__company"><a href="#">EUROPOWER</a></p>
                </div>
            </div>
            <div
                class="blocks-manufacturers__block border-0 rounded-md-6 rounded-4 d-flex flex-column p-md-6 p-4 position-relative tab-card rounded-md-6 rounded-4">
                <picture>
                    <source srcset="./img/manufacturers_block.webp" type="image/webp">
                    <img loading="lazy" decoding="async" src="./img/manufacturers_block.jpg" alt="generators"
                        class="tab-card__background-image d-none d-md-block" width="100%" height="100%">
                </picture>
                <div class="d-flex flex-md-column flex-row gap-md-0 gap-3 align-items-md-start align-items-center">
                    <svg class="flag">
                        <use xlink:href="./img/svg/sprite.svg#spanish"></use>
                    </svg>
                    <p class="semibold mt-md-3 mt-0 flex-md-auto flex-fill">Испанские генераторы</p>
                    <svg class="arrow d-md-none d-block manufacturers-arrow m-0">
                        <use xlink:href="./img/svg/sprite.svg#arrow"></use>
                    </svg>
                </div>

                <div class="block-manufacturers__companies d-flex gap-3 mt-md-4 mt-0 flex-wrap">
                    <p class="block-manufacturers__company"><a href="#">Gesan</a></p>
                    <p class="block-manufacturers__company"><a href="#">Himoinsa</a></p>
                </div>
            </div>
            <div
                class="blocks-manufacturers__block border-0 rounded-md-6 rounded-4 d-flex flex-column p-md-6 p-4 position-relative tab-card rounded-md-6 rounded-4">
                <picture>
                    <source srcset="./img/manufacturers_block.webp" type="image/webp">
                    <img loading="lazy" decoding="async" src="./img/manufacturers_block.jpg" alt="generators"
                        class="tab-card__background-image d-none d-md-block" width="100%" height="100%">
                </picture>
                <div class="d-flex flex-md-column flex-row gap-md-0 gap-3 align-items-md-start align-items-center">
                    <svg class="flag">
                        <use xlink:href="./img/svg/sprite.svg#poland"></use>
                    </svg>
                    <p class="semibold mt-md-3 mt-0 flex-md-auto flex-fill">Польские генераторы</p>
                    <svg class="arrow d-md-none d-block manufacturers-arrow m-0">
                        <use xlink:href="./img/svg/sprite.svg#arrow"></use>
                    </svg>
                </div>
                <div class="block-manufacturers__companies d-flex gap-3 mt-md-4 mt-0 flex-wrap">
                    <p class="block-manufacturers__company"><a href="#">FOGO</a></p>
                </div>
            </div>
            <div
                class="blocks-manufacturers__block border-0 rounded-md-6 rounded-4 d-flex flex-column p-md-6 p-4 position-relative tab-card rounded-md-6 rounded-4">
                <picture>
                    <source srcset="./img/manufacturers_block.webp" type="image/webp">
                    <img loading="lazy" decoding="async" src="./img/manufacturers_block.jpg" alt="generators"
                        class="tab-card__background-image d-none d-md-block" width="100%" height="100%">
                </picture>
                <div class="d-flex flex-md-column flex-row gap-md-0 gap-3 align-items-md-start align-items-center">
                    <svg class="flag">
                        <use xlink:href="./img/svg/sprite.svg#sweden"></use>
                    </svg>
                    <p class="semibold mt-md-3 mt-0 flex-md-auto flex-fill">Шведские генераторы</p>
                    <svg class="arrow d-md-none d-block manufacturers-arrow m-0">
                        <use xlink:href="./img/svg/sprite.svg#arrow"></use>
                    </svg>
                </div>
                <div class="block-manufacturers__companies d-flex gap-3 mt-md-4 mt-0 flex-wrap">
                    <p class="block-manufacturers__company"><a href="#">Atlas Copco</a></p>
                </div>
            </div>
            <div
                class="blocks-manufacturers__block border-0 rounded-md-6 rounded-4 d-flex flex-column p-md-6 p-4 position-relative tab-card rounded-md-6 rounded-4">
                <picture>
                    <source srcset="./img/manufacturers_block.webp" type="image/webp">
                    <img loading="lazy" decoding="async" src="./img/manufacturers_block.jpg" alt="generators"
                        class="tab-card__background-image d-none d-md-block" width="100%" height="100%">
                </picture>
                <div class="d-flex flex-md-column flex-row gap-md-0 gap-3 align-items-md-start align-items-center">
                    <svg class="flag">
                        <use xlink:href="./img/svg/sprite.svg#french"></use>
                    </svg>
                    <p class="semibold mt-md-3 mt-0 flex-md-auto flex-fill">Французские генераторы</p>
                    <svg class="arrow d-md-none d-block manufacturers-arrow m-0">
                        <use xlink:href="./img/svg/sprite.svg#arrow"></use>
                    </svg>
                </div>
                <div class="block-manufacturers__companies d-flex gap-3 mt-md-4 mt-0 flex-wrap">
                    <p class="block-manufacturers__company"><a href="#">Energo</a></p>
                    <p class="block-manufacturers__company"><a href="#">SDMO</a></p>
                </div>
            </div>
        </div>
    </div>
</section>