<section class="manufacturers">
    <div class="container pt-md-9 mt-md-6 mt-8 pt-2">
        <h2 class="title fw-bold mb-md-7 mb-4">
            Производители
        </h2>
        <div class="manufacturers__blocks blocks-manufacturers d-grid gap-md-6 gap-2">
            <div class="blocks-manufacturers__block d-flex flex-column p-md-6 p-4 position-relative tab-card">
                <img src="./img/manufacturers_block.jpg" alt="generators"
                    class="tab-card__background-image d-none d-md-block">
                <div class="d-flex flex-md-column flex-row gap-md-0 gap-3 align-items-md-start align-items-center">
                    <svg class="flag">
                        <use xlink:href="./img/svg/sprite.svg#russia"></use>
                    </svg>
                    <p class="semibold mt-md-3 mt-0 flex-md-auto flex-fill">Российские генераторы</p>
                    <svg class="arrow d-md-none d-block manufacturers-arrow m-0">
                        <use xlink:href="./img/svg/sprite.svg#arrow"></use>
                    </svg>
                </div>

                <div class="block-manufacturers__companies d-flex gap-3 mt-md-4 mt-0 flex-wrap">
                    <p class="block-manufacturers__company">Gazvolt</p>
                    <p class="block-manufacturers__company">Genese</p>
                    <p class="block-manufacturers__company">Motor</p>
                    <p class="block-manufacturers__company">REG</p>
                    <p class="block-manufacturers__company">Азимут</p>
                    <p class="block-manufacturers__company">Амперос</p>
                    <p class="block-manufacturers__company">Вепрь</p>
                    <p class="block-manufacturers__company">Дизель</p>
                    <p class="block-manufacturers__company">Добрыня</p>
                    <p class="block-manufacturers__company">Исток</p>
                    <p class="block-manufacturers__company">Старт</p>
                    <p class="block-manufacturers__company">ТСС</p>
                    <p class="block-manufacturers__company">ФАС</p>
                    <p class="block-manufacturers__company">Фрегат</p>
                </div>
            </div>
            <div class="blocks-manufacturers__block d-flex flex-column p-md-6 p-4 position-relative tab-card">
                <img src="./img/manufacturers_block.jpg" alt="generators"
                    class="tab-card__background-image d-none d-md-block">
                <div class="d-flex flex-md-column flex-row gap-md-0 gap-3 align-items-md-start align-items-center">
                    <svg class="flag">
                        <use xlink:href="./img/svg/sprite.svg#china"></use>
                    </svg>
                    <p class="semibold mt-md-3 mt-0 flex-md-auto flex-fill">Китайские генераторы</p>
                    <svg class="arrow d-md-none d-block manufacturers-arrow m-0">
                        <use xlink:href="./img/svg/sprite.svg#arrow"></use>
                    </svg>
                </div>

                <div class="block-manufacturers__companies d-flex gap-3 mt-md-4 mt-0 flex-wrap">
                    <p class="block-manufacturers__company">AGG</p>
                    <p class="block-manufacturers__company">CTG</p>
                    <p class="block-manufacturers__company">Firman</p>
                    <p class="block-manufacturers__company">MingPowers</p>
                    <p class="block-manufacturers__company">PowerLink</p>
                </div>
            </div>
            <div class="blocks-manufacturers__block d-flex flex-column p-md-6 p-4 position-relative tab-card">
                <img src="./img/manufacturers_block.jpg" alt="generators"
                    class="tab-card__background-image d-none d-md-block">
                <div class="d-flex flex-md-column flex-row gap-md-0 gap-3 align-items-md-start align-items-center">
                    <svg class="flag">
                        <use xlink:href="./img/svg/sprite.svg#turkey"></use>
                    </svg>
                    <p class="semibold mt-md-3 mt-0 flex-md-auto flex-fill">Турецкие генераторы</p>
                    <svg class="arrow d-md-none d-block manufacturers-arrow m-0">
                        <use xlink:href="./img/svg/sprite.svg#arrow"></use>
                    </svg>
                </div>

                <div class="block-manufacturers__companies d-flex gap-3 mt-md-4 mt-0 flex-wrap">
                    <p class="block-manufacturers__company">Aksa</p>
                    <p class="block-manufacturers__company">EMSA</p>
                    <p class="block-manufacturers__company">Hertz</p>
                    <p class="block-manufacturers__company">Zeus</p>
                </div>
            </div>
            <div class="blocks-manufacturers__block d-flex flex-column p-md-6 p-4 position-relative tab-card">
                <img src="./img/manufacturers_block.jpg" alt="generators"
                    class="tab-card__background-image d-none d-md-block">
                <div class="d-flex flex-md-column flex-row gap-md-0 gap-3 align-items-md-start align-items-center">
                    <svg class="flag">
                        <use xlink:href="./img/svg/sprite.svg#japan"></use>
                    </svg>
                    <p class="semibold mt-md-3 mt-0 flex-md-auto flex-fill">Японские генераторы</p>
                    <svg class="arrow d-md-none d-block manufacturers-arrow m-0">
                        <use xlink:href="./img/svg/sprite.svg#arrow"></use>
                    </svg>
                </div>

                <div class="block-manufacturers__companies d-flex gap-3 mt-md-4 mt-0 flex-wrap">
                    <p class="block-manufacturers__company">Airman</p>
                    <p class="block-manufacturers__company">Denyo</p>
                    <p class="block-manufacturers__company">Kubota</p>
                    <p class="block-manufacturers__company">Mitsubishi</p>
                    <p class="block-manufacturers__company">Toyo</p>
                    <p class="block-manufacturers__company">Yamaha</p>
                    <p class="block-manufacturers__company">Yanmar</p>
                </div>
            </div>
            <div class="blocks-manufacturers__block d-flex flex-column p-md-6 p-4 position-relative tab-card">
                <img src="./img/manufacturers_block.jpg" alt="generators"
                    class="tab-card__background-image d-none d-md-block">
                <div class="d-flex flex-md-column flex-row gap-md-0 gap-3 align-items-md-start align-items-center">
                    <svg class="flag">
                        <use xlink:href="./img/svg/sprite.svg#usa"></use>
                    </svg>
                    <p class="semibold mt-md-3 mt-0 flex-md-auto flex-fill">Американские генераторы</p>
                    <svg class="arrow d-md-none d-block manufacturers-arrow m-0">
                        <use xlink:href="./img/svg/sprite.svg#arrow"></use>
                    </svg>
                </div>

                <div class="block-manufacturers__companies d-flex gap-3 mt-md-4 mt-0 flex-wrap">
                    <p class="block-manufacturers__company">Briggs & Stratton</p>
                    <p class="block-manufacturers__company">Generac</p>
                    <p class="block-manufacturers__company">Honeywell</p>
                    <p class="block-manufacturers__company">Mirkon Energy</p>
                    <p class="block-manufacturers__company">Toyo</p>
                </div>
            </div>
            <div class="blocks-manufacturers__block d-flex flex-column p-md-6 p-4 position-relative tab-card">
                <img src="./img/manufacturers_block.jpg" alt="generators"
                    class="tab-card__background-image d-none d-md-block">
                <div class="d-flex flex-md-column flex-row gap-md-0 gap-3 align-items-md-start align-items-center">
                    <svg class="flag">
                        <use xlink:href="./img/svg/sprite.svg#italian"></use>
                    </svg>
                    <p class="semibold mt-md-3 mt-0 flex-md-auto flex-fill">Итальянские генераторы</p>
                    <svg class="arrow d-md-none d-block manufacturers-arrow m-0">
                        <use xlink:href="./img/svg/sprite.svg#arrow"></use>
                    </svg>
                </div>

                <div class="block-manufacturers__companies d-flex gap-3 mt-md-4 mt-0 flex-wrap">
                    <p class="block-manufacturers__company">ELCOS</p>
                    <p class="block-manufacturers__company">FPT</p>
                    <p class="block-manufacturers__company">Genmac</p>
                    <p class="block-manufacturers__company">GMGen</p>
                    <p class="block-manufacturers__company">Onis Visa</p>
                    <p class="block-manufacturers__company">Pramac</p>
                </div>
            </div>
            <div class="blocks-manufacturers__block d-flex flex-column p-md-6 p-4 position-relative tab-card">
                <img src="./img/manufacturers_block.jpg" alt="generators"
                    class="tab-card__background-image d-none d-md-block">
                <div class="d-flex flex-md-column flex-row gap-md-0 gap-3 align-items-md-start align-items-center">
                    <svg class="flag">
                        <use xlink:href="./img/svg/sprite.svg#germany"></use>
                    </svg>
                    <p class="semibold mt-md-3 mt-0 flex-md-auto flex-fill">Немецкие генераторы</p>
                    <svg class="arrow d-md-none d-block manufacturers-arrow m-0">
                        <use xlink:href="./img/svg/sprite.svg#arrow"></use>
                    </svg>
                </div>

                <div class="block-manufacturers__companies d-flex gap-3 mt-md-4 mt-0 flex-wrap">
                    <p class="block-manufacturers__company">Fubag</p>
                    <p class="block-manufacturers__company">Geko</p>
                    <p class="block-manufacturers__company">Henkelhausen</p>
                    <p class="block-manufacturers__company">RID</p>
                </div>
            </div>
            <div class="blocks-manufacturers__block d-flex flex-column p-md-6 p-4 position-relative tab-card">
                <img src="./img/manufacturers_block.jpg" alt="generators"
                    class="tab-card__background-image d-none d-md-block">
                <div class="d-flex flex-md-column flex-row gap-md-0 gap-3 align-items-md-start align-items-center">
                    <svg class="flag">
                        <use xlink:href="./img/svg/sprite.svg#english"></use>
                    </svg>
                    <p class="semibold mt-md-3 mt-0 flex-md-auto flex-fill">Английские генераторы</p>
                    <svg class="arrow d-md-none d-block manufacturers-arrow m-0">
                        <use xlink:href="./img/svg/sprite.svg#arrow"></use>
                    </svg>
                </div>

                <div class="block-manufacturers__companies d-flex gap-3 mt-md-4 mt-0 flex-wrap">
                    <p class="block-manufacturers__company">Cummins</p>
                    <p class="block-manufacturers__company">FG Wilson</p>
                    <p class="block-manufacturers__company">JCB</p>
                </div>
            </div>
            <div class="blocks-manufacturers__block d-flex flex-column p-md-6 p-4 position-relative tab-card">
                <img src="./img/manufacturers_block.jpg" alt="generators"
                    class="tab-card__background-image d-none d-md-block">
                <div class="d-flex flex-md-column flex-row gap-md-0 gap-3 align-items-md-start align-items-center">
                    <svg class="flag">
                        <use xlink:href="./img/svg/sprite.svg#belgian"></use>
                    </svg>
                    <p class="semibold mt-md-3 mt-0 flex-md-auto flex-fill">Бельгийские генераторы</p>
                    <svg class="arrow d-md-none d-block manufacturers-arrow m-0">
                        <use xlink:href="./img/svg/sprite.svg#arrow"></use>
                    </svg>
                </div>

                <div class="block-manufacturers__companies d-flex gap-3 mt-md-4 mt-0 flex-wrap">
                    <p class="block-manufacturers__company">EUROPOWER</p>
                </div>
            </div>
            <div class="blocks-manufacturers__block d-flex flex-column p-md-6 p-4 position-relative tab-card">
                <img src="./img/manufacturers_block.jpg" alt="generators"
                    class="tab-card__background-image d-none d-md-block">
                <div class="d-flex flex-md-column flex-row gap-md-0 gap-3 align-items-md-start align-items-center">
                    <svg class="flag">
                        <use xlink:href="./img/svg/sprite.svg#spanish"></use>
                    </svg>
                    <p class="semibold mt-md-3 mt-0 flex-md-auto flex-fill">Испанские генераторы</p>
                    <svg class="arrow d-md-none d-block manufacturers-arrow m-0">
                        <use xlink:href="./img/svg/sprite.svg#arrow"></use>
                    </svg>
                </div>

                <div class="block-manufacturers__companies d-flex gap-3 mt-md-4 mt-0 flex-wrap">
                    <p class="block-manufacturers__company">Gesan</p>
                    <p class="block-manufacturers__company">Himoinsa</p>
                </div>
            </div>
            <div class="blocks-manufacturers__block d-flex flex-column p-md-6 p-4 position-relative tab-card">
                <img src="./img/manufacturers_block.jpg" alt="generators"
                    class="tab-card__background-image d-none d-md-block">
                <div class="d-flex flex-md-column flex-row gap-md-0 gap-3 align-items-md-start align-items-center">
                    <svg class="flag">
                        <use xlink:href="./img/svg/sprite.svg#poland"></use>
                    </svg>
                    <p class="semibold mt-md-3 mt-0 flex-md-auto flex-fill">Польские генераторы</p>
                    <svg class="arrow d-md-none d-block manufacturers-arrow m-0">
                        <use xlink:href="./img/svg/sprite.svg#arrow"></use>
                    </svg>
                </div>
                <div class="block-manufacturers__companies d-flex gap-3 mt-md-4 mt-0 flex-wrap">
                    <p class="block-manufacturers__company">FOGO</p>
                </div>
            </div>
            <div class="blocks-manufacturers__block d-flex flex-column p-md-6 p-4 position-relative tab-card">
                <img src="./img/manufacturers_block.jpg" alt="generators"
                    class="tab-card__background-image d-none d-md-block">
                <div class="d-flex flex-md-column flex-row gap-md-0 gap-3 align-items-md-start align-items-center">
                    <svg class="flag">
                        <use xlink:href="./img/svg/sprite.svg#sweden"></use>
                    </svg>
                    <p class="semibold mt-md-3 mt-0 flex-md-auto flex-fill">Шведские генераторы</p>
                    <svg class="arrow d-md-none d-block manufacturers-arrow m-0">
                        <use xlink:href="./img/svg/sprite.svg#arrow"></use>
                    </svg>
                </div>
                <div class="block-manufacturers__companies d-flex gap-3 mt-md-4 mt-0 flex-wrap">
                    <p class="block-manufacturers__company">Atlas Copco</p>
                    <p class="block-manufacturers__company">Chicago Pneumatic</p>
                </div>
            </div>
            <div class="blocks-manufacturers__block d-flex flex-column p-md-6 p-4 position-relative tab-card">
                <img src="./img/manufacturers_block.jpg" alt="generators"
                    class="tab-card__background-image d-none d-md-block">
                <div class="d-flex flex-md-column flex-row gap-md-0 gap-3 align-items-md-start align-items-center">
                    <svg class="flag">
                        <use xlink:href="./img/svg/sprite.svg#french"></use>
                    </svg>
                    <p class="semibold mt-md-3 mt-0 flex-md-auto flex-fill">Французские генераторы</p>
                    <svg class="arrow d-md-none d-block manufacturers-arrow m-0">
                        <use xlink:href="./img/svg/sprite.svg#arrow"></use>
                    </svg>
                </div>
                <div class="block-manufacturers__companies d-flex gap-3 mt-md-4 mt-0 flex-wrap">
                    <p class="block-manufacturers__company">Energo</p>
                    <p class="block-manufacturers__company">SDMO</p>
                </div>
            </div>
        </div>
    </div>
</section>