<section class="popular-slider">
    <div class="container pt-md-5 mt-md-11 pt-5 mt-5 slider">
        <div
            class="tabs-header d-flex flex-md-row flex-column justify-content-md-between justify-content-start align-items-md-start align-items-start mt-md-7 mt-0 gap-md-11 gap-4 me-2">
            <ul class="nav nav-tabs d-flex gap-lg-11 gap-md-8 gap-3 flex-fill" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link ps-0 active big-tab pb-lg-6 pb-md-5 pb-4" id="popular-tab"
                        data-bs-toggle="tab" data-bs-target="#popular-tab-pane" type="button" role="tab"
                        aria-controls="popular-tab-pane" aria-selected="true">Популярное</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link big-tab pb-lg-6 pb-md-5 pb-4" id="recomendation-tab" data-bs-toggle="tab"
                        data-bs-target="#recomendation-tab-pane" type="button" role="tab"
                        aria-controls="recomendation-tab-pane" aria-selected="false" tabindex="-1">Рекомендуем</button>
                </li>
            </ul>
        </div>

        <div class="tab-content mt-md-7" id="myTabContent">
            <div class="tab-pane fade show active" id="popular-tab-pane" role="tabpanel" aria-labelledby="popular-tab"
                tabindex="0">
                <div class="swiffy-slider popular-slider-wrapper slider-item-show4">
                    <ul class="slider-container popular-slider py-lg-9 py-md-7 py-4">
                        <li class="popular-slider__block p-md-6 p-4 d-flex flex-column gap-4">
                            <img src="./img/popular-slider.jpg" alt="">
                            <p class="popular-slider__description">Дизельный генератор
                                ТСС&nbsp;АД-100С-Т400–1РКМ26&nbsp;в&nbsp;шумозащитном кожухе</p>
                            <p class="popular-slider__price semibold">от&nbsp;<span>11 000 000</span>&nbsp;₽</p>
                            <div class="d-flex flex-column gap-md-4 gap-2">
                                <button class="btn py-3 popular-slider__button first semibold px-0">Получить
                                    предложение</button>
                                <button class="btn py-3 btn-primary popular-slider__button">Купить</button>
                            </div>
                            <p class="popular-slider__info">Наши менеджеры свяжутся с&nbsp;вами и&nbsp;уточнят условия
                                заказа
                            </p>
                        </li>
                        <li class="popular-slider__block p-md-6 p-4 d-flex flex-column gap-4">
                            <img src="./img/popular-slider.jpg" alt="">
                            <p class="popular-slider__description">Дизельный генератор
                                ТСС&nbsp;АД-100С-Т400–1РКМ26&nbsp;в&nbsp;шумозащитном кожухе</p>
                            <p class="popular-slider__price semibold">по&nbsp;запросу</p>
                            <div class="d-flex flex-column gap-4">
                                <button class="btn py-3 popular-slider__button first semibold px-0">Получить
                                    предложение</button>
                                <button class="btn py-3 btn-primary popular-slider__button">Купить</button>
                            </div>
                            <p class="popular-slider__info">Наши менеджеры свяжутся с&nbsp;вами и&nbsp;уточнят условия
                                заказа
                            </p>
                        </li>
                        <li class="popular-slider__block p-md-6 p-4 d-flex flex-column gap-4">
                            <img src="./img/popular-slider.jpg" alt="">
                            <p class="popular-slider__description">Дизельный генератор
                                ТСС&nbsp;АД-100С-Т400–1РКМ26&nbsp;в&nbsp;шумозащитном кожухе</p>
                            <p class="popular-slider__price semibold">от&nbsp;<span>9 000 000</span>&nbsp;₽</p>
                            <div class="d-flex flex-column gap-4">
                                <button class="btn py-3 popular-slider__button first semibold px-0">Получить
                                    предложение</button>
                                <button class="btn py-3 btn-primary popular-slider__button">Купить</button>
                            </div>
                            <p class="popular-slider__info">Наши менеджеры свяжутся с&nbsp;вами и&nbsp;уточнят условия
                                заказа
                            </p>
                        </li>
                        <li class="popular-slider__block p-md-6 p-4 d-flex flex-column gap-4">
                            <img src="./img/popular-slider.jpg" alt="">
                            <p class="popular-slider__description">Дизельный генератор
                                ТСС&nbsp;АД-100С-Т400–1РКМ26&nbsp;в&nbsp;шумозащитном кожухе</p>
                            <p class="popular-slider__price semibold">по&nbsp;запросу</p>
                            <div class="d-flex flex-column gap-4">
                                <button class="btn py-3 popular-slider__button first semibold px-0">Получить
                                    предложение</button>
                                <button class="btn py-3 btn-primary popular-slider__button">Купить</button>
                            </div>
                            <p class="popular-slider__info">Наши менеджеры свяжутся с&nbsp;вами и&nbsp;уточнят условия
                                заказа
                            </p>
                        </li>
                        <li class="popular-slider__block p-md-6 p-4 d-flex flex-column gap-4">
                            <img src="./img/popular-slider.jpg" alt="">
                            <p class="popular-slider__description">Дизельный генератор
                                ТСС&nbsp;АД-100С-Т400–1РКМ26&nbsp;в&nbsp;шумозащитном кожухе</p>
                            <p class="popular-slider__price semibold">от&nbsp;<span>11 000 000</span>&nbsp;₽</p>
                            <div class="d-flex flex-column gap-4">
                                <button class="btn py-3 popular-slider__button first semibold px-0">Получить
                                    предложение</button>
                                <button class="btn py-3 btn-primary popular-slider__button">Купить</button>
                            </div>
                            <p class="popular-slider__info">Наши менеджеры свяжутся с&nbsp;вами и&nbsp;уточнят условия
                                заказа
                            </p>
                        </li>
                    </ul>

                    <div class="d-none d-lg-block position-absolute popular-slider__arrows-wrapper slider-nav-visible">
                        <div class="popular-slider__arrows d-none d-md-flex">
                            <button type="button" class="slider-nav position-relative me-3"></button>
                            <button type="button" class="slider-nav slider-nav-next position-relative"></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="recomendation-tab-pane" role="tabpanel" aria-labelledby="recomendation-tab"
                tabindex="0">
                <div class="swiffy-slider popular-slider-wrapper slider-item-show4">
                    <ul class="slider-container popular-slider py-lg-9 py-md-7 py-4">
                        <li class="popular-slider__block p-md-6 p-4 d-flex flex-column gap-4">
                            <img src="./img/popular-slider.jpg" alt="">
                            <p class="popular-slider__description">Дизельный генератор
                                ТСС&nbsp;АД-100С-Т400–1РКМ26&nbsp;в&nbsp;шумозащитном кожухе</p>
                            <p class="popular-slider__price semibold">от&nbsp;<span>11 000 000</span>&nbsp;₽</p>
                            <div class="d-flex flex-column gap-md-4 gap-2">
                                <button class="btn py-3 popular-slider__button first semibold px-0">Получить
                                    предложение</button>
                                <button class="btn py-3 btn-primary popular-slider__button">Купить</button>
                            </div>
                            <p class="popular-slider__info">Наши менеджеры свяжутся с&nbsp;вами и&nbsp;уточнят условия
                                заказа
                            </p>
                        </li>
                        <li class="popular-slider__block p-md-6 p-4 d-flex flex-column gap-4">
                            <img src="./img/popular-slider.jpg" alt="">
                            <p class="popular-slider__description">Дизельный генератор
                                ТСС&nbsp;АД-100С-Т400–1РКМ26&nbsp;в&nbsp;шумозащитном кожухе</p>
                            <p class="popular-slider__price semibold">по&nbsp;запросу</p>
                            <div class="d-flex flex-column gap-4">
                                <button class="btn py-3 popular-slider__button first semibold px-0">Получить
                                    предложение</button>
                                <button class="btn py-3 btn-primary popular-slider__button">Купить</button>
                            </div>
                            <p class="popular-slider__info">Наши менеджеры свяжутся с&nbsp;вами и&nbsp;уточнят условия
                                заказа
                            </p>
                        </li>
                        <li class="popular-slider__block p-md-6 p-4 d-flex flex-column gap-4">
                            <img src="./img/popular-slider.jpg" alt="">
                            <p class="popular-slider__description">Дизельный генератор
                                ТСС&nbsp;АД-100С-Т400–1РКМ26&nbsp;в&nbsp;шумозащитном кожухе</p>
                            <p class="popular-slider__price semibold">от&nbsp;<span>9 000 000</span>&nbsp;₽</p>
                            <div class="d-flex flex-column gap-4">
                                <button class="btn py-3 popular-slider__button first semibold px-0">Получить
                                    предложение</button>
                                <button class="btn py-3 btn-primary popular-slider__button">Купить</button>
                            </div>
                            <p class="popular-slider__info">Наши менеджеры свяжутся с&nbsp;вами и&nbsp;уточнят условия
                                заказа
                            </p>
                        </li>
                        <li class="popular-slider__block p-md-6 p-4 d-flex flex-column gap-4">
                            <img src="./img/popular-slider.jpg" alt="">
                            <p class="popular-slider__description">Дизельный генератор
                                ТСС&nbsp;АД-100С-Т400–1РКМ26&nbsp;в&nbsp;шумозащитном кожухе</p>
                            <p class="popular-slider__price semibold">по&nbsp;запросу</p>
                            <div class="d-flex flex-column gap-4">
                                <button class="btn py-3 popular-slider__button first semibold px-0">Получить
                                    предложение</button>
                                <button class="btn py-3 btn-primary popular-slider__button">Купить</button>
                            </div>
                            <p class="popular-slider__info">Наши менеджеры свяжутся с&nbsp;вами и&nbsp;уточнят условия
                                заказа
                            </p>
                        </li>
                        <li class="popular-slider__block p-md-6 p-4 d-flex flex-column gap-4">
                            <img src="./img/popular-slider.jpg" alt="">
                            <p class="popular-slider__description">Дизельный генератор
                                ТСС&nbsp;АД-100С-Т400–1РКМ26&nbsp;в&nbsp;шумозащитном кожухе</p>
                            <p class="popular-slider__price semibold">от&nbsp;<span>11 000 000</span>&nbsp;₽</p>
                            <div class="d-flex flex-column gap-4">
                                <button class="btn py-3 popular-slider__button first semibold px-0">Получить
                                    предложение</button>
                                <button class="btn py-3 btn-primary popular-slider__button">Купить</button>
                            </div>
                            <p class="popular-slider__info">Наши менеджеры свяжутся с&nbsp;вами и&nbsp;уточнят условия
                                заказа
                            </p>
                        </li>
                    </ul>

                    <div class="d-none d-lg-block position-absolute popular-slider__arrows-wrapper slider-nav-visible">
                        <div class="popular-slider__arrows d-none d-md-flex">
                            <button type="button" class="slider-nav position-relative me-3"></button>
                            <button type="button" class="slider-nav slider-nav-next position-relative"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>