<div class="popup-book-container popup-recall position-relative d-none">
    <div class="popup-background"></div>
    <div class="popup-book__wrapper text-center px-md-6 py-md-10 px-4 py-8">
        <h1 class="popup-book__title fw-bold"><span>Подберём</span> для&nbsp;вас&nbsp;лучшее решение</h1>
        <p class="popup-book__paragraph mt-12">Заполните форму и&nbsp;мы&nbsp;свяжемся с&nbsp;вами в&nbsp;ближайшее
            время
        </p>

        <form action="#"
            class="d-flex gap-md-6 gap-4 justify-content-md-center flex-md-row flex-column mt-6 position-relative">
            <input type="text" class="big-form__input p-md-4 p-3 rounded-3" placeholder="Ваше имя" required="">
            <input type="tel" class="big-form__input p-md-4 p-3 rounded-3" placeholder="Телефон" required="">
            <button class="btn btn-warning py-md-3 py-3 px-9">Отправить</button>
        </form>

        <p class="popup-book__agreement mt-md-9 mt-6 text-center"><a href="#">Я&nbsp;согласен на&nbsp;передачу
                и&nbsp;обработку
                персональных данных
                в&nbsp;соответствии <br /> с&nbsp;политикой конфиденциальности</a></p>

        <button class="d-block popup-cross rounded-3 d-flex justify-content-center align-items-center">
            <svg>
                <use xlink:href="./img/svg/sprite.svg#x"></use>
            </svg>
        </button>
    </div>
</div>