<section class="production">
    <div class="container pt-md-9 mt-md-6 mt-8 pt-2">
        <h2 class="title fw-bold mb-md-6 mb-4">
            Производственный комплекс
        </h2>
        <picture>
            <source srcset="./img/production1.webp" type="image/webp">
            <img loading="lazy" decoding="async" src="./img/production1.jpg" alt="производство"
                class="object-fit-cover production__image" width="100%">
        </picture>
        <div class="production__blocks blocks-production d-grid gap-md-6 gap-2">
            <div class="blocks-production__block d-flex p-md-6 p-4 gap-md-6 gap-3">
                <picture>
                    <source srcset="./img/production2.webp" type="image/webp">
                    <img loading="lazy" decoding="async" src="./img/production2.jpg" alt="производство 2" width="100%"
                        class="w-100">
                </picture>
                <div>
                    <p class="semibold">Контейнер ПБК Север марки «Energy»</p>
                    <button class="btn btn-primary py-md-12 py-2 px-4 rounded-4 d-inline-block mt-4">Подробнее</button>
                </div>
            </div>
            <div class="blocks-production__block d-flex p-md-6 p-4 gap-md-6 gap-3">
                <picture>
                    <source srcset="./img/production3.webp" type="image/webp">
                    <img loading="lazy" decoding="async" src="./img/production3.jpg" alt="производство 2" width="100%"
                        class="w-100">
                </picture>
                <div>
                    <p class="semibold">Контейнер ЦБК Север марки «Energy»</p>
                    <button class="btn btn-primary py-md-12 py-2 px-4 rounded-4 d-inline-block mt-4">Подробнее</button>
                </div>
            </div>
        </div>
    </div>
</section>