<section class="production">
    <div class="container pt-md-9 mt-md-6 mt-8 pt-2">
        <h2 class="title fw-bold mb-md-6 mb-4">
            Производственный комплекс
        </h2>
        <img src="./img/production1.jpg" alt="производство" class="w-100 object-fit-cover production__image">
        <div class="production__blocks blocks-production d-grid gap-md-6 gap-2">
            <div class="blocks-production__block d-flex p-md-6 p-4 gap-md-6 gap-3">
                <img src="./img/production2.jpg" alt="производство 2">
                <div>
                    <p class="semibold">Контейнер ПБК Север марки «Energy»</p>
                    <button class="btn btn-primary py-md-12 py-2 px-4 rounded-4 d-inline-block mt-4">Подробнее</button>
                </div>
            </div>
            <div class="blocks-production__block d-flex p-md-6 p-4 gap-md-6 gap-3">
                <img src="./img/production3.jpg" alt="производство 2">
                <div>
                    <p class="semibold">Контейнер ЦБК Север марки «Energy»</p>
                    <button class="btn btn-primary py-md-12 py-2 px-4 rounded-4 d-inline-block mt-4">Подробнее</button>
                </div>
            </div>
        </div>
    </div>
</section>