<section class="projects">
    <div class="container pt-md-9 mt-md-6 mt-8 pt-2">
        <h2 class="title fw-bold mb-md-6 mb-4">
            Реализованные проекты
        </h2>
        <div class="swiffy-slider projects-slider-wrapper slider-item-show3">
            <ul class="slider-container popular-slider py-lg-9 py-md-7 py-4 px-0 mx-0">
                <li class="popular-slider__block d-flex flex-column gap-4 overflow-hidden news-slider">
                    <img src="./img/projects_01.jpg" alt="" class="object-fit-cover">

                    <div class="px-md-6 px-4 pb-4 d-flex flex-column gap-2 news-slider__block h-100">
                        <p class="semibold">ДГУ 30 кВт для электроснабжения цеха по металлообработке</p>
                        <p class="about-wrapper__description flex-fill">В октябре 2024 года от индивидуального мы
                            получили запрос на расчет стоимости по проекту ДЭС на 30 кВт в шумозащитном
                            кожухе для резервного электроснабжения цеха по металлообработке.
                        </p>
                    </div>
                </li>
                <li class="popular-slider__block d-flex flex-column gap-4 overflow-hidden news-slider">
                    <img src="./img/projects_02.jpg" alt="" class="object-fit-cover">

                    <div class="px-md-6 px-4 pb-4 d-flex flex-column gap-2 news-slider__block h-100">
                        <p class="semibold">Дизельный генератор 100 кВт для питомника</p>
                        <p class="about-wrapper__description flex-fill">В ноябре 2024 года от руководства питомника мы
                            получили запрос на расчет стоимости по проекту ДЭС на 100 кВт в
                            шумозащитном кожухе для резервного электроснабжения автоматического полива.
                        </p>
                    </div>
                </li>
                <li class="popular-slider__block d-flex flex-column gap-4 overflow-hidden news-slider">
                    <img src="./img/projects_03.jpg" alt="" class="object-fit-cover">

                    <div class="px-md-6 px-4 pb-4 d-flex flex-column gap-2 news-slider__block h-100">
                        <p class="semibold">ДГУ 100 кВт для крупного сельскохозяйственного предприятия</p>
                        <p class="about-wrapper__description flex-fill">В октябре 2024 г. компания Энерджи Групп
                            осуществила поставку дизельного генератора для крупного сельскохозяйственного
                            предприятия в Саратовской области.
                        </p>
                    </div>
                </li>
                <li class="popular-slider__block d-flex flex-column gap-4 overflow-hidden news-slider">
                    <img src="./img/news_04.jpg" alt="" class="object-fit-cover">

                    <div class="px-md-6 px-4 pb-4 d-flex flex-column gap-2 news-slider__block h-100">
                        <p class="semibold">Дизельный генератор 100 кВт для питомника</p>
                        <p class="about-wrapper__description flex-fill">В ноябре 2024 года от руководства питомника мы
                            получили запрос на расчет стоимости по проекту ДЭС на 100 кВт в
                            шумозащитном кожухе для резервного электроснабжения автоматического полива.
                        </p>
                    </div>
                </li>
                <li class="popular-slider__block d-flex flex-column gap-4 overflow-hidden news-slider">
                    <img src="./img/news_04.jpg" alt="" class="object-fit-cover">
                    <div class="px-md-6 px-4 pb-4 d-flex flex-column gap-2 news-slider__block h-100">
                        <p class="semibold">ДГУ 100 кВт для крупного сельскохозяйственного предприятия</p>
                        <p class="about-wrapper__description flex-fill">В октябре 2024 г. компания Энерджи Групп
                            осуществила поставку дизельного генератора для крупного сельскохозяйственного
                            предприятия в Саратовской области.
                        </p>
                    </div>
                </li>
            </ul>

            <div class="d-none d-lg-block position-absolute popular-slider__arrows-wrapper slider-nav-visible">
                <div class="popular-slider__arrows d-none d-md-flex">
                    <button type="button" class="slider-nav position-relative me-3"></button>
                    <button type="button" class="slider-nav slider-nav-next position-relative"></button>
                </div>
            </div>
        </div>
    </div>
</section>