<section class="projects popular-slider no-background">
    <div class="container pt-md-9 mt-md-6 mt-8 pt-2 slider">
        <h2 class="title fw-bold mb-md-7 mb-4">
            Реализованные проекты
        </h2>
        <div class="swiffy-slider projects-slider-wrapper slider-item-show3">
            <ul class="slider-container popular-slider py-lg-9 py-md-7 py-4">
                <li class="popular-slider__block d-flex flex-column gap-4 overflow-hidden news-slider">
                    <picture>
                        <source srcset="./img/projects_01.webp" type="image/webp">
                        <img loading="lazy" decoding="async" src="./img/projects_01.jpg" alt="project"
                            class="object-fit-cover" width="100%">
                    </picture>

                    <div class="px-md-6 px-4 pb-4 d-flex flex-column gap-2 news-slider__block h-100">
                        <p class="semibold">ДГУ 30 кВт для электроснабжения цеха по&nbsp;металлообработке</p>
                        <p class="about-wrapper__description flex-fill mt-1">В&nbsp;октябре 2024 года
                            от&nbsp;индивидуального
                            мы
                            получили запрос на&nbsp;расчет стоимости по&nbsp;проекту ДЭС на&nbsp;30 кВт
                            в&nbsp;шумозащитном
                            кожухе для резервного электроснабжения цеха по&nbsp;металлообработке.
                        </p>
                    </div>
                </li>
                <li class="popular-slider__block d-flex flex-column gap-4 overflow-hidden news-slider">
                    <picture>
                        <source srcset="./img/projects_02.webp" type="image/webp">
                        <img loading="lazy" decoding="async" src="./img/projects_02.jpg" alt="project"
                            class="object-fit-cover" width="100%">
                    </picture>

                    <div class="px-md-6 px-4 pb-4 d-flex flex-column gap-2 news-slider__block h-100">
                        <p class="semibold">Дизельный генератор 100 кВт для питомника</p>
                        <p class="about-wrapper__description flex-fill mt-1">В&nbsp;ноябре 2024 года от&nbsp;руководства
                            питомника мы
                            получили запрос на&nbsp;расчет стоимости по&nbsp;проекту ДЭС на&nbsp;100 кВт в
                            шумозащитном кожухе для резервного электроснабжения автоматического полива.
                        </p>
                    </div>
                </li>
                <li class="popular-slider__block d-flex flex-column gap-4 overflow-hidden news-slider">
                    <picture>
                        <source srcset="./img/projects_03.webp" type="image/webp">
                        <img loading="lazy" decoding="async" src="./img/projects_03.jpg" alt="project"
                            class="object-fit-cover" width="100%">
                    </picture>

                    <div class="px-md-6 px-4 pb-4 d-flex flex-column gap-2 news-slider__block h-100">
                        <p class="semibold">ДГУ 100 кВт для крупного сельскохозяйственного предприятия</p>
                        <p class="about-wrapper__description flex-fill mt-1">В&nbsp;октябре 2024&nbsp;г. компания
                            Энерджи
                            Групп
                            осуществила поставку дизельного генератора для крупного сельскохозяйственного
                            предприятия в&nbsp;Саратовской области.
                        </p>
                    </div>
                </li>
                <li class="popular-slider__block d-flex flex-column gap-4 overflow-hidden news-slider">
                    <picture>
                        <source srcset="./img/news_04.webp" type="image/webp">
                        <img loading="lazy" decoding="async" src="./img/news_04.jpg" alt="project"
                            class="object-fit-cover" width="100%">
                    </picture>

                    <div class="px-md-6 px-4 pb-4 d-flex flex-column gap-2 news-slider__block h-100">
                        <p class="semibold">Дизельный генератор 100 кВт для питомника</p>
                        <p class="about-wrapper__description flex-fill mt-1">В&nbsp;ноябре 2024 года от&nbsp;руководства
                            питомника мы
                            получили запрос на&nbsp;расчет стоимости по&nbsp;проекту ДЭС на&nbsp;100 кВт в
                            шумозащитном кожухе для резервного электроснабжения автоматического полива.
                        </p>
                    </div>
                </li>
                <li class="popular-slider__block d-flex flex-column gap-4 overflow-hidden news-slider">
                    <picture>
                        <source srcset="./img/news_04.webp" type="image/webp">
                        <img loading="lazy" decoding="async" src="./img/news_04.jpg" alt="project"
                            class="object-fit-cover" width="100%">
                    </picture>
                    <div class="px-md-6 px-4 pb-4 d-flex flex-column gap-2 news-slider__block h-100">
                        <p class="semibold">ДГУ 100 кВт для крупного сельскохозяйственного предприятия</p>
                        <p class="about-wrapper__description flex-fill mt-1">В&nbsp;октябре 2024&nbsp;г. компания
                            Энерджи
                            Групп
                            осуществила поставку дизельного генератора для крупного сельскохозяйственного
                            предприятия в&nbsp;Саратовской области.
                        </p>
                    </div>
                </li>
            </ul>

            <div class="d-none d-lg-block position-absolute popular-slider__arrows-wrapper slider-nav-visible">
                <div class="popular-slider__arrows d-none d-md-flex">
                    <button type="button" class="slider-nav position-relative me-3"></button>
                    <button type="button" class="slider-nav slider-nav-next position-relative"></button>
                </div>
            </div>
        </div>
    </div>
</section>