<section class="services">
    <div class="container pt-md-9 mt-md-6 mt-8 pt-2">
        <h2 class="title fw-bold mb-md-7 mb-4">
            Мы оказываем полный спектр услуг
            по автономному электроснабжению
        </h2>
        <div class="services__items items-services d-grid gap-md-6 gap-3">
            <div class="items-services__item p-md-6 p-4 d-flex flex-column">
                <img src="./img/electro/01.png" alt="first image" class="flex-fill d-block object-fit-cover">
                <p class="mt-5 semibold">Полный каталог электростанций
                    20–2 500 кВт</p>
            </div>
            <div class="items-services__item p-md-6 p-4 position-relative d-flex flex-column justify-content-end">
                <img src="./img/electro/04.jpg" alt="second image" class="back-image position-absolute">
                <div class="items-services__gradient">

                </div>
                <p class="mt-5 semibold position-relative z-3">Контейнеры «Север» <br />
                    для электростанций</p>
            </div>
            <div class="items-services__item p-md-6 p-4 position-relative d-flex flex-column justify-content-end">
                <img src="./img/electro/06.jpg" alt="second image" class="back-image position-absolute">
                <div class="items-services__gradient">

                </div>
                <p class="mt-5 semibold position-relative z-3">Аренда электростанций
                    30–500 кВт</p>
            </div>
            <div class="items-services__item p-md-6 p-4 position-relative d-flex flex-column justify-content-end">
                <img src="./img/electro/02.jpg" alt="second image" class="back-image position-absolute">
                <div class="items-services__gradient">

                </div>
                <p class="mt-5 semibold position-relative z-3">Источники бесперебойного питания 6–800 кВА</p>
            </div>
            <div class="items-services__item p-md-6 p-4 position-relative d-flex flex-column justify-content-end">
                <img src="./img/electro/03.jpg" alt="second image" class="back-image position-absolute">
                <div class="items-services__gradient">

                </div>
                <p class="mt-5 semibold position-relative z-3">Сервис и ремонт</p>
            </div>
            <div class="items-services__item p-md-6 p-4 position-relative d-flex flex-column justify-content-end">
                <img src="./img/electro/05.jpg" alt="second image" class="back-image position-absolute">
                <div class="items-services__gradient">

                </div>
                <p class="mt-5 semibold position-relative z-3">Монтаж и ПНТ</p>
            </div>
        </div>
    </div>
</section>