<section class="services">
    <div class="container pt-md-9 mt-md-6 mt-8 pt-2">
        <h2 class="title fw-bold mb-md-7 mb-4">
            Мы оказываем полный спектр услуг
            по автономному электроснабжению
        </h2>
        <div class="services__items items-services d-grid gap-md-6 gap-3">
            <a href="#" class="items-services__item p-md-6 p-4 d-flex flex-column">
                <picture>
                    <source srcset="./img/electro/01.webp" type="image/webp">
                    <img loading="lazy" decoding="async" src="./img/electro/01.png" alt="first image"
                        class="flex-fill d-block object-fit-cover w-100">
                </picture>
                <p class="mt-5 semibold">Полный каталог электростанций
                    20–2 500 кВт</p>
            </a>
            <a href="#"
                class="items-services__item p-md-6 p-4 position-relative d-flex flex-column justify-content-end">
                <picture>
                    <source srcset="./img/electro/04.webp" type="image/webp">
                    <img loading="lazy" decoding="async" src="./img/electro/04.jpg" alt="second image"
                        class="back-image position-absolute" width="100%" height="100%">
                </picture>
                <div class="items-services__gradient">

                </div>
                <p class="mt-5 semibold position-relative z-3">Контейнеры «Север» <br />
                    для электростанций</p>
            </a>
            <a href="#"
                class="items-services__item p-md-6 p-4 position-relative d-flex flex-column justify-content-end">
                <picture>
                    <source srcset="./img/electro/06.webp" type="image/webp">
                    <img loading="lazy" decoding="async" src="./img/electro/06.jpg" alt="second image"
                        class="back-image position-absolute" width="100%" height="100%">
                </picture>
                <div class="items-services__gradient">

                </div>
                <p class="mt-5 semibold position-relative z-3">Аренда электростанций
                    30–500 кВт</p>
            </a>
            <a href="#"
                class="items-services__item p-md-6 p-4 position-relative d-flex flex-column justify-content-end">
                <picture>
                    <source srcset="./img/electro/02.webp" type="image/webp">
                    <img loading="lazy" decoding="async" src="./img/electro/02.jpg" alt="second image"
                        class="back-image position-absolute" width="100%" height="100%">
                </picture>
                <div class="items-services__gradient">

                </div>
                <p class="mt-5 semibold position-relative z-3">Источники бесперебойного питания 6–800 кВА</p>
            </a>
            <a href="#"
                class="items-services__item p-md-6 p-4 position-relative d-flex flex-column justify-content-end">
                <picture>
                    <source srcset="./img/electro/03.webp" type="image/webp">
                    <img loading="lazy" decoding="async" src="./img/electro/03.jpg" alt="second image"
                        class="back-image position-absolute" width="100%" height="100%">
                </picture>
                <div class="items-services__gradient">

                </div>
                <p class="mt-5 semibold position-relative z-3">Сервис и ремонт</p>
            </a>
            <a href="#"
                class="items-services__item p-md-6 p-4 position-relative d-flex flex-column justify-content-end">
                <picture>
                    <source srcset="./img/electro/05.webp" type="image/webp">
                    <img loading="lazy" decoding="async" src="./img/electro/05.jpg" alt="second image"
                        class="back-image position-absolute" width="100%" height="100%">
                </picture>
                <div class="items-services__gradient">

                </div>
                <p class="mt-5 semibold position-relative z-3">Монтаж и ПНР</p>
            </a>
        </div>
    </div>
</section>