<section class="big-form pt-md-9 mt-md-6 mt-8">
    <div class="container px-0">
        <div class="big-form__wrapper position-relative text-center overflow-hidden pt-md-10 pb-md-0 py-7 px-md-0 px-4">
            <img src="./img/sales.png" alt="form block"
                class="big-form__background-image tab-card__background-image z-0">
            <h2 class="fw-bold">Успейте заказать генератор до 31 декабря</h2>
            <p class="mt-md-5 mt-4 big-form__description">И получите 1 месяц бесплатного техобслуживания в подарок</p>

            <form action="#"
                class="d-flex gap-md-6 gap-4 justify-content-md-center flex-md-row flex-column mt-6 flex-wrap position-relative">
                <input type="text" class="big-form__input p-md-4 p-3 white rounded-3" placeholder="Ваше имя">
                <input type="tel" class="big-form__input p-md-4 p-3 white rounded-3" placeholder="Телефон">
                <button class="btn btn-warning py-md-4 py-3 px-9">Отправить</button>
            </form>
            <p class="big-form__description small mt-md-9 mt-7 pb-md-10">Я согласен на передачу и обработку
                персональных
                данных
                в соответствии
                <br />
                с политикой конфиденциальности
            </p>
        </div>
    </div>
</section>