<section class="projects blagodar popular-slider no-background">
    <div class="container pt-md-9 mt-md-6 mt-8 pt-2 slider">
        <h2 class="title fw-bold mb-md-7 mb-4">
            Отзывы о нас
        </h2>
        <div class="swiffy-slider popular-slider-wrapper slider-item-show4">
            <ul class="slider-container video popular-slider py-lg-9 py-md-7 py-4" id="gallery-videos-demo">
                <li class="news-slider">
                    <a href="#" id="open-video-1" data-iframe="true"
                        data-src="https://rutube.ru/play/embed/85a6ab2db98dfda4735d247bd21fc0eb"
                        class="popular-slider__block d-flex flex-column gap-2 justify-content-end position-relative overflow-hidden p-4 ">
                        <img src="https://rutube.ru/api/video/85a6ab2db98dfda4735d247bd21fc0eb/thumbnail/?redirect=1"
                            alt="Rutube Video" class="object-fit-cover position-absolute w-100 h-100"><svg
                            class="position-absolute player top-50 start-50 translate-middle z-3">
                            <use xlink:href="./img/svg/sprite.svg#player"></use>
                        </svg>

                        <p class="popular-slider__price semibold position-relative z-1">Заголовок</p>
                        <p class="position-relative z-1 big-form__description">Краткое описание о&nbsp;видео или отзыве
                            в&nbsp;2-3 строки</p>
                    </a>
                </li>
                <li class="news-slider">
                    <a href="#" id="open-video-2" data-iframe="true"
                        data-src="https://rutube.ru/play/embed/85a6ab2db98dfda4735d247bd21fc0eb"
                        class="popular-slider__block d-flex flex-column gap-2 justify-content-end position-relative overflow-hidden p-4 ">
                        <img src="https://rutube.ru/api/video/85a6ab2db98dfda4735d247bd21fc0eb/thumbnail/?redirect=1"
                            alt="Rutube Video" class="object-fit-cover position-absolute w-100 h-100"><svg
                            class="position-absolute player top-50 start-50 translate-middle z-3">
                            <use xlink:href="./img/svg/sprite.svg#player"></use>
                        </svg>

                        <p class="popular-slider__price semibold position-relative z-1">Заголовок</p>
                        <p class="position-relative z-1 big-form__description">Краткое описание о&nbsp;видео или отзыве
                            в&nbsp;2-3 строки</p>
                    </a>
                </li>
                <li class="news-slider">
                    <a href="#" id="open-video-3" data-iframe="true"
                        data-src="https://rutube.ru/play/embed/85a6ab2db98dfda4735d247bd21fc0eb"
                        class="popular-slider__block d-flex flex-column gap-2 justify-content-end position-relative overflow-hidden p-4 ">
                        <img src="https://rutube.ru/api/video/85a6ab2db98dfda4735d247bd21fc0eb/thumbnail/?redirect=1"
                            alt="Rutube Video" class="object-fit-cover position-absolute w-100 h-100"><svg
                            class="position-absolute player top-50 start-50 translate-middle z-3">
                            <use xlink:href="./img/svg/sprite.svg#player"></use>
                        </svg>

                        <p class="popular-slider__price semibold position-relative z-1">Заголовок</p>
                        <p class="position-relative z-1 big-form__description">Краткое описание о&nbsp;видео или отзыве
                            в&nbsp;2-3 строки</p>
                    </a>
                </li>
                <li class="news-slider">
                    <a href="#" id="open-video-4" data-iframe="true"
                        data-src="https://rutube.ru/play/embed/85a6ab2db98dfda4735d247bd21fc0eb"
                        class="popular-slider__block d-flex flex-column gap-2 justify-content-end position-relative overflow-hidden p-4 ">
                        <img src="https://rutube.ru/api/video/85a6ab2db98dfda4735d247bd21fc0eb/thumbnail/?redirect=1"
                            alt="Rutube Video" class="object-fit-cover position-absolute w-100 h-100"><svg
                            class="position-absolute player top-50 start-50 translate-middle z-3">
                            <use xlink:href="./img/svg/sprite.svg#player"></use>
                        </svg>

                        <p class="popular-slider__price semibold position-relative z-1">Заголовок</p>
                        <p class="position-relative z-1 big-form__description">Краткое описание о&nbsp;видео или отзыве
                            в&nbsp;2-3 строки</p>
                    </a>
                </li>
            </ul>

            <div class="d-none d-lg-block position-absolute popular-slider__arrows-wrapper slider-nav-visible">
                <div class="popular-slider__arrows d-none d-md-flex">
                    <button type="button" class="slider-nav position-relative me-3"></button>
                    <button type="button" class="slider-nav slider-nav-next position-relative"></button>
                </div>
            </div>
        </div>
    </div>
</section>