.article-breadcrumbs {
  position: relative;
  font-size: 0.875rem;
  color: #51606f;

  @media (max-width: 768px) {
    font-size: 0.75rem;
  }

  &:hover a {
    text-decoration: underline;
  }

  &:last-child {
    color: var(--bs-gray);
  }

  &:not(:last-child):after {
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;
    width: 2px;
    height: 2px;
    background: var(--bs-gray);
    border-radius: 50%;
    transform: translate(0, -50%);

    @media (max-width: 768px) {
      right: 8px;
    }
  }
}