.article-grid {
  grid-template-columns: 1fr 1fr 1fr;

  &>*:first-child {
    grid-column: 1 / 3;
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }

  h1 {
    font-weight: 900;
    line-height: 44px;

    @media (max-width: 768px) {
      font-size: 2rem;
    }

    @media (max-width: 550px) {
      font-size: 1.5rem;
      line-height: 28px;
    }
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  .article-sources a {
    color: var(--bs-gray);
    font-size: 0.875rem;
  }

  .article-conclusion {
    color: var(--bs-gray) !important;
    font-size: 1rem;
  }

  &__item {
    p {
      font-size: 1.125rem;
      color: var(--bs-blue);
      line-height: 1.5;
      margin: 1rem 0;

      @media (max-width: 768px) {
        font-size: 1rem;
      }

      a {
        text-decoration: underline;
        color: var(--orange-color);
      }
    }

    &:first-child ul,
    ol {
      font-size: 1.125rem;

      @media (max-width: 768px) {
        font-size: 1rem;
      }
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
      font-weight: 700;
    }

    img {
      width: 100%;
    }
  }
}

.article-list {
  li {
    position: relative;
    font-size: 1.125rem;
    color: var(--bs-blue);
    line-height: 1.5;
    padding-left: 1rem;

    @media (max-width: 768px) {
      font-size: 1rem;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      /* Позиционируем точку слева от текста */
      top: 9px;
      width: 4px;
      height: 4px;
      background-color: var(--yellow-color);
      /* Цвет точки совпадает с цветом текста */
      border-radius: 50%;
      /* Делаем элемент круглым */
    }
  }
}

.article-anchors {
  background: var(--light-background);
  height: fit-content;
  position: sticky;
  top: 1rem;

  @media (max-width: 992px) {
    top: 9rem
  }

  a {
    color: var(--bs-gray);
    position: relative;
    padding-left: 0.875rem;
    transition: all 0.3s ease;

    &.active {
      color: var(--bs-blue);
    }

    &:hover {
      color: var(--orange-color);
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      /* Позиционируем точку слева от текста */
      top: 50%;
      transform: translateY(-50%);
      width: 4px;
      height: 4px;
      background-color: currentColor;
      /* Цвет точки совпадает с цветом текста */
      border-radius: 50%;
      /* Делаем элемент круглым */
    }
  }
}

.info-article {
  &__text {
    color: var(--bs-gray) !important;
    font-size: 1rem !important;
  }

  &__name {
    font-size: 1rem !important;
  }
}

.cards-article {
  &__item {
    border: 1px solid var(--border-light);
    transition: all 0.3s ease;

    @media (max-width: 550px) {
      img {
        max-height: 61px;
      }
    }

    p {
      color: var(--bs-gray);
      line-height: 1.5;
      font-size: 1rem;
      transition: all 0.3s ease;
    }

    &:hover {
      box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);

      p {
        color: var(--orange-color);
      }
    }
  }
}

.article-socials {
  @media (max-width: 768px) {
    width: 100%;
  }
}

.socials-article {
  &__block {
    background: var(--bs-white);
    border: 1px solid var(--border-light);

    @media (max-width: 768px) {
      &:first-child {
        border: none;
      }
    }
  }

  button {
    background: var(--extra-light-background);
    border-radius: 0.5rem;
    border: none;
    color: inherit;
  }

  &__icon {
    height: fit-content;
    background: var(--extra-light-background);
    border-radius: 0.5rem;

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  &__title {
    font-size: 1rem !important;
  }
}

.article-video {
  min-height: 670px;
}

.icon_telegram {
  width: 20px;
  height: 17px;
  color: var(--bs-blue);
}

.icon_whatsapp {
  width: 20px;
  height: 20px;
  color: var(--bs-blue);
}

.icon_vk {
  width: 18px;
  height: 18px;
  color: var(--bs-blue);
}

.like {
  width: 18px;
  height: 19px;
}

.dislike {
  transform: scaleY(-1);
  width: 18px;
  height: 19px;
}

.pencil {
  width: 18px;
  height: 18px;
}

.clock {
  width: 20px;
  height: 20px;
}