<section class="container reviews-page mt-md-8 mt-5 mb-md-10 pb-md-10 mb-9 pb-3">
  <h1 class="mb-0 vacancy-header">Отзывы</h1>

  <div class="reviews-page__filters d-flex gap-md-2 gap-1 align-items-center mt-md-4 mt-3 flex-wrap">
    <button class="reviews-page__filter buy-page__filter lh-base py-1 fw-semibold px-md-4 px-3 active text-nowrap"
      data-category="about_product">Все</button>
    <button
      class="reviews-page__filter buy-page__filter lh-base py-1 fw-semibold px-md-4 px-3 text-nowrap">Продажа</button>
    <button
      class="reviews-page__filter buy-page__filter lh-base py-1 fw-semibold px-md-4 px-3 text-nowrap">Аренда</button>
  </div>

  <div class="reviews-page__videos d-grid gap-md-6 gap-4 mt-lg-9 mt-md-8 mt-5 video-reviews">
    <div
      class="video-review rounded-md-6 rounded-4 overflow-hidden position-relative d-flex flex-column h-100 d-flex flex-column h-100">
      <div class="position-relative overflow-hidden w-100 d-block video-review__video">
        <img src="https://rutube.ru/api/video/85a6ab2db98dfda4735d247bd21fc0eb/thumbnail/?redirect=1" alt="Rutube Video"
          class="object-fit-cover position-absolute w-100 h-100" />
        <svg class="position-absolute player top-50 start-50 translate-middle z-3">
          <use xlink:href="./img/svg/sprite.svg#player2"></use>
        </svg>
      </div>

      <a href="#" data-iframe="true" data-src="https://rutube.ru/play/embed/85a6ab2db98dfda4735d247bd21fc0eb"
        class="stretched-link" data-lg-id="a5110d4b-b50a-46b6-9e69-b6f1e21cd6d9">
      </a>

      <div class="video-review__wrapper mt-4 px-md-6 pb-md-6 px-4 pb-4 d-flex flex-column flex-fill">
        <p class="semibold">Отзыв о покупке генератора мощностью 150 кВт</p>
        <p class="about-wrapper__description flex-fill mt-2">
          Для базы отдыха "Рауан Ранч" в г. Шымкент была осуществлена поставка
          резервного дизель-генератора мощностью 150 кВт, который гарантировал
          резервное электроснабжение.
        </p>
        <p class="about-wrapper__description mt-md-9 mt-md-5 mt-4 date">
          20 июл 2023
        </p>
      </div>
    </div>
    <div class="video-review rounded-md-6 rounded-4 overflow-hidden position-relative d-flex flex-column h-100">
      <div class="position-relative overflow-hidden w-100 d-block video-review__video">
        <img src="https://rutube.ru/api/video/85a6ab2db98dfda4735d247bd21fc0eb/thumbnail/?redirect=1" alt="Rutube Video"
          class="object-fit-cover position-absolute w-100 h-100" />
        <svg class="position-absolute player top-50 start-50 translate-middle z-3">
          <use xlink:href="./img/svg/sprite.svg#player2"></use>
        </svg>
      </div>

      <a href="#" data-iframe="true" data-src="https://rutube.ru/play/embed/85a6ab2db98dfda4735d247bd21fc0eb"
        class="stretched-link" data-lg-id="a5110d4b-b50a-46b6-9e69-b6f1e21cd6d9">
      </a>

      <div class="video-review__wrapper mt-4 px-md-6 pb-md-6 px-4 pb-4 d-flex flex-column flex-fill">
        <p class="semibold">Отзыв о покупке генератора мощностью 150 кВт</p>
        <p class="about-wrapper__description flex-fill mt-2">
          Для базы отдыха "Рауан Ранч" в г. Шымкент была осуществлена поставка
          резервного дизель-генератора мощностью 150 кВт, который гарантировал
          резервное электроснабжение.
        </p>
        <p class="about-wrapper__description mt-md-9 mt-md-5 mt-4 date">
          20 июл 2023
        </p>
      </div>
    </div>
    <div class="video-review rounded-md-6 rounded-4 overflow-hidden position-relative d-flex flex-column h-100">
      <div class="position-relative overflow-hidden w-100 d-block video-review__video">
        <img src="https://rutube.ru/api/video/85a6ab2db98dfda4735d247bd21fc0eb/thumbnail/?redirect=1" alt="Rutube Video"
          class="object-fit-cover position-absolute w-100 h-100" />
        <svg class="position-absolute player top-50 start-50 translate-middle z-3">
          <use xlink:href="./img/svg/sprite.svg#player2"></use>
        </svg>
      </div>

      <a href="#" data-iframe="true" data-src="https://rutube.ru/play/embed/85a6ab2db98dfda4735d247bd21fc0eb"
        class="stretched-link" data-lg-id="a5110d4b-b50a-46b6-9e69-b6f1e21cd6d9">
      </a>

      <div class="video-review__wrapper mt-4 px-md-6 pb-md-6 px-4 pb-4 d-flex flex-column flex-fill">
        <p class="semibold">Отзыв о покупке генератора мощностью 150 кВт</p>
        <p class="about-wrapper__description flex-fill mt-2">
          Для базы отдыха "Рауан Ранч" в г. Шымкент была осуществлена поставка
          резервного дизель-генератора мощностью 150 кВт, который гарантировал
          резервное электроснабжение.
        </p>
        <p class="about-wrapper__description mt-md-9 mt-md-5 mt-4 date">
          20 июл 2023
        </p>
      </div>
    </div>
    <div class="video-review rounded-md-6 rounded-4 overflow-hidden position-relative d-flex flex-column h-100">
      <div class="position-relative overflow-hidden w-100 d-block video-review__video">
        <img src="https://rutube.ru/api/video/85a6ab2db98dfda4735d247bd21fc0eb/thumbnail/?redirect=1" alt="Rutube Video"
          class="object-fit-cover position-absolute w-100 h-100" />
        <svg class="position-absolute player top-50 start-50 translate-middle z-3">
          <use xlink:href="./img/svg/sprite.svg#player2"></use>
        </svg>
      </div>

      <a href="#" data-iframe="true" data-src="https://rutube.ru/play/embed/85a6ab2db98dfda4735d247bd21fc0eb"
        class="stretched-link" data-lg-id="a5110d4b-b50a-46b6-9e69-b6f1e21cd6d9">
      </a>

      <div class="video-review__wrapper mt-4 px-md-6 pb-md-6 px-4 pb-4 d-flex flex-column flex-fill">
        <p class="semibold">Отзыв о покупке генератора мощностью 150 кВт</p>
        <p class="about-wrapper__description flex-fill mt-2">
          Для базы отдыха "Рауан Ранч" в г. Шымкент была осуществлена поставка
          резервного дизель-генератора мощностью 150 кВт, который гарантировал
          резервное электроснабжение.
        </p>
        <p class="about-wrapper__description mt-md-9 mt-md-5 mt-4 date">
          20 июл 2023
        </p>
      </div>
    </div>
    <div class="video-review rounded-md-6 rounded-4 overflow-hidden position-relative d-flex flex-column h-100">
      <div class="position-relative overflow-hidden w-100 d-block video-review__video">
        <img src="https://rutube.ru/api/video/85a6ab2db98dfda4735d247bd21fc0eb/thumbnail/?redirect=1" alt="Rutube Video"
          class="object-fit-cover position-absolute w-100 h-100" />
        <svg class="position-absolute player top-50 start-50 translate-middle z-3">
          <use xlink:href="./img/svg/sprite.svg#player2"></use>
        </svg>
      </div>

      <a href="#" data-iframe="true" data-src="https://rutube.ru/play/embed/85a6ab2db98dfda4735d247bd21fc0eb"
        class="stretched-link" data-lg-id="a5110d4b-b50a-46b6-9e69-b6f1e21cd6d9">
      </a>

      <div class="video-review__wrapper mt-4 px-md-6 pb-md-6 px-4 pb-4 d-flex flex-column flex-fill">
        <p class="semibold">Отзыв о покупке генератора мощностью 150 кВт</p>
        <p class="about-wrapper__description flex-fill mt-2">
          Для базы отдыха "Рауан Ранч" в г. Шымкент была осуществлена поставка
          резервного дизель-генератора мощностью 150 кВт, который гарантировал
          резервное электроснабжение.
        </p>
        <p class="about-wrapper__description mt-md-9 mt-md-5 mt-4 date">
          20 июл 2023
        </p>
      </div>
    </div>
    <div class="video-review rounded-md-6 rounded-4 overflow-hidden position-relative d-flex flex-column h-100">
      <div class="position-relative overflow-hidden w-100 d-block video-review__video">
        <img src="https://rutube.ru/api/video/85a6ab2db98dfda4735d247bd21fc0eb/thumbnail/?redirect=1" alt="Rutube Video"
          class="object-fit-cover position-absolute w-100 h-100" />
        <svg class="position-absolute player top-50 start-50 translate-middle z-3">
          <use xlink:href="./img/svg/sprite.svg#player2"></use>
        </svg>
      </div>

      <a href="#" data-iframe="true" data-src="https://rutube.ru/play/embed/85a6ab2db98dfda4735d247bd21fc0eb"
        class="stretched-link" data-lg-id="a5110d4b-b50a-46b6-9e69-b6f1e21cd6d9">
      </a>

      <div class="video-review__wrapper mt-4 px-md-6 pb-md-6 px-4 pb-4 d-flex flex-column flex-fill">
        <p class="semibold">Отзыв о покупке генератора мощностью 150 кВт</p>
        <p class="about-wrapper__description flex-fill mt-2">
          Для базы отдыха "Рауан Ранч" в г. Шымкент была осуществлена поставка
          резервного дизель-генератора мощностью 150 кВт, который гарантировал
          резервное электроснабжение.
        </p>
        <p class="about-wrapper__description mt-md-9 mt-md-5 mt-4 date">
          20 июл 2023
        </p>
      </div>
    </div>
  </div>
</section>