<section class="product pt-1 ">
    <div class="container py-lg-9 py-4 pb-md-7 pb-3">
        <div class="product__wrapper d-grid gap-md-6 gap-12">
            <div class="product__item overflow-hidden">
                <img loading="eager" fetchpriority="high" src="./img/product/product__image.jpg" alt="product__image"
                    class="object-fit-cover product__image" width="100%" height="100%">
            </div>
            <div class="product__item p-md-7 p-5 pb-md-12">
                <h2>
                    Аренда дизельного
                    генератора 100 кВт
                </h2>

                <div class="product__characteristicks info-product mt-md-6 mt-4">
                    <div class="info-product__item d-grid pb-12 gap-8">
                        <p class="info-product__name">Мощность (кВт/кВа):</p>
                        <p class="info-product__value">100 кВт/60 кВа</p>
                    </div>
                    <div class="info-product__item d-grid pb-12 mt-12 gap-8">
                        <p class="info-product__name">Габариты:</p>
                        <p class="info-product__value">195×77×1478</p>
                    </div>
                    <div class="info-product__item d-grid pb-12 mt-12 gap-8">
                        <p class="info-product__name">Вес:</p>
                        <p class="info-product__value">1 108</p>
                    </div>
                    <div class="info-product__item d-grid pb-12 mt-12 gap-8">
                        <p class="info-product__name">Расход топлива (л/час):</p>
                        <p class="info-product__value">15 л/час</p>
                    </div>
                    <div class="info-product__item d-grid pb-12 mt-12 gap-8">
                        <p class="info-product__name">Объем бака:</p>
                        <p class="info-product__value">30 Л</p>
                    </div>
                    <div class="info-product__item d-grid pb-12 mt-12 gap-8">
                        <p class="info-product__name">Уровень шума:</p>
                        <p class="info-product__value">66</p>
                    </div>
                </div>

                <div class="mt-md-3 mt-2 d-flex gap-md-8 justify-content-md-start justify-content-between">
                    <div class="tooltip-wrapper position-relative">
                        <div
                            class="icon-button d-flex justify-content-center align-items-center position-relative rounded-3 w-100 h-100">
                            <svg class="reload">
                                <use xlink:href="./img/svg/sprite.svg#gen2"></use>
                            </svg>
                            <div class="custom-tooltip p-12 position-absolute rounded-1">Заправка генератора
                                топливом Заправка генератора топливом</div>
                        </div>
                    </div>
                    <div class="tooltip-wrapper position-relative">
                        <div
                            class="icon-button d-flex justify-content-center align-items-center position-relative rounded-3 w-100 h-100">
                            <svg>
                                <use xlink:href="./img/svg/sprite.svg#battery"></use>
                            </svg>
                            <div class="custom-tooltip p-12 position-absolute rounded-1">Заправка генератора
                                топливом</div>
                        </div>
                    </div>
                    <div class="tooltip-wrapper position-relative">
                        <div
                            class="icon-button d-flex justify-content-center align-items-center position-relative rounded-3 w-100 h-100">
                            <svg class="clock">
                                <use xlink:href="./img/svg/sprite.svg#gen4"></use>
                            </svg>
                            <div class="custom-tooltip p-12 position-absolute rounded-1">Заправка генератора
                                топливом</div>
                        </div>
                    </div>
                    <div class="tooltip-wrapper position-relative">
                        <div
                            class="icon-button d-flex justify-content-center align-items-center position-relative rounded-3 w-100 h-100">
                            <svg class="repair">
                                <use xlink:href="./img/svg/sprite.svg#gen6"></use>
                            </svg>
                            <div class="custom-tooltip p-12 position-absolute rounded-1">Заправка генератора
                                топливом</div>
                        </div>
                    </div>
                    <div class="tooltip-wrapper position-relative">
                        <div
                            class="icon-button d-flex justify-content-center align-items-center position-relative rounded-3 w-100 h-100">
                            <svg>
                                <use xlink:href="./img/svg/sprite.svg#gen3"></use>
                            </svg>
                            <div class="custom-tooltip p-12 position-absolute rounded-1">Заправка генератора
                                топливом</div>
                        </div>
                    </div>
                </div>

                <div class="py-4 rounded-3 product__price text-center mt-md-5 mt-4">
                    <p class="fw-semibold d-inline-block">от&nbsp;<span>3500</span> руб / </p> сутки
                </div>
                <div class="d-grid gap-md-6 gap-12 product__buttons mt-2">
                    <button class="btn btn-warning py-md-6 py-3 semibold open-popup-book">Заказать</button>
                    <button class="btn btn-primary py-md-6 py-3 semibold open-popup-recall">Получить КП</button>
                </div>
            </div>
        </div>
    </div>
</section>