<section class="product-arenda">
    <div class="container pt-md-9 mt-md-6 mt-8 pt-2">
        <h2 class="title fw-bold">
            Для аренды могут быть <br />
            использованы следующие генераторы
        </h2>

        <div class="d-grid product-arenda__wrapper mt-md-7 mt-5 p-7 rounded-3 gap-9">
            <div class="arenda-product__item d-md-flex d-grid gap-4 flex-column gap-md-5">
                <div class="arenda-product__info d-flex flex-column gap-md-12 gap-2">
                    <p class="info-product__name">Модель электростанции</p>
                    <p class="arenda-product__value fw-bold">AKSA APD-145</p>
                </div>
                <div class="arenda-product__info d-flex flex-column gap-md-12 gap-2">
                    <p class="info-product__name">Двигатель</p>
                    <p class="arenda-product__value fw-bold">Cummins</p>
                </div>
                <div class="arenda-product__info d-flex flex-column gap-md-12 gap-2">
                    <p class="info-product__name">Мощность, кВт*</p>
                    <p class="arenda-product__value">105</p>
                </div>
                <div class="arenda-product__info d-flex flex-column gap-md-12 gap-2">
                    <p class="info-product__name">Мощность, кВА*</p>
                    <p class="arenda-product__value">131,25</p>
                </div>
            </div>
            <div class="arenda-product__item d-md-flex d-grid gap-4 flex-column gap-md-5">
                <div class="arenda-product__info d-flex flex-column gap-md-12 gap-2">
                    <p class="info-product__name">Модель электростанции</p>
                    <p class="arenda-product__value fw-bold">Inmesol AD-145</p>
                </div>
                <div class="arenda-product__info d-flex flex-column gap-md-12 gap-2">
                    <p class="info-product__name">Двигатель</p>
                    <p class="arenda-product__value fw-bold">Deutz</p>
                </div>
                <div class="arenda-product__info d-flex flex-column gap-md-12 gap-2">
                    <p class="info-product__name">Мощность, кВт*</p>
                    <p class="arenda-product__value">105</p>
                </div>
                <div class="arenda-product__info d-flex flex-column gap-md-12 gap-2">
                    <p class="info-product__name">Мощность, кВА*</p>
                    <p class="arenda-product__value">131,25</p>
                </div>
            </div>
            <div class="arenda-product__item d-md-flex d-grid gap-4 flex-column gap-md-5">
                <div class="arenda-product__info d-flex flex-column gap-md-12 gap-2">
                    <p class="info-product__name">Модель электростанции</p>
                    <p class="arenda-product__value fw-bold">AKSA APD-145С</p>
                </div>
                <div class="arenda-product__info d-flex flex-column gap-md-12 gap-2">
                    <p class="info-product__name">Двигатель</p>
                    <p class="arenda-product__value fw-bold">Cummins</p>
                </div>
                <div class="arenda-product__info d-flex flex-column gap-md-12 gap-2">
                    <p class="info-product__name">Мощность, кВт*</p>
                    <p class="arenda-product__value">105</p>
                </div>
                <div class="arenda-product__info d-flex flex-column gap-md-12 gap-2">
                    <p class="info-product__name">Мощность, кВА*</p>
                    <p class="arenda-product__value">131,25</p>
                </div>
            </div>
            <div class="arenda-product__item d-md-flex d-grid gap-4 flex-column gap-md-5">
                <div class="arenda-product__info d-flex flex-column gap-md-12 gap-2">
                    <p class="info-product__name">Модель электростанции</p>
                    <p class="arenda-product__value fw-bold">ZEUS AD100-T400I</p>
                </div>
                <div class="arenda-product__info d-flex flex-column gap-md-12 gap-2">
                    <p class="info-product__name">Двигатель</p>
                    <p class="arenda-product__value fw-bold">IVECO</p>
                </div>
                <div class="arenda-product__info d-flex flex-column gap-md-12 gap-2">
                    <p class="info-product__name">Мощность, кВт*</p>
                    <p class="arenda-product__value">100</p>
                </div>
                <div class="arenda-product__info d-flex flex-column gap-md-12 gap-2">
                    <p class="info-product__name">Мощность, кВА*</p>
                    <p class="arenda-product__value">125</p>
                </div>
            </div>
            <div class="arenda-product__item d-md-flex d-grid gap-4 flex-column gap-md-5">
                <div class="arenda-product__info d-flex flex-column gap-md-12 gap-2">
                    <p class="info-product__name">Модель электростанции</p>
                    <p class="arenda-product__value fw-bold">ZEUS AD100-T400C</p>
                </div>
                <div class="arenda-product__info d-flex flex-column gap-md-12 gap-2">
                    <p class="info-product__name">Двигатель</p>
                    <p class="arenda-product__value fw-bold">Cummins</p>
                </div>
                <div class="arenda-product__info d-flex flex-column gap-md-12 gap-2">
                    <p class="info-product__name">Мощность, кВт*</p>
                    <p class="arenda-product__value">100</p>
                </div>
                <div class="arenda-product__info d-flex flex-column gap-md-12 gap-2">
                    <p class="info-product__name">Мощность, кВА*</p>
                    <p class="arenda-product__value">125</p>
                </div>
            </div>
        </div>
    </div>
</section>