.list-project {
    &__border {
        border-bottom: 1px dashed #CDD1D6;
    }

    @media (max-width: 768px) {
        * {
            font-size: 0.875rem !important;
        }
    }
}

.projects-project {
    &__image img {
        max-height: 248px;

        @media (max-width: 768px) {
            max-height: 208px;
        }
    }
}

.projects-buttons {
    &__mobile button {
        font-size: 0.875rem;
    }
}

.projects-overlay {
    min-height: auto;
    top: inherit;
    max-height: 67vh;
    bottom: 0;
    overflow: auto;

    &__cross {
        color: #B5BBC2;
    }
}

.projects-overlays {
    z-index: 100;
}

.projects {
    .projects-slider-wrapper.swiffy-slider {
        @media (max-width: 1350px) {
            --swiffy-slider-item-count: 3.3;
        }

        @media (max-width: 992px) {
            --swiffy-slider-item-count: 2.7;
        }

        @media (max-width: 650px) {
            --swiffy-slider-item-count: 2;
        }
    }
}

// for project page
.project {
    .title {
        @media (max-width: 768px) {
            font-size: 1.125rem;
        }
    }

    .medium-icon {
        @media (max-width: 768px) {
            width: 1rem;
            height: 1rem;
        }
    }
}

.project-description {
    background: var(--extra-light-background);

    &__title {
        font-size: 1.5rem;

        @media (max-width: 768px) {
            font-size: 1.125rem !important;
        }
    }


    @media (max-width: 768px) {
        * {
            font-size: 0.875rem;
        }
    }
}

.project-gallery {
    cursor: pointer;

    &__info {
        padding: 6px 0.75rem;
        border-radius: 3rem;
        background: var(--extra-light-background);
        top: 1.5rem;
        left: 1.5rem;

        p {
            font-size: 0.875rem;
            margin-top: 3px;

            @media (max-width: 768px) {
                font-size: 0.75rem;
            }
        }

        @media (max-width: 768px) {
            top: 0.75rem;
            padding: 6px 8px;
        }
    }
}

.project-content {
    &__video {
        height: 464px;

        @media (max-width: 550px) {
            height: 187px;
        }
    }
}

.project-buttons {
    button:first-child {
        background: var(--extra-light-background);
    }
}

.project-contacts {
    grid-template-columns: 1fr 1fr 1fr 1fr;

    @media (max-width: 992px) {
        grid-template-columns: 1fr 1fr;
    }

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }
}