<div class="container vacancies vacancy mt-6 mb-10 pb-lg-10">
  <h1 class="mb-0 vacancy-header">Электромонтёр в Казани</h1>
  <div
    class="vacancies-card__info d-flex gap-5 align-items-center mt-md-4 mt-3"
  >
    <div class="vacancies-card__price d-flex gap-3 align-items-center">
      <svg class="ruble">
        <use xlink:href="./img/svg/sprite.svg#ruble"></use>
      </svg>
      <p class="fw-bold">80 000 ₽</p>
    </div>
    <div class="vacancies-card__city d-flex gap-3 align-items-center">
      <svg class="place">
        <use xlink:href="./img/svg/sprite.svg#place2"></use>
      </svg>
      <p>Казань</p>
    </div>
  </div>

  <div class="vacancies-grid d-grid gap-lg-6 mt-lg-9 mt-8 pt-lg-0 pt-2">
    <div class="vacancies-grid__item">
      <p class="vacancy-title fw-bold">Обязанности</p>
      <ul class="article-list p-0 mt-md-3 mt-2">
        <li class="mt-2">
          Монтаж, обслуживание и ремонт электрооборудования, силовых и
          осветительных сетей.
        </li>
        <li class="mt-2">
          Проверка и диагностика неисправностей электропроводки, автоматов, УЗО
          и других элементов электросетей.
        </li>
        <li class="mt-2">
          Устранение аварийных ситуаций, оперативное реагирование на заявки.
        </li>
        <li class="mt-2">
          Соблюдение норм безопасности и правил эксплуатации электроустановок.
        </li>
        <li class="mt-2">Ведение документации по выполненным работам.</li>
      </ul>

      <p class="vacancy-title mt-lg-9 mt-8 pt-lg-0 pt-2 fw-bold">Требования</p>
      <ul class="article-list p-0 mt-md-3 mt-2">
        <li class="mt-2">Опыт работы электромонтёром от 1 года.</li>
        <li class="mt-2">Знание ПУЭ, ПТЭЭП, норм безопасности.</li>
        <li class="mt-2">
          Умение читать электросхемы, работать с электроизмерительными
          приборами.
        </li>
        <li class="mt-2">
          Наличие действующего удостоверения по электробезопасности (III группа
          и выше).
        </li>
        <li class="mt-2">
          Ответственность, внимательность, готовность к работе в условиях
          нестандартных ситуаций.
        </li>
      </ul>

      <p class="vacancy-title mt-lg-9 mt-8 pt-lg-0 pt-2 fw-bold">Условия</p>
      <ul class="article-list p-0 mt-md-3 mt-2">
        <li class="mt-2">Официальное трудоустройство по ТК РФ.</li>
        <li class="mt-2">
          Стабильная зарплата (по результатам собеседования).
        </li>
        <li class="mt-2">График работы: 5/2 или сменный (уточняется).</li>
        <li class="mt-2">Возможность профессионального роста и обучения.</li>
        <li class="mt-2">Соцпакет (медстраховка, премии).</li>
      </ul>

      <p class="vacancy-title mt-lg-9 mt-8 pt-lg-0 pt-2 fw-bold">
        Место работы
      </p>
      <p class="vacancy-text mt-4">Казань, пр-т Победы, 173</p>

      <button
        class="btn btn-warning py-3 px-5 mt-9 fw-bold d-lg-block d-none resume-show-popup"
      >
        Отправить резюме
      </button>
    </div>
    <div class="vacancies-grid__item mt-lg-0 mt-8 pt-lg-0 pt-2">
      <div
        class="vacancies-grid__form p-6 d-flex flex-column justify-content-center align-items-center"
      >
        <img src="./img/vacancies/avatar.png" alt="avatar" />
        <p class="fw-bold mt-3 text-center">Понравилась вакансия?</p>
        <p class="text-center vacancy-desc mt-2">
          Отправьте резюме или свяжитесь с нашим кадровым специалистом по
          телефону
          <a href="tel:88005117379" class="fw-bold">8 800 511-73-79</a>
        </p>
        <button
          class="btn mt-4 py-3 px-5 btn-warning fw-bold resume-show-popup"
        >
          Отправить резюме
        </button>
      </div>
    </div>
  </div>
</div>
