<section
  class="container reviews-page mt-md-8 mt-5 mb-md-10 pb-md-10 mb-9 pb-3"
>
  <h1 class="mb-0 vacancy-header">Сравнение товаров</h1>

  <div class="d-flex compare__info info-compare gap-6 mt-6">
    <div class="info-compare__item item-compare d-flex align-items-end gap-12">
      <svg class="mobile-cross compare-amount">
        <use xlink:href="./img/svg/sprite.svg#compare-amount"></use>
      </svg>
      <p>6 товаров</p>
    </div>
    <div class="info-compare__item item-compare d-flex align-items-end gap-12">
      <svg class="mobile-cross compare-amount">
        <use xlink:href="./img/svg/sprite.svg#compare-amount"></use>
      </svg>
      <p>6 товаров</p>
    </div>
    <div class="info-compare__item item-compare d-flex align-items-end gap-12">
      <svg class="mobile-cross compare-amount">
        <use xlink:href="./img/svg/sprite.svg#compare-amount"></use>
      </svg>
      <p>6 товаров</p>
    </div>
  </div>
</section>
