<section class="container payment mt-6 mb-10 pb-lg-10">
  <h1 class="mb-0 vacancy-header fw-bold">Оплата</h1>

  <p class="lh-base big-p mt-4">Компания Energy Group предлагает различные удобные способы оплаты как для физических,
    так и юридических лиц. Мы
    стремимся обеспечить максимальный уровень безопасности и удобства при оформлении заказа.</p>

  <div class="row mt-md-9 mt-8 pt-md-0 pt-2">
    <div class="col-md-6 col-12 mt-0">
      <h2 class="h4 fw-bold">Варианты оплаты для физических лиц</h2>

      <ul class="article-list p-0 mt-md-6 mt-3">
        <li class="mt-2">Наличными курьеру при доставке</li>
        <li class="mt-2">В центральном офисе компании</li>
        <li class="mt-2">Предоплата по реквизитам через Сбербанк путем оплаты счета на ИП, деньги поступают не более чем
          за 1 день
        </li>
        <li class="mt-2">Предоплата 100% при стоимости товара свыше 100 000 рублей</li>
        <li class="mt-2">Оплата по договоренности</li>
        <li class="mt-2">Покупка в кредит</li>
      </ul>
    </div>
    <div class="col-md-6 col-12 mt-md-0 mt-8 pt-md-0 pt-2">
      <h2 class="h4 fw-bold">Варианты оплаты для юридических лиц</h2>

      <ul class="article-list p-0 mt-md-6 mt-3">
        <li class="mt-2">Безналичным расчетом (с НДС и без НДС) путем выставления счета на указанные покупателем
          реквизиты</li>
        <li class="mt-2">Покупка в лизинг через заключение договора с лизинговой компанией</li>
      </ul>
    </div>
  </div>

  <p class="lh-base big-p mt-md-9 mt-8 pt-md-0 pt-2">Цены на все товары на сайте рассчитаны с учетом НДС 20%, включают в
    себя все налоги и
    сборы. Цены могут быть ниже,
    так как действуют скидки и специальные акции! Оставьте заявку и мы Вас оперативно проконсультируем!</p>
</section>