<nav class="container mt-md-8 mt-4 breadcrumbs">
  <ul class="d-flex ps-0 m-0 overflow-x-auto flex-nowrap scroll-snap">
    <li class="article-breadcrumbs pe-md-5 pe-4 lh-base flex-shrink-0 scroll-snap-item">
      <a href="#">Главная</a>
    </li>
    <li class="article-breadcrumbs pe-md-5 pe-4 lh-base flex-shrink-0 scroll-snap-item">
      <a href="#">Блог</a>
    </li>
    <li class="article-breadcrumbs pe-md-5 pe-4 lh-base flex-shrink-0 scroll-snap-item">
      <a href="#">Статья</a>
    </li>
  </ul>
</nav>