.icon-color {
  color: #b5bbc2;
}

.compare {
  h2 {
    @media (max-width: 768px) {
      font-size: 18px;
    }
  }

  .search-field {
    @media (max-width: 768px) {
      width: 100%;
    }
  }
}

.compare-slider {
  &__remove {
    background: var(--extra-light-background);
  }

  .swiffy-slider.projects-slider-wrapper {
    @media (max-width: 1350px) {
      --swiffy-slider-item-count: 3 !important;
    }

    @media (max-width: 768px) {
      --swiffy-slider-item-count: 2 !important;
    }

    @media (max-width: 992px) {
      padding-left: 1rem !important;
    }
  }

  .slider-container {
    scroll-snap-type: x mandatory;
    @media (max-width: 992px) {
      padding-left: 0 !important;
    }
  }

  .slider-container > li {
    scroll-snap-align: start;
  }
}

.search-field {
  width: 293px;
  border: 1px solid #e7e9eb;
}

.search-field__icon {
  position: absolute;
  top: 50%;
  left: 17px;
  transform: translateY(-50%);
  color: #8b929a;
  width: 20px;
  height: 20px;
  pointer-events: none;
}

.search-field__input {
  padding-left: 31px;
  color: #828c97;
}

.search-field__input::placeholder {
  color: #8b929a;
}

.search-field__input:focus {
  background: var(--bs-white);
  border-color: #d5d9dd;
  box-shadow: none;
}

.item-table {
  &:nth-child(odd) {
    background: var(--light-background);
  }

  &:not(:last-child) {
    border-bottom: 1px solid #e7e9eb;
  }

  &__preview {
    color: #51606f;

    @media (max-width: 768px) {
      font-size: 14px;
    }
  }

  &__element {
    border-left: 1px solid #e7e9eb;
    font-size: 1.125rem;
    line-height: 1.5;
    flex: 0 0 24% !important;

    &:first-child {
      border: none !important;
    }

    @media (max-width: 1300px) {
      flex: 0 0 32% !important;
    }

    @media (max-width: 768px) {
      flex: 0 0 50% !important;
      font-size: 14px;
    }
  }
}

.compare-info {
  max-width: 1360px !important;

  @media (min-width: 1300px) {
    &__wrapper {
      padding: 0 2.5rem;
    }
  }
}

.slider-container.compare.popular-slider {
  margin-right: 2rem !important;

  @media (max-width: 992px) {
    margin-right: 0 !important;
  }
}

.info-compare__item {
  span {
    @media (max-width: 768px) {
      font-size: 0.75rem;
    }
  }
}

.compare-mini {
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, 0);
  background: var(--bs-white);
  padding: 0.75rem 0 4rem;

  .slider-counter {
    display: none !important;
  }

  @media (max-width: 992px) {
    padding-bottom: 2rem;
    top: 135px;
  }

  @media (max-width: 768px) {
    top: 64px;
  }

  .compare-slider__wrapper {
    flex-direction: row !important;

    img {
      width: 58px;
      height: 58px;
    }
  }

  .compare-slider__fixed-info {
    gap: 0rem !important;
  }

  .about-wrapper__description {
    font-size: 14px !important;
  }

  .popular-slider.compare {
    margin-top: 0 !important;
    padding-bottom: 0rem !important;
  }

  .popular-slider__block {
    gap: 0.5rem !important;
    padding: 0.75rem 1.5rem !important;

    &:hover {
      box-shadow: none;
    }

    @media (max-width: 768px) {
      padding: 0.75rem 1rem !important;

      picture {
        display: none;
      }

      .fw-semibold.big-p {
        margin-top: 0.5rem !important;
      }
    }
  }
}
