// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --content-width: 1248px;
  --container-offset: 1rem;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
}
