// базовые подключения
@import "vars";
@import "mixins";
@import "fonts";
@import "settings";

@import "./components/lightgallery.scss";
@import "./components/swiffy.scss";
@import "../resources/bootstrap/bootstrap.scss";
@import "../resources/nouislider.min.scss";
@import "./components/main.scss";

// подключения компонентов главной страницы
@import "./components/pre-header.scss";
@import "./components/header";
@import "./components/main-slider.scss";
@import "./components/params.scss";
@import "./components/generators.scss";
@import "./components/manufacturers.scss";
@import "./components/services.scss";
@import "./components/popular-slider.scss";
@import "./components/industry.scss";
@import "./components/production.scss";
@import "./components/about.scss";
@import "./components/big-form.scss";
@import "./components/news-slider.scss";
@import "./components/projects.scss";
@import "./components/video.scss";
@import "./components/blagodar.scss";
@import "./components/footer.scss";

// arenda page
@import "./components/arenda/arenda-generators.scss";
@import "./components/arenda/calculator.scss";
@import "./components/arenda/power.scss";
@import "./components/arenda/usluga.scss";
@import "./components/arenda/price-arenda.scss";
@import "./components/arenda/brends.scss";
@import "./components/arenda/questions.scss";
@import "./components/arenda/form.scss";
@import "./components/arenda/energy-section.scss";
@import "./components/arenda/reviews.scss";
@import "./components/arenda/city-slider.scss";
@import "./components/arenda/tabs.scss";

// product page
@import "./components/product/product.scss";
@import "./components/product/product-arenda.scss";

// popups
@import "./components/popup-book.scss";

// article
@import "./components/article/breadcrumbs.scss";
@import "./components/article/content.scss";

// vacancies + vacancy
@import "./components/vacancies/vacancies.scss";

// reviews
@import "./components/reviews/reviews.scss";

// lists
@import "./components/lists/lists.scss";

// calcs
@import "./components/calcs/calcs.scss";

// delivery
@import "./components/delivery/delivery.scss";

// dgu
@import "./components/dgu/dgu.scss";

// about company
@import "./components/about_company/about_company.scss";

// payment
@import "./components/payment/payment.scss";

// power_calculator
@import "./components/power_calculator/power_calculator.scss";

// contacts
@import "./components/contacts/contacts.scss";

// product_page
@import "./components/product_page/product_page.scss";

// product_page
@import "./components/catalog/catalog.scss";

// quiz
@import './components/quiz/quiz.scss';

// to
@import "./components/to/to.scss";

// montash
@import "./components/montash/montash.scss";

// garant
@import "./components/garant/garant.scss";